/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 *
 *
 *
 */

.wp-block-lf-newsroom {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    @media (min-width: 950px) {
        grid-template-columns: 1fr;
        height: 100%;
        grid-auto-rows: 1fr;
        row-gap: 0px;
    }

    &.is-style-horizontal {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin-bottom: 1em;

        @media (min-width: 1024px) {
            grid-gap: 1.5em;
        }

        .newsroom-date {
            margin-top: auto;
        }

        .newsroom-title {
            margin-bottom: 0.5em;
        }

        .nr-newsroom-image {
            max-width: 260px;
            max-height: 160px;
        }
    }
}
