/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// declare all colours.

$white: #ffffff;

$black: #202020;
$black-700: #000000;
$black-900: #111111;

$grey-400: #a7a7a6;
$grey-700: #444444;

$blue-100: #F0F5F7;
$blue-300: #3CB3DD;
$blue-400: #436ca9;
$blue-600: #416FD9;
$blue-800: #0F1533;
$blue-900: #060927;

$pink-300: #E43B80;
$pink-400: #DE176C;

$purple-200:#9eacdd;
$purple-400: #48549C;
$purple-700: #2C2960;
$purple-800: #242b5e;

// variable setup.

// main.
$primary-color: $pink-400;
$secondary-color: $purple-700;

// links.
$link-color: $pink-400;
$link-hover: $pink-300;
$menu-link: $white;
$menu-hover: #e1e1e1;
$link-color-alt: $blue-400;
$link-hover-alt: $blue-300;

// forms.
$error: #B80611;
$success: green;

// font-stack

$font-primary: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif;
