// Use entry-content class to encapsulate the_content.
// This lets us style lists and links suitable for content.

.entry-content {

    // annoying event box button fix.
    .button {
        &.on-image {
            background-color: $primary-color;
            color: $white;
            margin-top: 1rem;

            &:hover {
                text-decoration: none;
                color: $primary-color;
                background-color: $white;

                a:visited {
                    color: $primary-color !important;
                }
            }

            a:visited {
                color: $primary-color !important;
            }
        }
    }

    p {

        &:not([class*='is-style']):not(.hero-parent-link),
        &.is-style-default {
            max-width: 700px;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

        &:not([class*='is-style']),
        &.is-style-default {
            max-width: 900px;
        }
    }

    ul {
        list-style: disc;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 1.5rem;
        margin-left: 2em;

        // used for tab container.
        &.no-style {
            list-style: none;
            margin-left: 0;
        }

        // second level
        ul {
            margin-bottom: 0;

            // third level
            ul {
                margin-bottom: 0;
            }
        }
    }

    ol {
        list-style: decimal;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 1.5rem;
        margin-left: 2em;
    }

    pre {
        background-color: $grey-800;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: auto;
        border-radius: .3em;
        border: 1px solid $black;
        font-family: $font-code;
        color: $grey-200;
        // fix for old code blocks.
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;

        code {
            overflow: auto;
            line-height: 1.5;
            color: $grey-200;
        }

        &.wp-block-preformatted {
            color: $grey-200;
        }
    }

    div[class*="highlighter-"] code,
    .code-toolbar code {
        display: block;
        margin: 0 20px;
        padding: 15px 16px 14px;
    }

    .is-disabled {
        color: $grey-400;
        cursor: not-allowed;
        font-weight: 500;

        &:hover {
            text-decoration: none;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 0.875em;
        margin-bottom: 1rem;
    }

    tr:nth-of-type(odd) {
        background: #FCFCFC;
    }

    th {
        background: $grey-800;
        color: $white;
        font-weight: 600;
    }

    td,
    th {
        padding: 0.75em;
        border: 1px solid $grey-100;
        vertical-align: top;
    }

    // fix for responsive tables without thead or data-labels.
    @media only screen and (max-width: 768px) {
        table:not([class*='has']) {
            overflow: hidden;
            overflow-x: scroll;
            display: block;
        }
    }

    // Applied to Single Blog Posts only.
    &.post-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-style: normal;
            color: $secondary-color;

            b,
            strong {
                font-weight: 600;
                font-style: normal;
            }
        }

        h1 {
            font-size: 1.9em;
            margin-top: 3rem;
            margin-bottom: 1.5rem;

        }

        h2,
        .h2,
        .has-header-2-font-size {
            font-size: 1.9em;
            margin-top: 3rem;
            margin-bottom: 1.5rem;

        }

        h3,
        .h3,
        .has-header-3-font-size {
            font-size: 1.5em;
            margin-top: 2rem;
            margin-bottom: 1rem;

        }

        h4,
        .h4,
        .has-header-4-font-size {
            font-size: 1.250em;
            margin-top: 2rem;

        }

        h5,
        .h5,
        .has-header-5-font-size {
            font-size: 1em;
            margin-top: 2rem;
        }

        ul,
        ol {
            max-width: 700px;
        }
    }
}
