/* Print Styles */

@media print {
	* {
		transition: none !important;
	}

	.wrap {
		padding: 0em !important;
	}

	.site-header {
		position: static;
	}

	.container-full-width {
		padding: 10px;
	}

	a:after {
		content: unset;
		background-size: 0 !important;
		padding-left: 0 !important;
		margin-left: 0 !important;
	}

	.hello-bar,
	#cookie-banner,
	.back-to-top,
	.wp-block-embed-youtube {
		display: none;
	}

	.hero {
		&.alignfull {
			right: unset;
			left: unset;
			margin-right: unset;
			margin-left: unset;
			width: 100%;
			max-width: unset;
		}

		.background-image-text-overlay {
			margin-left: 25px !important;
			padding-right: 50px;
		}
	}

	.footer {
		padding-top: 0rem;
		padding-bottom: 1rem;
		color: white;

		.newsletter,
		.social-links,
		.modal-hide,
		.copyright-text p:last-child {
			display: none;
		}
	}

	.case-study-subscription-block {
		display: none !important;
	}
}
