/* Print Styles */

@media print {
	* {
		transition: none !important;
	}

	.wrap {
		padding: 0em !important;
	}

	.site-header {
		position: static;
		margin-top: 1rem;
		.container-full-width {
			max-width: 100% !important;
			justify-content: flex-start !important;
			align-content: flex-start;
		}
	}

	a:after {
		content: unset;
		background-size: 0 !important;
		padding-left: 0 !important;
		margin-left: 0 !important;
	}

	.hello-bar,
	#cookie-banner,
	.back-to-top,
	.wp-block-embed-youtube,
	.header-search,
	.header-cta {
		display: none;
	}

	.hero {
		height: unset !important;
		min-height: 175px !important;

		&.alignfull {
			right: unset;
			left: unset;
			margin-right: unset;
			margin-left: unset;
			width: 100%;
			max-width: unset;
			height: 103.1%;
		}

		.background-image-text-overlay {
			margin-left: 25px !important;
			padding-right: 50px !important;
			max-width: calc(100% - 50px);
		}
	}

	.footer {
		margin-top: 2em !important;
		padding: 1rem !important;
		color: white !important;

		.newsletter,
		.social-links,
		.modal-hide,
		.copyright-text p:last-child {
			display: none;
		}

		.copyright-text {
			margin-top: 0;
		}
	}

	.case-study-subscription-block {
		display: none !important;
	}

	.single-lf_case_study .hero h1 {
		font-size: 1.8em;
	}

	.wp-block-lf-case-study-highlights,
	.wp-block-quote {
		display: block;
		page-break-inside: avoid;
	}
}
