/* Specific Print Styles */

@media print {
	* {
		transition: none !important;
	}

	img {
		max-width: 100% !important;
	}

	.wrap {
		padding: 0em !important;
	}

	body,
	.container {
		color: black;
		background: white;
	}

	.site-header {
		position: static;
		background: white;
	}

	a:after {
		content: unset;
		background-size: 0 !important;
		padding-left: 0 !important;
		margin-left: 0 !important;
	}

	.menu-container-with-search,
	.hamburger {
		display: none !important;
	}

	.hello-bar,
	#cookie-banner,
	.back-to-top,
	.wp-block-embed-youtube {
		display: none;
	}

	.hero {
		// page-break-after: avoid !important;
		height: unset !important;

		&.alignfull {
			position: initial;
			right: unset;
			left: unset;
			margin-right: unset;
			margin-left: unset;
			width: unset;
			max-width: unset;
			// margin-bottom: 0;
		}

		&.background-image-wrapper {
			.hero-parent-link {
				// margin-top: 2rem;
				a {
					color: black;
				}
			}
		}

		// removes image from hero
		.background-image-figure {
			display: none;
		}

		.background-image-text-overlay {
			padding-left: 0;
			padding-top: 3rem !important;
			padding-bottom: 0rem !important;

			p,
			h1,
			a {
				color: black !important;
			}
		}
	}

	.footer {
		padding-top: 1rem;
		padding-bottom: 1rem;
		color: #999;
		background-color: white;

		.newsletter,
		.social-links,
		.modal-hide,
		.copyright-text p:last-child {
			display: none;
		}
	}

	.case-study-subscription-block {
		display: none !important;
	}

	.case-study-highlights,
	.case-study-highlights-wrapper {
		background-color: white;
	}

	.case-study-highlights-title,
	.case-study-highlights-wrapper,
	.case-study-highlight-text {
		padding: 0;
	}

	.case-study-overview {
		flex-direction: column-reverse;
	}

	.case-study-overview-wrapper {
		background-color: white !important;
		margin-left: 0 !important;
		// any more width and it is pushed to a new page.
		width: 368px;
		> div {
			background-color: white !important;
			padding: 0rem;
		}
	}

	.single-lf_case_study .hero h1 {
		font-size: 2em;
	}

	// Removed this page-break-inside as it just wasnt working.
	// .single-lf_case_study,
	// .case-study-single,
	// .entry-content,
	// .container.wrap {
	// 	page-break-inside: avoid !important;
	// }

	// .case-study-intro-wrapper,
	// .wp-block-lf-case-study-overview,
	// .case-study-overview {
	// 	page-break-inside: always !important;
	// }

	// img,
	// p,
	// h3,
	// blockquote {
	// 	page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
	// 	page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
	// 	page-break-inside: avoid; /* or 'auto' */
	// }
}
