// theme typography file

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;

    a {
        text-decoration: none;
    }
}

h1 {
    font-size: 2.8em;
    line-height: 1.2;
    margin-bottom: 2rem;

    @media (max-width: 767px) {
        font-size: 2.1em;
    }
}

h2,
.h2,
.has-header-2-font-size {
    font-size: 2.25em;
    line-height: 1.2;
    margin-bottom: 2rem;

    @media (max-width: 767px) {
        font-size: 1.7em;
    }
}

h3,
.h3,
.has-header-3-font-size {
    font-size: 1.75em;
    line-height: 1.4;
    margin-bottom: 2rem;

    @media (max-width: 767px) {
        font-size: 1.35em;
    }
}

h4,
.h4,
.has-header-4-font-size {
    font-size: 1.250em;
    margin-bottom: 1.5rem;

    @media (max-width: 767px) {
        font-size: 1.15em;
    }
}

h5,
.h5,
.has-header-5-font-size {
    font-size: 1em;
    margin-bottom: 1.5rem;
}

h6 {
    font-size: 1em;
    margin-bottom: 1.5rem;
}

p,
li {
    line-height: 1.5;
}

p {
    margin-bottom: 1.5em;

    &:last-child {
        margin-bottom: 0;
    }
}

strong,
b {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

a:link,
a:visited,
a:active,
a:focus {
    color: $primary-color;
    font-weight: 500;
    transition: all 0.25s ease-out;
    text-decoration: none;
}

a:hover {
    color: $primary-color;
    font-weight: 500;
    transition: all 0.25s ease-out;
    text-decoration: underline;
}

// mobile tap color.
a:link {
    -webkit-tap-highlight-color: rgba($secondary-color, 0.3);
}

.no-decoration {
    text-decoration: none;
}
