// declare all colours.

$white: #ffffff;
$black: #202020;

// primary - highlight colour
$primary-300: #ff33bb; // 10% lighter // #e43b80; // cta rollover
$primary-400: #ff00aa; // #de176c; // preferred CTA

// secondary - bolder colour
$secondary-300: #908bb1;
$secondary-500: #50326e; // #4e4a6d;
$secondary-600: #431f67; // #302b54;
$secondary-700: #2c2960;
$secondary-800: #242b5f;
$secondary-900: #2a0552; // #1c214a;

// tertiary
$tertiary-100: #f4f4f4;
$tertiary-400: #436ca9;
$tertiary-600: #416fd9;
$tertiary-700: #0088ff;

// greys.
$grey-100: #f9f9f9;
$grey-200: #abb2bf;
$grey-400: #a7a7a6;
$grey-500: #87969c;
$grey-700: #a7a4b6; // skew box grey.
$grey-800: #333333;

// main.
$primary-color: $primary-400;
$secondary-color: $secondary-700;
$tertiary-color: $tertiary-100;

// links.
$link-color: $primary-400;
$link-hover: $primary-300;

// mobile menu.
$menu-mobile-container: $secondary-900;
$menu-mobile-submenu: $secondary-600;
$menu-mobile-submenu-submenu: $secondary-500;
$menu-mobile-divider: $secondary-900;

// desktop menu.
$menu-desktop-container: $secondary-900;
$menu-desktop-submenu: $secondary-600;
$menu-desktop-submenu-submenu: $secondary-500;
$menu-desktop-divider: $secondary-900;
$menu-desktop-search: $secondary-600;

// menu text/links.
$menu-link: $white;
$menu-hover: $grey-100;

// highlight elements (pricing table, case study overlay)
$cs-overlay: $tertiary-700;
$hero-overlay: #2B1D39;

// forms.
$error: #b80611;
$success: green;

// Setup variables for the hamburger.
$hamburger-active-layer-color: $primary-color;
$hamburger-layer-color: $white;
$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-width: 32px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-border-radius: 1px;
$hamburger-hover-opacity: 1;
$hamburger-active-hover-opacity: 1;

// font-stack.
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, Roboto, Ubuntu,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-code: Hack, "Fira Code", Consolas, Menlo, Monaco, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
	"DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier,
	monospace;

$body-text-color: $secondary-900;

// spacing.
$sm-padding: 2rem;
$lg-padding: 4rem;

$content-width: 1150px;
