.case-study-highlights {
    background-color: $tertiary-100;

    h3,
    strong {
        font-weight: 600;
    }

    @media (min-width: 1200px) {
        h3 {
            font-size: 1.4rem;
        }
    }
}

.case-study-highlights-wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-auto-rows: minmax(120px, auto);
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width: 1200px) {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    background-color: $tertiary-100;

    >div {
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        border-bottom: 0.25em solid $white;
        align-content: space-around;

        @media (max-width: 949px) {
            h3 {
                margin-bottom: 0;
            }

            p {
                margin-top: 0;
            }

        }
    }


    @media (min-width: 550px) and (max-width: 949px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: minmax(180px, auto);

        >div {
            border-bottom: 0px;
            padding: 1em;

            &:nth-child(odd) {
                border-right: 0.25em solid $white;
            }

            &:nth-child(1),
            &:nth-child(2) {
                border-bottom: 0.25em solid $white;
            }
        }
    }

    @media (min-width: 950px) {
        padding-top: 2em;
        padding-bottom: 2em;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: auto;
        max-width: 1000px;

        >div {
            align-items: flex-start;
            border-bottom: 0;
            border-right: 1px solid $white;
            padding: 0em 0.75em;

            &:last-child {
                border-right: 0px;
            }

        }

    }
}

.project-icon {
    width: 22%;
    margin: 0.5em;
    display: inline-block;
}
