.case-study-highlights {
    background-color: $tertiary-100;

    @media (min-width: 768px) {
        h3 {
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
        }
    }
}

.case-study-highlights-wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-auto-rows: minmax(120px, auto);
    background-color: $tertiary-100;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width: 1200px) {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5em;
        border-bottom: 0.25em solid $white;
    }


    @media (min-width: 550px) and (max-width: 949px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: minmax(180px, auto);

        >div {
            border-bottom: 0px;
            padding: 1em;

            &:nth-child(odd) {
                border-right: 0.25em solid $white;
            }

            &:nth-child(1),
            &:nth-child(2) {
                border-bottom: 0.25em solid $white;
            }
        }
    }

    @media (min-width: 950px) {
        padding-top: 2em;
        padding-bottom: 1em;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: auto;
        max-width: 1000px;

        >div {
            border-bottom: 0;
            border-right: 1px solid $white;
            padding: 0em 0.75em;
            align-self: flex-start;

            &:last-child {
                border-right: 0px;
            }

        }

        &.double-row {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 220px);

            .projects-column {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 1;

                h3 {
                    margin-bottom: 1rem;
                    max-width: initial;
                }
            }

            .cs-project-icons {
                display: flex;
                width: initial;
                align-items: center;
                border-bottom: 1px solid $white;
                padding-bottom: 1rem;
            }

            .cs-project-icon {
                width: 10%;
                margin: 1rem;
            }
        }

    }
}

.case-study-highlight-text {
    h3 {
        margin: 0;
    }

    p {
        margin: 0;
        font-weight: 300;
        margin-bottom: 0.5rem;

        strong {
            font-weight: 300;
        }
    }
}

.projects-column {
    align-content: center;
}

.cs-project-icon {
    width: 22%;
    margin: 0.5em;
    display: inline-block;
}
