// columns
// this is more complex than needs to be as it has to override WordPress styles. Sigh.

.wp-block-columns {
    margin-bottom: 1rem;
}

.is-style-column-white-background {
    .wp-block-column {
        background-color: $white;
    }
}

.is-style-column-white-padded {
    background-color: $white;
    padding: 2em;

    @media (max-width: 600px) {
        margin-bottom: 2rem;
    }
}

.is-style-equal-height-responsive {
    align-items: stretch;
}

.is-style-equal-height-responsive-mobile-mini {
    align-items: stretch;

    @media (max-width: 599px) {
        .wp-block-column {
            flex-basis: 50% !important;
        }
    }

}

.is-style-join-table {
    color: $white;
    align-items: initial;
    margin-bottom: 0;

    .wp-block-column {
        margin-left: 0;
        padding: 1.5em;
        font-size: 0.9em;

        a {
            color: $white;
            text-decoration: underline;
        }

        &:nth-child(4n + 1) {
            background-color: lighten($cs-overlay, 16%);
        }

        &:nth-child(4n + 2) {
            background-color: lighten($cs-overlay, 8%);
        }

        &:nth-child(4n + 3) {
            background-color: $cs-overlay;
        }

        &:nth-child(4n + 4) {
            background-color: lighten($cs-overlay, 24%);
        }
    }

}

.is-style-join-table-one {
    background-color: $tertiary-100;
    padding: $sm-padding;

    @media (max-width: 599px) {
        padding-left: 1em;
        padding-right: 1em;
    }

    .wp-block-columns {
        padding-bottom: $sm-padding;
    }

    // make single column table 100%.
    .jt-05.wp-block-column {
        flex-basis: 100% !important;
    }
}

.is-style-end-user-table {
    color: $white;
    align-items: initial;
    margin-bottom: 0;

    .wp-block-column {
        margin-left: 0;
        padding: 1.5em;
        font-size: 0.9em;

        .wp-block-image {
            margin-bottom: 0;
        }

        img[src$=".svg"] {
            width: 100%;
            max-height: 100px;
            object-fit: contain;
            object-position: 0;
        }

        a {
            color: $white;
            text-decoration: underline;
        }

        &:nth-child(3n + 1) {
            background-color: $primary-color;
        }

        &:nth-child(3n + 2) {
            background-color: $tertiary-400;
        }

        &:nth-child(3n + 3) {
            background-color: $secondary-color;
        }
    }
}

.is-style-section-header {
    margin-bottom: 0.5em;
    align-items: baseline;

    h3,
    h6,
    p {
        margin-bottom: 0.5rem;
    }

    @media (min-width: 600px) {


        .wp-block-column.bh-02 {
            text-align: right;
        }
    }
}

.is-style-section-header-column {

    margin-bottom: 0.5em;
    align-items: baseline;

    h3,
    h6,
    p {
        margin-bottom: 0.5rem;
    }

    @media (min-width: 800px) {
        .wp-block-column.bh-02 {
            text-align: right;
        }
    }

    @media (max-width: 799px) {
        .wp-block-column {
            flex-basis: 100% !important;
            margin-left: 0;
        }
    }

    @media (min-width: 782px) {
        .wp-block-column:not(:first-child) {
            margin-left: 5px;
            flex-basis: 50% !important;
        }
    }


}

.wp-block-column+.wp-block-column {
    .is-style-section-header-column {
        .bh-01 {
            flex-basis: 100% !important;
            flex-wrap: wrap !important;
            flex-grow: 1;
        }

        .wp-block-column:not(:first-child) {
            flex-basis: 0% !important;

            @media (max-width: 599px) {
                margin-top: 3rem;
            }

        }
    }
}
