.count-up-block {
	--text-main-color: #ffffff;
	width: 100%;
	color: var(--text-main-color);
	margin-top: 25px;
	margin-bottom: 25px;

	a {
		text-decoration: none;
		display: block;
		color: var(--text-main-color);

		&:visited {
			text-decoration: none;
			color: var(--text-main-color);
		}

		&:hover {
			color: color-mod(var(--text-main-color) tint(10%));
			text-decoration: none;
		}

		@media (min-width: 768px) {
			&:hover {
				.icon-wrap img {
					transition: transform 1s;
					transform: scale(1.05);
				}
			}
		}
	}

	.icon-wrap {
		margin-bottom: 1rem;
		text-align: center;

		img {
			margin: 0 auto;
			width: auto;
			max-height: 100px;

			transition: transform 0.5s;
			transform: scale(1);
		}
	}

	.text-wrap {
		text-align: center;
		margin: 10px auto;
	}

	.number-item {
		font-weight: 600;
		margin-bottom: 0.5rem;

		@media (min-width: 768px) {
			margin-bottom: 1rem;
		}
	}

	.count-up-description {
		color: var(--text-main-color);
		font-weight: 400;
		margin-top: 15px;
		display: block;
		font-size: 1em;
		padding-left: 10px;
		padding-right: 10px;
		line-height: 1.3;
	}
}

.count-up-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	align-items: flex-start;
}

.count-up-column {
	flex-basis: 100%;
	margin-bottom: 20px;

	@media (min-width: 500px) {
		flex: 1 0 48%;
	}

	@media (min-width: 900px) {
		flex: 1 0 23%;
		margin-bottom: 0px;
	}
}

.count-up-column + .count-up-column {
	margin-left: 0%;

	@media (min-width: 415px) {
		margin-left: 2%;
	}
}
