.wp-block-gallery {
    .blocks-gallery-item {
        margin-bottom: 1rem;
    }

    ul.blocks-gallery-grid {
        margin-left: 0;
        margin-top: $lg-padding;
        margin-bottom: calc(4rem - 1rem);
    }

}

.blocks-gallery-grid {
    justify-content: center;
}

p+.wp-block-gallery .blocks-gallery-grid {
    margin-top: calc(#{$lg-padding} - 2rem);
}
