.wp-block-media-text__content {
	margin-top: $sm-padding;
	margin-bottom: $sm-padding;
}

@media (max-width: 599px) {
	.wp-block-media-text.is-stacked-on-mobile:not(.has-media-on-the-right) {
		.wp-block-media-text__media {
			img {
				max-height: 150px;
				width: auto;
				padding-left: 12px;
				padding-right: 12px;
			}
		}

		.wp-block-media-text__content {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}

.wp-block-image:not(.is-resized) {
	width: 100%;
}

// applies to all captions including Gallery.
figcaption {
	font-size: 0.8em;
	font-weight: 400;
	font-style: italic;
	text-align: left;
	padding: 0.5rem 1rem;
	background: $white;
	color: $black;
}

.is-style-no-side-padding {
	.wp-block-media-text__content {
		padding: 0;
		padding-right: 1rem;
	}
}
