.wp-block-media-text__content {
    margin-top: $sm-padding;
    margin-bottom: $sm-padding;
}

@media (max-width: 599px) {
    .wp-block-media-text.is-stacked-on-mobile:not(.has-media-on-the-right) {
        .wp-block-media-text__media {
            img {
                max-height: 150px;
                width: auto;
                padding-left: 12px;
                padding-right: 12px;
            }

        }

        .wp-block-media-text__content {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

.wp-block-image.is-resized {
    width: 100%;

    img[src$=".svg"] {
        width: initial;
    }
}

figcaption {
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
}
