.wp-block-lf-newsroom {
	display: grid;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

	@media (min-width: 950px) {
		grid-template-columns: 1fr;
		height: 100%;
		grid-auto-rows: 1fr;
		grid-row-gap: 0px;
	}

	&.is-style-horizontal {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		grid-row-gap: 1rem;
		grid-column-gap: 1rem;
		margin-bottom: 1rem;

		@media (min-width: 1000px) {
			grid-row-gap: 1.5rem;
			grid-column-gap: 1.5rem;
		}

		.newsroom-date {
			margin-top: auto;
		}

		.newsroom-title {
			margin-bottom: 0.5em;
		}
	}
}

.newsroom-post-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $white;
	padding: 1em;

	&.sticky {
		.newsroom-image-wrapper:after {
			content: "FEATURED";
			position: absolute;
			right: 0;
			top: 0;
			z-index: 10;
			color: $white;
			background-color: $primary-400;
			font-weight: 600;
			font-size: 14px;
			padding: 0.5em;
			// skew
			padding-left: 25px;
			clip-path: polygon(0px 0px, 22px 100%, 100% 100%, 100% 0px, 0px 0px);
		}
	}
}

// differs between CNCF and LFPH.
.newsroom-image-wrapper {
	border: 1px solid $tertiary-color;
	transition: all 0.25s ease;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	object-fit: cover;
	object-position: center;
	max-height: 200px;
	@media (min-width: 922px) {
		max-height: 150px;
	}

	// padding for image wrapper.
	&::before {
		content: "";
		width: 1px;
		margin-left: -1px;
		float: left;
		height: 0;
		padding-top: 630px / 1200px * 100%;
	}

	&::after {
		// clear float.
		content: "";
		display: table;
		clear: both;
	}

	// stops 1px padding.
	img {
		display: block;
		width: 100%;
		height: 100.1%;
	}

	// webp doesn't seem to align without this?
	img[src$=".webp"] {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
	}

	img[src$=".svg"] {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		width: 80%;
		padding: 1rem 0;
		max-height: 90%;
	}

	@media (min-width: 768px) {
		&:hover {
			img {
				opacity: 0.75;
			}

			+ .newsroom-title > a {
				color: $primary-color;
				transition: all 0.25s ease;
				text-decoration: underline;
			}
		}
	}
}

.newsroom-title {
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 1.2;
}

.newsroom-date {
	font-size: 0.875em;
	font-weight: 400;
	color: $grey-500;
}
