.wp-block-lf-newsroom {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	margin-bottom: 1rem;

	@media (min-width: 1000px) {
		grid-row-gap: 1.5rem;
		grid-column-gap: 1.5rem;
	}

	.newsroom-date {
		margin-top: auto;
	}

	.newsroom-title {
		margin-bottom: 0.5em;
	}

	&.has-images-border {
		.newsroom-image-wrapper {
			border: 1px solid $tertiary-color;
		}
	}
}

.newsroom-post-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $white;

	.home & {
		height: 100%;
	}

	&.sticky {
		.newsroom-image-wrapper:after {
			content: "FEATURED";
			position: absolute;
			right: 0;
			top: 0;
			z-index: 10;
			color: $white;
			background-color: $primary-400;
			font-weight: 600;
			font-size: 14px;
			padding: 0.5em;
			// skew
			padding-left: 25px;
			clip-path: polygon(0px 0px, 22px 100%, 100% 100%, 100% 0px, 0px 0px);
		}
	}
}

// differs between CNCF and LFPH.
.newsroom-image-wrapper {
	background-color: $white;
	transition: all 0.25s ease;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	object-fit: cover;
	object-position: center;
	max-height: 225px;

	@media (min-width: 922px) {
		max-height: 200px;
	}

	// padding for image wrapper.
	&::before {
		content: "";
		width: 1px;
		margin-left: -1px;
		float: left;
		height: 0;
		padding-top: 630px / 1200px * 100%;
	}

	&::after {
		// clear float.
		content: "";
		display: table;
		clear: both;
	}

	// stops 1px padding.
	img {
		display: block;
		width: 100%;
		height: 100.1%;
	}

	// webp doesn't seem to align without this?
	img[src$=".webp"] {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
	}

	img[src$=".svg"] {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		padding: 1rem 0;
		max-width: 80%;
		max-height: 95%;
		width: unset;
		height: unset;
	}

	img.radar[src$=".svg"] {
		height: 100%;
		max-height: unset;
		// padding: 0.9rem 0;
	}

	@media (min-width: 768px) {
		&:hover {
			img {
				opacity: 0.75;
			}

			+ .newsroom-title > a {
				color: $primary-color;
				transition: all 0.25s ease;
				text-decoration: underline;
			}

			+ .webinars-upcoming-text-wrapper .webinar-title > a {
				color: $primary-color;
				transition: all 0.25s ease;
				text-decoration: underline;
			}
		}
	}
}

.newsroom-title {
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 1.4;
	padding: 1rem;
}

.newsroom-date {
	font-size: 0.875em;
	font-weight: 400;
	color: $grey-500;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	margin-top: auto;
}

.single-lf_project .newsroom-image-wrapper {
	.media-logo {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		padding: 1rem 0;
		max-width: 80%;
		max-height: 95%;
		width: unset;
		height: unset;
	}
}
