.has-normal-font-size {
    font-size: 1em;
}

// if the text has colour then apply a different link colour
// assuming text colour change is because of background
p.has-text-color a {
    color: $tertiary-600;

    &:hover {
        color: $secondary-800;

    }
}

.is-style-max-width-600 {
    max-width: 600px;
}

.is-style-max-width-700 {
    max-width: 700px;
}

.is-style-max-width-800 {
    max-width: 800px;
}

.is-style-max-width-900 {
    max-width: 900px;
}

.is-style-max-width-100 {
    max-width: 100%;
}

.is-style-center-width-700 {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: center;
}

.is-style-center-width-800 {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
}

.is-style-center-width-900 {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    text-align: center;
}

.entry-content {
    .is-style-no-max-width {
        max-width: 100%;
    }
}

.is-style-no-margins {
    margin-bottom: 0;
    margin-top: 0;
}

.is-style-bottom-margin {
    margin-bottom: 1rem;
}

.is-style-divider-line {
    border-bottom: 1px solid black;

}

.is-style-add-chevron-after {

    a {
        display: inline-flex;
        align-items: center;

        &::after {
            content: ' ';
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.662 15.286l-6.9-6.999a.994.994 0 0 0-1.414 0 1.016 1.016 0 0 0 0 1.428L21.544 16l-6.196 6.285a1.016 1.016 0 0 0 0 1.428.994.994 0 0 0 1.414 0l6.899-6.999a1.043 1.043 0 0 0 .001-1.428z' fill='currentColor'/%3E%3Cpath d='M16.662 15.286L9.763 8.287a.994.994 0 0 0-1.414 0 1.016 1.016 0 0 0 0 1.428L14.544 16l-6.196 6.285a1.016 1.016 0 0 0 0 1.428.994.994 0 0 0 1.414 0l6.899-6.999a1.043 1.043 0 0 0 .001-1.428z' fill='currentColor'/%3E%3C/svg%3E");
            background-size: 1em 1em;
            height: 1em;
            width: 1em;
            background-repeat: no-repeat;
            margin-left: 0rem;
            filter: invert(31%) sepia(94%) saturate(6410%) hue-rotate(323deg) brightness(89%) contrast(95%);

            display: inline-flex;
            white-space: nowrap;
            align-self: center;
        }
    }
}
