.has-normal-font-size {
	font-size: 1em;
}

// if the text has colour then apply a different link colour
// assuming text colour change is because of background
p.has-text-color a {
	color: $tertiary-600;

	&:hover {
		color: $secondary-800;
	}
}

.is-style-max-width-600 {
	max-width: 600px;
}

.is-style-max-width-700 {
	max-width: 700px;
}

.is-style-max-width-800 {
	max-width: 800px;
}

.is-style-max-width-900 {
	max-width: 900px;
}

.is-style-max-width-100 {
	max-width: 100%;
}

.is-style-center-width-700 {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	text-align: center;
}

.is-style-center-width-800 {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	text-align: center;
}

.is-style-center-width-900 {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	text-align: center;
}

.entry-content {
	.is-style-no-max-width {
		max-width: 100%;
	}
}

.is-style-no-margins {
	margin-bottom: 0;
	margin-top: 0;
}

.is-style-bottom-margin {
	margin-bottom: 1rem;
}

.is-style-small-bottom-margin {
	margin-bottom: 0.5rem;
}

.is-style-divider-line {
	display: inline-block;
	position: relative;
	padding: 10px 20px 10px 0px;

	@media (max-width: 499px) {
		padding-right: 0;
		margin-top: 1.5rem;
	}

	margin-top: 2rem;
	background: transparent;
	max-width: 80%;

	&:before {
		content: " ";
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		background-color: $grey-700;
		bottom: -2px;
	}

	@media (min-width: 375px) {
		&:after {
			content: " ";
			position: absolute;
			display: block;
			width: 2.5px;
			height: 90%;
			right: -1px;
			bottom: -2px;
			z-index: -1;
			background: $grey-700;
			transform-origin: bottom left;
			transform: skew(-40deg, 0deg) scaleY(0.7);
		}
	}
}
