// these have to be !important to override the inline CSS.

.is-style-100-responsive {
    height: 50px !important;

    @media (min-width: 1000px) {
        height: 100px !important;
    }
}

.is-style-80-responsive {
    height: 40px !important;

    @media (min-width: 1000px) {
        height: 80px !important;
    }
}

.is-style-60-responsive {
    height: 30px !important;

    @media (min-width: 1000px) {
        height: 60px !important;
    }
}

.is-style-40-responsive {
    height: 20px !important;

    @media (min-width: 1000px) {
        height: 40px !important;
    }
}
