// revised file as original wasn't suitable for lf-theme.

.text-hero {
    background: linear-gradient(-90deg, #000f38 0%, #010119 100%);
    color: $white;
    position: relative;
}

.text-hero-overlay {
    @media (min-width: 700px) {
        background: linear-gradient(90deg, rgba(1, 2, 25, 1) 15%, rgba(0, 0, 0, 0) 75%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

.text-hero-container {
    @media (min-width: 700px) {
        display: flex;
        align-items: center;
        height: calc(85vh - 4rem);
        min-height: 400px;
        max-height: 800px;
    }
}

.text-hero-container .background-image-figure {
    @media (max-width: 699px) {
        padding-top: 69%;
    }

    img {
        padding: 1rem;
        object-fit: contain;
        object-position: center right;

        @media (max-width: 699px) {
            object-position: top center;

        }
    }
}

.text-hero-container .background-image-text-overlay {
    width: 100%;

    h1 {
        max-width: 600px;

        @media (min-width: 414px) {
            font-size: 2.8em;
        }

        @media (min-width: 1000px) {
            font-size: 3em;
        }

    }

    p {
        max-width: 450px;

        @media (max-width: 699px) {
            margin-bottom: 2rem;
        }
    }
}
