// Custom Twitter Feed Plugin (LFPH Only).
// .ctf-styles {
// 	padding: 0 0.5em;
// }

// Embedded single tweets
.wp-block-embed-twitter {
	margin-top: 1rem;
	margin-bottom: 1rem;
	@media (min-width: 800px) {
		min-height: 280px;
	}
	.wp-block-embed__wrapper {
		display: inline-block;
	}
}
