/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 */

.wp-block-lf-youtube-lite {
	position: relative;
	padding-bottom: 56.25%;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100% !important;
	}
}

// stop iframe being selected instead of block.
.stop-video-click {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 9999;
}
