// Fixing alignment for blocks in editor.
.wp-block {
	max-width: 100%;
}

// unset margins, so they don't center.
.block-editor-block-list__layout .wp-block:not(.wp-block-button) {
	margin-left: unset;
	margin-right: unset;
}

// aligns content in groups a little better
.wp-block-group,
.wp-block-group.has-background {
	padding: 1.25em 2em;
}

// added to stop known WP issue where buttons lose margin in columns.
// https://github.com/WordPress/gutenberg/issues/28549
.wp-block-columns .wp-block-buttons .wp-block-button {
	margin-right: 0.5em;
}
