// Backend Alignment Only.

.edit-post-visual-editor.has-inline-canvas {
	background-color: white;
}

// aligns content in groups a little better
.wp-block-group,
.wp-block-group.has-background {
	padding: 1.25rem 0.5rem;
	> .wp-block-group {
		padding: 1rem 0.25rem;
	}
}

// added to stop known WP issue where buttons lose margin in columns.
// https://github.com/WordPress/gutenberg/issues/28549
.wp-block-columns .wp-block-buttons .wp-block-button {
	margin-right: 0.5em;
}

.editor-styles-wrapper.block-editor-writing-flow {
	margin-left: 1rem;
}

// Constrict content in Editor.
.wp-block[data-align='full'] > .wp-block-group {
	> * {
		max-width: $content-width;
		// margin-left: unset !important;
		// margin-right: unset !important;
	}
}

// Experimental unset centering.
html {
	.editor-styles-wrapper
		.edit-post-visual-editor__post-title-wrapper
		> :where(:not(.alignleft):not(.alignright):not(.alignfull)),
	.editor-styles-wrapper
		.block-editor-block-list__layout.is-root-container
		> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		margin-left: unset !important;
		margin-right: unset !important;
	}
}

// Give columns some extra padding.
.wp-block-columns {
	padding-top: 1rem;
}

body {
	&.post-type-post {
		.wp-block {
			max-width: 900px !important;
		}

		/* Width of "wide" blocks */
		.wp-block[data-align='wide'] {
			max-width: 900px !important;
		}

		/* Width of "full-wide" blocks */
		.wp-block[data-align='full'] {
			max-width: 900px !important;
		}
	}
}

body {
	&.post-type-lf_case_study,
	&.post-type-lf_case_study_cn {
		.wp-block {
			max-width: 1000px !important;
		}

		/* Width of "wide" blocks */
		.wp-block[data-align='wide'] {
			max-width: 1000px !important;
		}

		/* Width of "full-wide" blocks */
		.wp-block[data-align='full'] {
			max-width: 1000px !important;
		}
	}
}
