%outline {
	color: #757ba2;
	position: absolute;
	left: 1px;
	top: 0;
	line-height: 1;
	font-size: 10px;
	// transform: translateY(-100%);
}

// Group.
.wp-block-group {
	border: 1px solid #757ba2;

	&:before {
		content: 'GROUP BLOCK';
		@extend %outline;
	}
}

// Columns.
.wp-block-columns {
	border: 1px solid #757ba2;

	&:before {
		content: 'COLUMNS BLOCK';
		@extend %outline;
	}
}

.block-editor #editor .editor-styles-wrapper .wp-block {
	&[data-align='wide'] {
		> .wp-block-group {
			&:before {
				content: 'WIDE WIDTH GROUP BLOCK';
				@extend %outline;
			}
		}

		> .wp-block-cover {
			&:before {
				content: 'WIDE WIDTH COVER BLOCK';
				@extend %outline;
			}
		}
	}

	&[data-align='full'] {
		> .wp-block-group {
			&:before {
				content: 'FULL WIDTH GROUP BLOCK';
				@extend %outline;
			}
		}

		> .wp-block-cover {
			&:before {
				content: 'FULL WIDTH COVER BLOCK';
				@extend %outline;
			}
		}
	}
}

// Style the spacer block (for Editor)
.block-library-spacer__resize-container {
	border: 1px solid #757ba2;
	color: #d8d8d8;

	&:after {
		content: 'SPACER BLOCK';
		@extend %outline;
		// color: #d8d8d8;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
