$font-serif: 'Source Serif Pro', 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', 'Times',
	'Source Serif Pro', serif;

.wp-block-lf-quote-with-quote-mark {
	font-style: italic;
	font-family: $font-serif;
	@media (min-width: 1200px) {
		max-width: 995px;
	}
	&__quote {
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 160%;
		@media (min-width: 1200px) {
			font-size: 30px;
			margin-bottom: 45px;
		}
	}
	&__name {
		font-family: $font-serif;
		font-weight: 700;
		line-height: 1;
		margin: 0;
		font-size: 18px;
		@media (min-width: 1200px) {
			font-size: 20px;
		}
	}
	&__position {
		font-family: $font-serif;
		font-size: 16px;
		margin: 0;
		margin-top: 2px !important; // Needed to override p+p
		line-height: 130%;
	}
	&__mark {
		position: relative;
		padding-left: calc(64px + 20px);
		@media (min-width: 1200px) {
			padding-left: calc(67px + 30px);
		}
		p {
			margin-bottom: 0;
		}
		&:before {
			background-image: url("data:image/svg+xml,%3Csvg width='78' height='56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.76 55.056c12.96-9.36 24.048-22.176 24.048-37.152C33.808 7.536 28.336.48 19.408.48c-9.072 0-18 8.64-18 18.576 0 8.208 5.76 13.68 13.104 13.68-3.168 4.752-8.064 10.08-13.824 13.968l9.072 8.352zm43.2 0c12.96-9.36 24.048-22.176 24.048-37.152C77.008 7.536 71.536.48 62.608.48c-9.072 0-18 8.64-18 18.576 0 8.208 5.76 13.68 13.104 13.68-3.168 4.752-8.064 10.08-13.824 13.968l9.072 8.352z' fill='currentColor' /%3E%3C/svg%3E");
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			top: 0;
			background-repeat: no-repeat;
			width: 64px;
			height: 46px;
			background-size: 64px 46px;
		}
	}
}
