.wp-block-lf-iframe {
	position: relative;
	padding: 1em;

	// stop iframe being selected instead of block.
	.iframe-overlay {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 9999;
	}
}
