/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 *
 */

// add padding so it is selectable.
.case-study-overview {
	padding: 1rem;
}

.case-study-overview-wrapper {
	padding: 1rem;
	background-color: #f4f4f4;
}
