/* Pop */
@keyframes pop-sm {
	50% {
		transform: scale(1.03);
	}
}

@media (hover: hover) {
	.has-animation-scale-2 {
		transition-property: transform;
		transition-duration: 0.3s;
		transform: translate3d(0, 0, 0);
		&:hover {
			transform: scale(1.013);
		}
	}
	.has-animation-bump {
		transition-property: transform;
		transition-duration: 0.3s;
		&:hover {
			transform: translate3d(0, -8px, 0);
		}
	}
}
