// makes button plain like icon (wechat, people modal).
.button-reset {
	border: none;
	background: none;
	box-sizing: border-box;
	padding: 0;
	cursor: pointer;
	display: block;
	margin-left: initial;
	margin-right: initial;
	width: unset;
	&:active {
		color: inherit;
	}
}

// Recreate our buttons for forms.
.hs-button {
	border: 0; // reset.
	padding: 0; // reset.
	margin: 0; // reset.
	box-shadow: none; // reset.
	box-sizing: border-box;
	border-radius: 5px;
	font-family: $font-primary;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: none;
	background-color: $link-color;
	color: $white;
	text-transform: uppercase;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 40px;
	padding-right: 40px;

	cursor: pointer;
	word-break: break-word;
	letter-spacing: 0.02em;
	text-align: center;
	width: 100%;
	max-width: 100%;
	transition: background-color 0.25s ease-out;
}

// .hs-button,
// .wp-block-button .wp-block-button__link,
.wp-block-button__link {
	cursor: pointer;
	word-break: break-word;
	// letter-spacing: 0.02em;
	text-align: center;
	// white-space: nowrap;
	width: 100%;
	max-width: 100%;
	transition: background-color 0.25s ease-out;
	// &:hover {
	// 	color: $white;
	// 	background-color: $link-hover;
	// 	text-decoration: none;
	// }

	// &:visited
	&:link {
		color: $white;
		text-decoration: none;
	}

	&.has-no-padding {
		padding-left: 0;
		padding-right: 0;
	}

	&.has-black-color:hover {
		color: $white !important;
	}
}

// parent container, styles are attached here.
// Visit project website on project single
.wp-block-button {
	&.is-style-reduced-height {
		.wp-block-button__link {
			font-size: 14px;
			line-height: 16px;
			border-radius: 3px;
			// 16px line-height + 10px makes buttons 36px.
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

// button on browser update panel.
body #buorgig, body #buorgul {
	color: black;
}
