// makes button plain like icon (wechat, people modal).
.button-reset {
	border: none;
	background: none;
	box-sizing: border-box;
	padding: 0;
	cursor: pointer;
	display: block;
	margin-left: initial;
	margin-right: initial;
	width: unset;
	&:active {
		color: inherit;
	}
}

// Recreate our buttons for forms.
.hs-button {
	border: 0; // reset.
	padding: 0; // reset.
	margin: 0; // reset.
	box-shadow: none; // reset.
	box-sizing: border-box;
	border-radius: 5px;
	font-family: $font-primary;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: none;
	background-color: $link-color;
	color: $white;
	text-transform: uppercase;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 40px;
	padding-right: 40px;

	cursor: pointer;
	word-break: break-word;
	letter-spacing: 0.02em;
	text-align: center;
	width: 100%;
	max-width: 100%;
	transition: background-color 0.25s ease-out;
}

.wp-block-button__link {
	cursor: pointer;
	word-break: break-word;
	text-align: center;
	width: 100%;
	max-width: 100%;
	transition: background-color 0.25s ease-out;
	&:link {
		color: $white;
		text-decoration: none;
	}

	&.has-no-padding {
		padding-left: 0;
		padding-right: 0;
	}

	&.has-black-color:hover {
		color: $white !important;
	}
}

// parent container, styles are attached here.
.wp-block-button {
	// Visit project website on project single
	&.is-style-reduced-height {
		.wp-block-button__link {
			font-size: 14px;
			line-height: 16px;
			border-radius: 3px;
			// 16px line-height + 10px makes buttons 36px.
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	&.is-style-jump-button {
		.wp-block-button__link {
			color: $black;
			font-size: 14px;
			@media (min-width: 768px) {
				font-size: 16px;
			}
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0.32px;
			text-transform: uppercase;
			padding-top: 18px;
			padding-bottom: 18px;
			border-radius: 5px;
			border: 1px solid #fff;
			background-color: #f2f2f2;
			box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
			&:before {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='8' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m2 2 10 8 10-8' stroke='%23000' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
				background-repeat: no-repeat;
				display: inline-block; // allows to control dimensions.
				height: 8px;
				width: 20px;
				margin-right: 16px;
			}
			&:hover {
				background-color: #eaeaea;
				transition: all 0.3s;
			}
		}
	}
}

// button on browser update panel.
body #buorgig,
body #buorgul {
	color: black;
}
