input[type='text'],
input[type='email'],
input[type='search'] {
	height: 50px;
	width: 100%;
	border-radius: 3px;
	-webkit-appearance: none;
	// makes border lighter.
	border: 1px solid $gray-500;
	padding-left: 5px;
}

// Controls autocomplete styles.
input,
textarea,
select {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		// Stop Chrome autofill by 9999s.
		transition: background-color 9999s ease-out 0s;
	}
}

// Restrict hubspot contact form to 800px. Must use !important.
// Selector is not great and may interfere with other forms.
.hs-form-iframe {
	max-width: 800px;
	margin-top: 40px;
	margin-bottom: 40px;
	min-height: 80px;
	@media (min-width: 1200px) {
		margin-top: 80px;
		margin-bottom: 80px;
	}
}

// Remove small X in search bar in Chrome.
input[type='search']::-webkit-search-cancel-button {
	display: none;
}

// If page title is turned off then move password form down the page.
.page-template-no-page-title form.post-password-form {
	margin-top: 80px;
}