html {
	visibility: visible !important;
}

body {
	height: auto;
	background-color: $white;
	font-family: $font-primary;
	font-size: 0.875em; // 14px.
	@media (min-width: 768px) {
		font-size: 1em; // 16px.
	}
	color: $body-text-color;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// fixes menu off bottom of screen.
	overscroll-behavior: none;

	&.has-menu-active {
		// Stops bg moving when menu open.
		overflow: hidden;
		height: 100%;
		position: fixed;
		touch-action: none;
	}
}

// applied on pages, need this because of .alignwide blocks.
// .page-content {
// 	overflow-x: hidden;
// }

// default content container.
.container {
	width: 100%;
	max-width: 100%;
	@media (min-width: 1200px) {
		max-width: $content-width;
	}
	margin: auto;
}

.wrap {
	padding-left: 12px;
	padding-right: 12px;

	@media (min-width: 375px) {
		padding-left: 24px;
		padding-right: 24px;
	}

	@media (min-width: 550px) {
		padding-left: 25px;
		padding-right: 25px;
	}

	// TODO: Check this value.
	@media (min-width: 1250px) {
		padding-left: 0px;
		padding-right: 0px;
	}
}

// @media (min-width: 600px) {
// 	.show-mobile-only {
// 		display: none;
// 	}
// }

// .show-tablet-only {
// 	@media (max-width: 599px) {
// 		display: none;
// 	}
// }

@media (min-width: 600px) {
	.show-upto-600 {
		display: none;
	}
}

.show-over-600 {
	@media (max-width: 599px) {
		display: none !important;
	}
}

.show-over-800 {
	@media (max-width: 799px) {
		display: none !important;
	}
}

@media (min-width: 1000px) {
	.show-upto-1000 {
		display: none;
	}
}

.show-over-1000 {
	@media (max-width: 999px) {
		display: none !important;
	}
}

// .background-image-wrapper {
// 	overflow: hidden;
// 	position: relative;
// }

// .background-image-figure {
// 	img {
// 		width: 100%;
// 		height: 100%;
// 		object-fit: cover;
// 		position: absolute;
// 		z-index: 1;
// 		top: 0;
// 		left: 0;
// 	}
// }

// .background-image-text-overlay {
// 	position: relative;
// 	z-index: 2;
// }

.assistive-text,
.screen-reader-text,
.sr-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
	width: 1px;
}

.skip-link {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
	transition: none;
	background-color: #f1f1f1;
	border-radius: 3px;
	filter: drop-shadow(0 0 2px 2px rgba(0, 0, 0, 0.6));
	color: #000000;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 15px 23px 14px;
	text-decoration: none;
	&:focus {
		clip: auto !important;
		clip-path: none;
		display: block;
		height: auto;
		line-height: normal;
		left: 5px;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
}

// Do not show the outline on the skip link target.
#maincontent[tabindex='-1']:focus {
	outline: 0;
}

.box-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 4;
}

.normal-case {
	text-transform: none !important;
}
