body .wp-block-quote {
	max-width: 900px;
	border-left: 0 !important;
	padding-left: 0;
	p {
		font-size: 22px;
		@media (min-width: 1200px) {
			font-size: 36px;
			line-height: 160%;
		}
	}
	cite {
		display: block;
		line-height: 1.5;
		color: $gray-700;
		max-width: 95%;
		@media (min-width: 500px) {
			max-width: min(80%, 800px);
		}
	}
	&[class*='has-'] {
		p {
			font-size: inherit;
			@media (min-width: 1200px) {
				font-size: inherit;
			}
		}
	}
	&.is-style-smaller-quote {
		p {
			line-height: 175%;
			letter-spacing: 0.02em;
			font-size: 18px;
			@media (min-width: 1200px) {
				font-size: 22px;
				line-height: 160%;
			}
		}
		cite {
			font-size: 16px;
		}
	}
	&.has-normal-font-size {
		p {
			line-height: 175%;
			letter-spacing: 0.02em;
			font-size: 16px;
			@media (min-width: 1200px) {
				font-size: 22px;
				line-height: 160%;
			}
		}
		cite {
			font-size: 16px;
		}
	}
}
