// Overwrites the terrible WordPress defaults.
@media (min-width: 600px) and (max-width: 781px) {
	body .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:only-child) {
		flex-basis: 100% !important;
	}
	body .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:nth-child(even) {
		margin-left: 0 !important;
	}
}

// Experimental.
body .wp-block-columns {
	// Overrides terrible WordPress default bottom margin.
	margin-bottom: 0;
	@media (max-width: 781px) {
		row-gap: 0px !important;
	}
	@media (min-width: 782px) {
		gap: 0px 30px;
	}
}

.is-style-blob-grid {
	@media (min-width: 782px) {
		gap: 0px 50px;
	}
	.wp-block-column:nth-child(2) {
		@media (min-width: 1000px) {
			max-width: 580px;
		}
	}
	.wp-block-image {
		margin-top: 0;
		&.alignleft {
			margin-right: 0;
			margin-top: 0;
			margin-inline-end: 0;
		}
	}
}

.wp-block-columns {
	&.is-style-50px-padding {
		padding: 25px;
		@media (min-width: 800px) {
			padding: 45px 50px;
		}
	}
}

.wp-block-columns:not(.is-not-stacked-on-mobile) {
	&.is-style-0px-gap {
		@media (min-width: 782px) {
			gap: 0;
		}
	}
	&.is-style-50px-gap {
		@media (min-width: 782px) {
			gap: 0 50px;
		}
	}
	&.is-style-70px-gap {
		@media (min-width: 782px) {
			gap: 0 70px;
		}
	}
}

body {
	main {
		.wp-block-columns {
			&.is-style-2-column-mobile {
				gap: 20px 20px !important;
				.wp-block-column {
					flex-basis: 45% !important;
				}
				> .wp-block-column:not(:only-child) {
					@media (min-width: 600px) and (max-width: 781px) {
						flex-basis: 45% !important;
					}
				}
			}
		}
	}
}
