// Who We Are page.
body .wp-block-columns.has-masonry-layout {
	.wp-block-gallery {
		gap: 30px;
		align-items: stretch;
		height: 100%;

		.wp-block-image {
			margin: 0;
		}
	}

	@media (max-width: 781px) {
		.wp-block-gallery.has-nested-images {
			margin-top: 30px;
		}
	}
}

body figure.wp-block-gallery.has-nested-images {
	gap: 30px;
	--wp--style--unstable-gallery-gap: 30px;
	img {
		border-radius: 10px;
	}
}
