.wp-block-group {
	&.is-style-no-padding {
		padding: 0;
		.wp-block-group__inner-container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&.is-style-gradient-down-section {
		padding: 0; // reset.
		padding-top: 80px;
		@media (min-width: 1200px) {
			padding-top: 100px;
		}
		background-image: url('/wp-content/themes/cncf-twenty-two/images/bg-gradient-gray-down.png'),
			linear-gradient($gray-050, $gray-050);
		background-repeat: repeat-x;
		background-position: 0 top;
	}
	&.is-style-gradient-up-section {
		padding: 0; // reset.
		padding-bottom: 80px;
		@media (min-width: 1200px) {
			padding-bottom: 100px;
		}
		background-image: url('/wp-content/themes/cncf-twenty-two/images/bg-gradient-gray-up.png'),
			linear-gradient($gray-050, $gray-050);
		background-repeat: repeat-x;
		background-position: 0 bottom;
	}
	&.is-style-box-shadow {
		background-color: white;
		filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
		border: 1px solid $gray-400;
		box-sizing: border-box;
		border-radius: 10px;
		padding: 40px 20px;
		@media (min-width: 1000px) {
			padding: 40px;
		}
	}
}
