article,
.generic-modal {
	li {
		line-height: $line-height;
	}
	// generic ul.
	ul {
		list-style: disc;
	}

	ol {
		list-style: decimal;
	}
	ul,
	ol {
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 1.5rem;
		margin-left: 0px;
		ul,
		ol {
			margin-bottom: 0;
		}
		li {
			// apply margin-left here not on ul.
			margin-left: 20px;
		}
	}

	p {
		+ ol,
		+ ul {
			margin-top: 20px;
		}
	}
}

article,
.generic-modal {
	ul,
	ol {
		&.is-style-more-spacing {
			li {
				padding-bottom: 12px;
			}
		}
		&.is-style-mega-spacing {
			li {
				padding-bottom: 20px;
			}
		}
		&.is-style-table-contents {
			li {
				margin-left: 0;
				list-style: none;
				padding-bottom: 10px;
			}
		}
		&.is-style-max-width-900 {
			li {
				max-width: 900px;
			}
		}
	}
}
