.is-style-see-all {
	@media (max-width: 999px) {
		position: relative;
		margin-bottom: 80px;
		display: inline-block;
	}
	@media (min-width: 1000px) {
		.wp-block-columns > .wp-block-column:last-child {
			text-align: right;
		}
	}

	.is-style-link-cta {
		@media (max-width: 999px) {
			position: absolute;
			bottom: 0 - 30px - 50px;
			left: 50%;
			transform: translateX(-50%);
		}
		@media (min-width: 1000px) {
			margin-bottom: 25px;
		}
	}
}
