// Make sure these match block-scripts.js

.is-style-20-40 {
	height: 20px !important;

	@media (min-width: 600px) {
		height: 40px !important;
	}
}

// newsletter
.is-style-30-40 {
	height: 30px !important;

	@media (min-width: 600px) {
		height: 40px !important;
	}
}

// benefits.
.is-style-25-50 {
	height: 25px !important;

	@media (min-width: 600px) {
		height: 50px !important;
	}
}

// under search filter hr
.is-style-30-50 {
	height: 30px !important;

	@media (min-width: 600px) {
		height: 50px !important;
	}
}

// newsletter, benefits.
.is-style-20-60 {
	height: 20px !important;

	@media (min-width: 600px) {
		height: 60px !important;
	}
}

// newsletter + news items on blog.
.is-style-30-60 {
	height: 30px !important;

	@media (min-width: 600px) {
		height: 60px !important;
	}
}

// footer, projects.
.is-style-40-60 {
	height: 40px !important;

	@media (min-width: 600px) {
		height: 60px !important;
	}
}

// page title bottom
.is-style-60-70 {
	height: 60px !important;

	@media (min-width: 1200px) {
		height: 70px !important;
	}
}

// footer.
.is-style-40-80 {
	height: 40px !important;

	@media (min-width: 600px) {
		height: 80px !important;
	}
}

// page title top
.is-style-70-90 {
	height: 70px !important;

	@media (min-width: 1200px) {
		height: 90px !important;
	}
}

.is-style-60-100 {
	height: 60px !important;

	@media (min-width: 600px) {
		height: 100px !important;
	}
}

// footer
.is-style-70-100 {
	height: 70px !important;

	@media (min-width: 600px) {
		height: 100px !important;
	}
}

// section ends.
.is-style-80-120 {
	height: 80px !important;

	@media (min-width: 600px) {
		height: 120px !important;
	}
}

// bigger space section.
.is-style-100-150 {
	height: 100px !important;

	@media (min-width: 600px) {
		height: 150px !important;
	}
}
