$dark-nav-color: #2C3840;


// Rainbow +++
$aqua: #12eded;
$aqua-light: #99ffff;
$aqua-dark: #007a7a;
$aqua-muted: #64b4b4;
$teal: #12eda4;
$teal-light: #b3ffe6;
$teal-dark: #007a52;
$teal-muted: #64b49a;
$green: #12ed12;
$green-light: #b3ffb3;
$green-dark: #007a00;
$green-muted: #64b464;
$chartreuse: #a5ed12;
$chartreuse-light: #e6ffb3;
$chartreuse-dark: #527a00;
$chartreuse-muted: #9ab464;
$yellow: #eded12;
$yellow-light: #ffffb3;
$yellow-dark: #7a7a00;
$yellow-muted: #b4b464;
$gold: #edbd12;
$gold-light: #ffeeb3;
$gold-dark: #7a6000;
$gold-muted: #b4a364;
$orange: #e2750f;
$orange-light: #ffd8b3;
$orange-dark: #7a3c00;
$orange-muted: #b48b64;
$red: #ed1212;
$red-light: #ffb7b7;
$red-dark: #7a0000;
$red-muted: #b46464;
$fuchsia: #ed1294;
$fuchsia-light: #ffb3e0;
$fuchsia-dark: #7a0048;
$fuchsia-muted: #b46494;
$purple: #9912ed;
$purple-light: #e2b3ff;
$purple-dark: #4b007a;
$purple-muted: #9664b4;
$indigo: #2929ed;
$indigo-light: #b7b7ff;
$indigo-dark: #00007a;
$indigo-muted: #6464b4;
$blue: #129ded;
$blue-light: #b3e3ff;
$blue-dark: #004e7a;
$blue-muted: #6497b4;

// Grayscale colors
$gray-hue: hue(#6b717b);
$gray-saturation: saturation(#6b717b);
$black: hsl($gray-hue, $gray-saturation, 14%);
$charcoal: hsl($gray-hue, $gray-saturation, 24%);
$dark-gray: hsl($gray-hue, $gray-saturation, 39%);
$gray: hsl($gray-hue, $gray-saturation, 54%);
$light-gray: hsl($gray-hue, $gray-saturation, 69%);
$silver: hsl($gray-hue, $gray-saturation, 84%);
$white-smoke: hsl($gray-hue, $gray-saturation, 93%);
$off-white: #fafafa;
$white: #fefefe;

// LF Brand colors
// LINUX FOUNDATION
// DARK BLUE
// PANTONE® 2955 C
// CMYK 100, 60, 10, 53
// RBG 0, 56, 101
// HEX 003366
$lf-dark-blue: #003366;
$lf-light-blue: #0099cc;
$lf-light-blue-hatch: #0077BB;
$lf-gray: #A1A1A4;
$lf-gray-hatch: #807F83;
$lf-yellow: #FFC557;
$lf-yellow-hatch: #FFA400;
$lf-green: #a1d683;
$lf-green-hatch: #6abf4b;
$lf-purple: #7564A0;
$lf-purple-hatch: #69488E;
$lf-orange: #FFAD5F;
$lf-orange-hatch: #FF9015;
$lf-red: #ff595a;
$lf-red-hatch: #ff4438;
