// Use entry-content class around the_content.
// This lets us style lists and links suitable for content.

.entry-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 2em;
}

.entry-content {

    p {
        margin-bottom: 1.5em;
    }

    a {
        text-decoration: none;
        color: $pink-400;
        font-weight: 500;
        transition: all 0.25s ease-out;

        &:visited {
            text-decoration: none;
            color: $pink-300;
        }

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            text-decoration: underline;
        }

        &:active {
            text-decoration: none;
        }

        /* mobile tap color */
        &:link {
            -webkit-tap-highlight-color: rgba($purple-700, 0.3);
        }
    }

    ul {
        list-style: disc;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 1em;
        margin-left: 2em;
    }

    ol {
        list-style: decimal;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 1em;
        margin-left: 2em;
    }

}

// .wp-block-gallery {
//   margin: 0;
//   li:last-child {
//     margin: 8px;
//   }
// }

// article.entry-content * {
// 	max-width: 660px;
// }

// @media (min-width: 1240px) {
// 	font-size: 0.8em;
// }

// p {
//     margin: 0;
//     margin-bottom: 1em;
//     line-height: 1.25;

//     &:last-child {
//         margin: 0;
//     }
// }



// h2 {
//     margin: 0.5em 0;

//     &:first-of-type {
//         margin-top: 0;
//     }
// }

// h3,
// h4,
// h5,
// h6 {
//     margin: 0.5em 0;
// }

// h4 {
//     font-weight: 400;
//     line-height: 1.4;

//     @media (min-width: 800px) {
//         line-height: 30px;
//     }
// }
