// Use entry-content class to encapsulate the_content.
// This lets us style lists and links suitable for content.

.single-post,
.webinar-single,
.case-study-single,
.event-single {
    .entry-content {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 2em;

        &.no-max {
            max-width: initial;
        }
    }
}

.case-study-single {
    .entry-content {
        margin-top: 0;
    }
}

.entry-content {

    p {
        margin-bottom: 1.5em;
    }

    a {
        text-decoration: none;
        color: $primary-color;
        font-weight: 500;
        transition: all 0.25s ease-out;

        &:visited {
            text-decoration: none;
            color: $pink-300;
        }

        &:hover {
            text-decoration: underline;
        }

        &:active {
            text-decoration: none;
        }

        &:focus {
            text-decoration: none;
        }

        /* mobile tap color */
        &:link {
            -webkit-tap-highlight-color: rgba($secondary-color, 0.3);
        }
    }

    ul {
        list-style: disc;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 1em;
        margin-left: 2em;
    }

    ol {
        list-style: decimal;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 1em;
        margin-left: 2em;
    }

    pre {
        background-color: $grey-800;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: auto;
        border-radius: .3em;
        border: 1px solid $black;
        font-family: $font-code;
        color: $grey-200;
        // fix for old code blocks.
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;

        code {
            overflow: auto;
            line-height: 1.5;
            color: $grey-200;
        }

        &.wp-block-preformatted {
            color: $grey-200;
        }
    }

    div[class*="highlighter-"] code,
    .code-toolbar code {
        display: block;
        margin: 0 20px;
        padding: 15px 16px 14px;
    }

    .is-disabled {
        color: $grey-400;
        cursor: not-allowed;
        font-weight: 500;

        &:hover {
            text-decoration: none;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 0.875em;
        margin-bottom: 1em;
    }

    tr:nth-of-type(odd) {
        background: #FCFCFC;
    }

    th {
        background: $grey-800;
        color: white;
        font-weight: bold;
    }

    td,
    th {
        padding: 0.75em;
        border: 1px solid $grey-100;
        vertical-align: top;
    }

    // fix for responsive tables without thead or data-labels.
    @media only screen and (max-width: 768px) {
        table {
            overflow: hidden;
            overflow-x: scroll;
            display: block;
        }
    }

    // having this affects search filter.
    // .button {

    //     &:link,
    //     &:visited {
    //         color: $white;
    //     }
    // }
}
