body {
    background-color: $white;
    font-family: $font-primary;
    font-size: 1em; // 16px

    @media (min-width: 1200px) {
        font-size: 1.125em; // 18px
    }

    color: $black;
    font-weight: 300;

    // added to improve rendering, but could hamper performance.
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.menu-is-active {
        overflow: hidden;
    }

    // fixes menu off bottom of screen.
    overscroll-behavior: none;
}

.container {
    width: 100%;
    max-width: 1050px;
    margin: auto;

}

.container-full-width {
    width: 100%;
    max-width: 1250px;
    margin: auto;

}

.wrap {
    padding: 0em 12px;

    @media (min-width: 375px) {
        padding: 0em 20px;
    }

    @media (min-width: 550px) {
        padding: 0em 25px;
    }
}

img {
    margin: 0;
    max-width: 100%;
    height: auto;
}

.button {
    border: 0; // reset
    padding: 0px; // reset
    width: auto;
    min-width: 100px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0.7rem 1.1rem;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: $primary-color;
    color: $white;
    transition: all 0.25s ease-out;
    font-size: 1rem;

    a {
        color: $white;
    }

    &:active {
        position: relative;
        top: 1px;
    }

    &:hover {
        background-color: lighten($primary-color, 5%);
        color: $white;
        text-decoration: none;
    }

    &.search-open {
        min-width: initial;
    }

    &.search-close {
        min-width: initial;
        margin-left: 20px;

        &:hover {
            svg {
                transition: all 0.25s ease-out;
                color: $primary-color;
                fill: $primary-color;
            }
        }
    }

    &.search-submit {
        box-sizing: border-box;
        border: 1px solid $white;
        border-radius: 0;
        -webkit-appearance: none;

        &:hover {
            border: 1px solid $primary-color;
        }
    }

    &.stocky {
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 0.7rem;
    }

    &.transparent {
        background-color: transparent;
        color: $white;
        fill: $white;

        &:hover {
            color: $primary-color;
            fill: $primary-color;
        }

        a:visited {
            color: $white;
        }
    }

    &.outline {
        box-sizing: border-box;
        border: 1px solid $white;

        &:hover {
            background-color: $white;
            color: $primary-color;
        }

    }

    // &.on-image {
    //     background-color: $primary-color;
    //     box-sizing: border-box;
    //     border: 1px solid $white;
    //     color: $white;
    //     letter-spacing: 2px;
    //     font-weight: 600;
    //     font-size: 0.7em;

    //     &:hover {
    //         background-color: $white;
    //         color: $primary-color;

    //         a:visited {
    //             color: $primary-color !important;
    //         }
    //     }

    //     a:visited {
    //         color: $primary-color !important;
    //     }
    // }

    &.header {
        height: 38px;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &.smaller {
        padding: 0.3rem 0.5rem;
    }

    &.secondary-color {
        background-color: $secondary-color;

        &:hover {
            background-color: lighten($secondary-color, 5%);
        }
    }
}

// makes button plain like icon (wechat, people modal).
.button-reset {
    border: none;
    background: none;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
|--------------------------------------------
| Images in background
|--------------------------------------------
*/

.background-image-wrapper {
    overflow: hidden;
    position: relative;
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.background-image-figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.background-image-text-overlay {
    position: relative;
    z-index: 2;
}

/*
|-----------------------------------------------
| Block A Href
|-----------------------------------------------
*/

.box-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
}

/* Assistive text */
.assistive-text,
.screen-reader-text {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.date-icon {
    display: flex;
    align-items: baseline;

    &::before {
        content: ' ';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='22' viewBox='0 1 24 22'%3E%3Cpath fill='%2387969c' d='M20 19h-4v-4h4v4zM14 9h-4v4h4V9zm6 0h-4v4h4V9zM8 15H4v4h4v-4zM24 1v22H0V1h24zm-2 6H2v14h20V7zm-8 8h-4v4h4v-4zM8 9H4v4h4V9z'/%3E%3C/svg%3E");
        background-size: 0.875em;
        height: 0.8em;
        width: 0.875em;
        background-repeat: no-repeat;
        margin-right: 5px;
    }
}

.live-icon {
    display: inline-flex;
    align-items: center;

    &::before {
        content: ' ';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M16 16c0 1.104-.896 2-2 2h-12c-1.104 0-2-.896-2-2v-8c0-1.104.896-2 2-2h12c1.104 0 2 .896 2 2v8zm8-10l-6 4.223v3.554l6 4.223v-12z'/%3E%3C/svg%3E");
        background-size: 1em;
        height: 1em;
        width: 1em;
        background-repeat: no-repeat;
        margin-right: 5px;
    }
}

.skew-box {
    font-size: 0.775em;
    font-weight: 400;
    color: $white;
    padding: 5px 6px;
    background-color: $secondary-700;
    padding-right: 25px;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, calc(100% - 22px) 0);
    // useful if inside flexbox.
    align-self: start;

    &.secondary {
        background-color: $grey-700;
    }

    &.tertiary {
        color: $secondary-700;
        background-color: $white;
    }

    &.centered {
        margin-right: auto;
        display: inline-block;
    }
}

/*
|-----------------------------------------------
| Padding & Margins
|-----------------------------------------------
*/

.margin-reset {
    margin: 0;
}

.margin-y-small {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.margin-y {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-y-large {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.margin-top {
    margin-top: 1rem;
}

.margin-top-small {
    margin-top: 0.5rem;
}

.margin-top-large {
    margin-top: 2rem;
}

.margin-bottom-large {
    margin-bottom: 2rem;
}

.margin-bottom-small {
    margin-bottom: 0.5rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

@media (min-width: 600px) {
    .show-mobile-only {
        display: none;
    }
}

.show-tablet-only {
    @media (max-width: 599px) {
        display: none;
    }
}

.show-desktop-only {
    @media (max-width: 999px) {
        display: none;
    }
}
