// theme typography file

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;

    a {
        text-decoration: none;
    }
}

h1 {
    font-size: 2.75em; // 36px
    margin-top: .67em;
    margin-bottom: .67em;
}

h2,
.h2,
.has-header-2-font-size {
    font-size: 2.75em; // 36px
    margin-top: .83em;
    margin-bottom: .83em;
}

h3,
.h3,
.has-header-3-font-size {
    font-size: 1.5em; // 24px
    margin-top: 1em;
    margin-bottom: 1em;
}

h4,
.h4,
.has-header-4-font-size {
    font-size: 1.250em; // 20px
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

h5,
.h5,
.has-header-5-font-size {
    font-size: 1.125em; // 18px
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

h6 {
    font-size: 1em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

p,
li {
    line-height: 1.5;

    a {
        color: $link-color;
        transition: all 0.25s ease-out;
        text-decoration: none;

        &:hover {
            color: $link-hover;
        }
    }
}

strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: oblique;
}

.white {
    color: $white;
}

.black {
    color: $black;
}

.primary {
    color: $primary-color;
}

.secondary {
    color: $secondary-color;
}

.strong {
    font-weight: 700;
}

.strongest {
    font-weight: 900;
}

.upper {
    text-transform: uppercase;
}

.extremely-large {
    font-size: 8em;

    @media (min-width: 768px) {
        font-size: 10em;
        line-height: 1;
    }
}

// hr {
//     color: #666;
//     margin: 2rem 0;
// }

// blockquote {
//     font-size: 1.75rem;
//     line-height: 1.25;
//     margin: 1rem 0;

//     &::before {
//         content: "\201C";
//     }

//     &::after {
//         content: "\201D";
//     }

//     p {
//         display: inline;
//         color: black;
//     }

//     @media (max-width: 480px) {
//         font-size: 1.25rem;
//     }
// }

// code {
//     display: block;
//     font-size: 1rem;
//     line-height: 1.25;
//     margin: 1rem 0;
//     background-color: $grey-400;
//     padding: 1rem;
//     border-left: 0.5rem solid $primary-color;
//     font-family: "Courier New";
//     white-space: pre-wrap;
// }
