// theme typography file

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;

    a {
        text-decoration: none;
    }
}

h1 {
    font-size: 2.75em; // 36px
    margin-top: .67em;
    margin-bottom: .67em;

    @media (max-width: 767px) {
        font-size: 1.85em;
    }
}

h2,
.h2,
.has-header-2-font-size {
    font-size: 2.75em; // 36px
    margin-top: .83em;
    margin-bottom: .83em;

    @media (max-width: 767px) {
        font-size: 1.85em;
    }
}

h3,
.h3,
.has-header-3-font-size {
    font-size: 1.5em; // 24px
    margin-top: 1em;
    margin-bottom: 1em;

    @media (max-width: 767px) {
        font-size: 1.3em;
    }
}

h4,
.h4,
.has-header-4-font-size {
    font-size: 1.250em; // 20px
    margin-top: 1.33em;
    margin-bottom: 1.33em;

    @media (max-width: 767px) {
        font-size: 1.1em;
    }
}

h5,
.h5,
.has-header-5-font-size {
    font-size: 1.125em; // 18px
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

h6 {
    font-size: 1em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

p,
li {
    line-height: 1.5;
}

strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: oblique;
}

.white {
    color: $white;
}

.black {
    color: $black;
}

.strong {
    font-weight: 700;
}

.strongest {
    font-weight: 900;
}

.upper {
    text-transform: uppercase;
}

.smaller-text {
    font-size: 0.825em;
}

.extremely-large {
    font-size: 8em;

    @media (min-width: 768px) {
        font-size: 10em;
        line-height: 1;
    }
}

a {
    text-decoration: none;
    transition: all 0.25s ease-out;
    // color: $secondary-color;
    // font-weight: 500;

    // &:visited {
    //     text-decoration: none;
    // }

    &:hover {
        color: $primary-color;
        text-decoration: underline;
    }

    &:focus {
        text-decoration: underline;
    }

    &:active {
        text-decoration: none;
    }

    /* mobile tap color */
    &:link {
        -webkit-tap-highlight-color: rgba($secondary-color, 0.3);
    }
}
