// theme typography file

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;

    a {
        text-decoration: none;
    }
}

h1 {
    font-size: 2.75em;
    margin-bottom: 2rem;

    @media (max-width: 767px) {
        font-size: 1.85em;
    }
}

h2,
.h2,
.has-header-2-font-size {
    font-size: 2.75em;
    margin-bottom: 2rem;

    @media (max-width: 767px) {
        font-size: 1.85em;
    }
}

h3,
.h3,
.has-header-3-font-size {
    font-size: 1.5em;
    margin-bottom: 2rem;

    @media (max-width: 767px) {
        font-size: 1.3em;
    }
}

h4,
.h4,
.has-header-4-font-size {
    font-size: 1.250em;
    margin-bottom: 1.5rem;

    @media (max-width: 767px) {
        font-size: 1.1em;
    }
}

h5,
.h5,
.has-header-5-font-size {
    font-size: 1em;
    margin-bottom: 1.5rem;
}

h6 {
    font-size: 0.825em;
    margin-bottom: 1.5rem;
}

p,
li {
    line-height: 1.5;
}

p {
    margin-bottom: 1.5em;

    &:last-child {
        margin-bottom: 0;
    }

}

strong,
b {
    font-weight: 600;
}

.strongest {
    font-weight: 900;
}

.upper {
    text-transform: uppercase;
}

.smaller-text {
    font-size: 0.725em;
}

.extremely-large {
    font-size: 8em;

    @media (min-width: 768px) {
        font-size: 10em;
        line-height: 1;
    }
}

a {
    text-decoration: none;
    transition: all 0.25s ease-out;

    &:hover {
        color: $primary-color;
        text-decoration: underline;
    }

    &:focus {
        text-decoration: underline;
    }

    &:active {
        text-decoration: none;
    }

    /* mobile tap color */
    &:link {
        -webkit-tap-highlight-color: rgba($primary-color, 0.3);
    }
}
