$blue: #1530e2;
$red: #e8485e;
$grey: #f2f2f2;
$white: #ffffff;
$black: #000000;
$grey-form: #a7a7a6;
$grey-alt: #bacbce;
$grey-400: #a7a7a6;
$gold: #f7aa1d;

$link-color: $red;
$link-hover: $red;

//font-stack

$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
