// declare all colours.

$white: #ffffff;

$black: #202020;
$black-700: #000000;
$black-900: #111111;

$grey-100: #E6E6E6;
$grey-200: #ABB2BF;
$grey-400: #a7a7a6;
$grey-500: #87969c;
$grey-700: #444444;
$grey-800: #333333;

$blue-100: #F0F5F7; // current boxes background
$blue-200: #acc8d3;
$blue-300: #43B4DB; // current icons
$blue-400: #436ca9;
$blue-500: #52609F;
$blue-600: #416FD9;
$blue-700: #1e213c;
$blue-800: #0F1533;
$blue-900: #060927;

$cncf-blue-400: #76c5d5;
$cncf-blue-700: #426cab;

$pink-300: #E43B80; // cta rollover
$pink-400: #DE176C; // preferred CTA

$purple-200:#9eacdd;
$purple-300:#9491AD;
$purple-400: #48549C;
$purple-500: #4e4a6d;
$purple-600: #302b54;
$purple-700: #2C2960; // secondary
$purple-800: #242b5F;
$purple-900: #1C214A;
$purple-950: #191341;

// main.
$primary-color: $pink-400;
$secondary-color: $purple-700;
$tertiary-color: $blue-100;

// links.
$link-color: $primary-color;
$link-hover: $pink-300;
$menu-link: $white;
$menu-hover: #e1e1e1;
$link-color-alt: $blue-400;
$link-hover-alt: $blue-300;

// elements
$cs-overlay: $purple-800;

// forms.
$error: #B80611;
$success: green;

// font-stack.

$font-primary: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif;

$font-code: Hack,
"Fira Code",
Consolas,
Menlo,
Monaco,
"Andale Mono",
"Lucida Console",
"Lucida Sans Typewriter",
"DejaVu Sans Mono",
"Bitstream Vera Sans Mono",
"Liberation Mono",
"Nimbus Mono L",
"Courier New",
Courier,
monospace;

// spacing.

$sm-padding: 2rem;
$lg-padding: 4rem;
