.video-wrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    margin-top: $sm-padding;
    margin-bottom: $sm-padding;

    @media (min-width: 1024px) {
        margin-top: $lg-padding;
        margin-bottom: $lg-padding;

        .home & {
            margin-top: $sm-padding;
            margin-bottom: $sm-padding;
        }

        .webinar-single & {
            margin-top: $sm-padding;
            margin-bottom: $sm-padding;
        }
    }

    @media (min-width: 740px) {
        max-width: initial;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 1050px) {
        max-width: 1000px;
        padding-bottom: 51%;
    }
}

.video-wrapper iframe,
.video-wrapper video,
.video-wrapper object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// override Gutenberg video padding.
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
    padding-top: 0;
}
