.osano-cm-info {
	font-family: $font-primary;
}

.osano-cm-window__dialog {
	border-radius: 5px;
	color: $cookie-banner-text;
	background: $cookie-banner-bg;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-size: 13px;
	font-family: $font-primary;
	padding: 2.5em 1.5em 1.5em;
	@media (min-width: 600px) {
		font-size: 16px;
	}

}

.osano-cm-dialog--type_box {
	max-width: 27em;
}

.osano-cm-button {
	border: none;
    border-radius: 2px;
	text-transform: uppercase;
	font-size: 14px;
    line-height: 1.5;
	margin: 0 10px 0 0;
}

.osano-cm-button:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}

.osano-cm-link:focus-visible {
    outline-offset: 1px;
	outline: -webkit-focus-ring-color auto 1px;
}

.osano-cm-header {
	font-weight: 700;
}

.osano-cm-dialog__list {
    margin: 1em 0 ;
}

.osano-cm-toggle {
	margin-top: 1em;
}

.osano-cm-link {
	color: var(--wp--preset--color--pink-400);
    text-decoration: none;
	font-size: 13px;
}

.osano-cm-link:hover, .osano-cm-link:active, .osano-cm-link:focus {
	color: var(--wp--preset--color--pink-400);
}

.osano-cm-powered-by__link {
	display: none;
}

.osano-cm-content__message {
    margin-bottom: 0.2em;
    padding-bottom: 1em;
}

.osano-cm-view__button {
    font-size: 1em;
}

.osano-cm-close, .osano-cm-close:focus, .osano-cm-close:hover {
	stroke-width: 3px;
}