.osano-cm-info {
	font-family: $font-primary;
}

.osano-cm-window__dialog {
	border-radius: 5px;
	color: $cookie-banner-text;
	background: $cookie-banner-bg;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-size: 13px;
	font-family: $font-primary;
	padding: 2.5em 1.5em 1.5em;
	@media (min-width: 600px) {
		font-size: 16px;
	}
}

.osano-cm-dialog--type_box {
	max-width: 27.5em;
}

.osano-cm-buttons {
	gap: 8px;
}

.osano-cm-button {
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1;
	padding: 9px 17px;
	&:focus-visible {
		outline: -webkit-focus-ring-color auto 1px;
	}
}

.osano-cm-header {
	font-weight: 700;
}

.osano-cm-dialog__list {
	margin: .6em 0px .8em;
}

.osano-cm-toggle {
	margin-top: 1em;
}

.osano-cm-link {
	color: var(--wp--preset--color--pink-400);
	text-decoration: none;
	font-size: 13px;
	&:focus-visible {
		outline-offset: 1px;
		outline: -webkit-focus-ring-color auto 1px;
	}
	&:hover,
	&:active,
	&:focus {
		color: var(--wp--preset--color--pink-400);
	}
}

.osano-cm-powered-by__link {
	display: none;
}

.osano-cm-content__message {
	margin-bottom: 0.2em;
	padding-bottom: 1em;
}

.osano-cm-view__button {
	font-size: 1em;
}

.osano-cm-dialog__close, .osano-cm-info-dialog-header__close {
	&:focus, &:focus:hover {
		background-color: transparent;
		border-color: transparent;
		stroke: #000;
		transform: rotate(90deg);
	}
}

.osano-cm-close,
.osano-cm-close:focus,
.osano-cm-close:hover {
	stroke-width: 3px;
}

.osano-cm-widget {
	&__outline {
		fill: #fff;
		stroke: #000;
	}
	&__dot {
		fill: #D222D6;
	}
}

.osano-cm-accept-all {
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 20px;
		width: 20px;
		margin-right: 8px;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23fff'/%3E%3Cpath d='m5.709 10.443 2.565 2.565 6.016-6.016' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	}
}

[dir=ltr] .osano-cm-dialog__list .osano-cm-label {
    margin-left: 0.8em;
}

.osano-cm-toggle__switch {
	border-width: 3px;
}
