// Front page single banner.
.event-banner {
	width: 100%;
	overflow: hidden;
	a {
		display: block;
	}
	img {
		border-radius: 10px;
	}
}

.event-item {
	position: relative;
	overflow: hidden;
	min-height: 260px;
	border-radius: 5px;
	&__overlay {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		z-index: 2;
		opacity: 0.75;
	}
	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}
	&__content {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 30px;
		color: $white;
		font-weight: 700;
		height: 100%;
	}
	&__logo {
		height: 120px;
		max-height: 120px;
		max-width: 100%;
		aspect-ratio: auto;
		margin-bottom: 25px;
	}
	&__title {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 25px;
	}
	&__date,
	&__city {
		color: $white;
		display: block;
	}
	a, h3 {
		color: $white;
	}
	a:hover {
		text-decoration: none;
	}
}

.header-lines {
	display: flex;
	align-items: center;
	color: $black;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 30px;
	&:before,
	&:after {
		flex: 1;
		height: 1px;
		content: '';
		background-color: rgba(#828282, 0.3);
	}
	&::before {
		margin-right: 18px;
	}
	&::after {
		margin-left: 18px;
	}
}
