.home-hero {
	overflow: hidden;
	position: relative;
	background-color: $black;
	&__video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}
	&__poster,
	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	&__poster {
		z-index: 2;
		visibility: visible;
		opacity: 1;
		transition: all 0.5s ease-out;
		&.video-has-loaded {
			transition: all 0.45s ease-out;
			visibility: hidden;
			opacity: 0;
		}
	}
	&__overlay {
		z-index: 3;
		background-color: rgba($black, 1);
		transition: all 0.5s ease-out;
		&.poster-has-loaded {
			transition: all 1s ease-out;
			background-color: rgba($black, 0.55);
		}
	}
	&__content {
		position: relative;
		z-index: 4;
		color: $white;
	}
	&__title {
		color: $white;
		margin-top: min(36%, 140px);
		// Macbook 12"
		@media (min-width: 1200px) and (min-height: 660px) and (max-height: 900px) {
			margin-top: 0;
			padding-top: max(60px, calc(100vh - 136px - 80px - 510px)); // Min space.
		}
		font-weight: 800;
		font-size: 38px;
		line-height: 135%;
		@media (min-width: 412px) {
			font-size: 42px;
		}
		@media (min-width: 600px) {
			font-size: 60px;
			line-height: 110%;
		}
		@media (min-width: 1000px) {
			font-size: 78px;
		}
		span {
			font-weight: 400;
		}
	}
	&__description {
		color: $white;
		margin-top: min(8%, 40px);
		margin-bottom: min(8%, 40px);
		@media (min-width: 412px) {
			margin-top: min(10%, 45px);
			margin-bottom: min(10%, 50px);
		}
		letter-spacing: 0.02em;
		font-weight: 400;
		max-width: 714px;
		line-height: 160%;
		font-size: 14px;
		@media (min-width: 412px) {
			font-size: 16px;
		}
		strong {
			font-weight: 800;
		}
	}
	&__metric_wrapper {
		margin-top: min(8%, 30px);
		@media (min-width: 600px) {
			margin-top: min(8%, 50px);
		}
		margin-bottom: min(20%, 100px);
		display: flex;
		align-items: center;
		max-width: 100%;
		li {
			line-height: 90%;
			font-weight: 700;
			margin-right: 30px;
			font-size: 20px;
			@media (min-width: 412px) {
				font-size: 26px;
			}
			@media (min-width: 1000px) {
				font-size: 36px;
				margin-right: 50px;
			}
			@media (min-width: 1200px) {
				margin-right: 70px;
			}
			span {
				display: block;
				font-weight: 400;
				line-height: 20px;
				font-size: 12px;
				@media (min-width: 1000px) {
					font-size: 16px;
				}
			}
		}
	}
	.horizontal-rule {
		opacity: 0.5;
	}
}

.home-projects > .wp-block-group {
	padding-top: 80px;
	padding-bottom: 40px;
	@media (min-width: 800px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.home-projects-intro {
	text-align: center;
	margin-bottom: 40px;
	@media (min-width: 1000px) {
		margin-bottom: 80px;
	}
	@media (min-width: 782px) {
		text-align: left;
	}
	&__col1 {
		grid-column: span 12;
		@media (min-width: 1000px) {
			grid-column: span 7;
		}
	}
	&__col2 {
		grid-column: span 12;
		@media (min-width: 1000px) {
			grid-column: span 5;
			align-self: end;
		}
	}
}

.home-projects-numbers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 10px;
	text-align: center;
	@media (min-width: 782px) {
		text-align: left;
		column-gap: 30px;
	}
	&__graduated,
	&__incubating,
	&__sandbox {
		a {
			display: flex;
			flex-direction: column;
			@media (min-width: 782px) {
				flex-direction: row;
				align-items: center;
			}
		}
	}
	.number {
		font-weight: 700;
		margin-bottom: 5px;
		font-size: 34px;
		line-height: 34px;
		@media (min-width: 782px) {
			font-size: 44px;
			line-height: 44px;
			width: 90px;
			text-align: right;
			margin-right: 15px;
		}
		@media (min-width: 1034px) {
			margin-bottom: 0px;
			font-size: 60px;
			line-height: 100%;
			width: 115px;
			margin-right: 20px;
		}
	}
	.project {
		font-size: 13px;
		line-height: 125%;
		text-transform: uppercase;
		font-weight: 400;
		@media (min-width: 782px) {
			margin-left: min(4%, 20px);
			line-height: 140%;
		}
		@media (min-width: 1000px) {
			margin-left: 7px;
			font-size: 20px;
			line-height: 125%;
		}
	}
	a {
		color: $black;
		&:hover {
			text-decoration: none;
			color: $gray-900;
		}
	}
}

.home-projects-slider {
	content-visibility: auto;
	contain-intrinsic-size: auto 198px;
	position: relative;
	margin-top: 40px;
	@media (min-width: 782px) {
		contain-intrinsic-size: auto 278px;
		margin-top: 80px;
	}
	.slick-initialized .slick-track {
		display: flex;

		.slick-slide {
			display: flex;
			height: auto;
			justify-content: center;
		}
	}

	.slick-slide {
		background: $white;
		filter: drop-shadow(0px 1.56476px 3.9119px rgba(0, 0, 0, 0.05));
		border: 1px solid rgba($gray-300, 0.1);
		border-radius: 5px;
		margin-right: 15px;
		margin-bottom: 15px;
		@media (min-width: 782px) {
			margin-right: 35px;
			margin-bottom: 35px;
		}
		padding: 15px;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: flex-start;

		img {
			width: 45px;
			height: 45px;
			@media (min-width: 782px) {
				width: 65px;
				height: 65px;
			}
		}

		&:hover,
		&:focus,
		&:active {
			border: 1px solid rgba($gray-300, 0.3);
			animation-name: pop-sm;
			animation-duration: 0.3s;
			animation-timing-function: linear;
			animation-iteration-count: 1;
			@media (prefers-reduced-motion: reduce) {
				animation-name: none;
				animation-duration: 0;
			}
		}
	}

	&:before {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		display: inline-block;
		background: linear-gradient(90deg, rgba($gray-050, 1) 72%, rgba($gray-050, 0) 100%);
		z-index: 1;
		width: 25px;

		@media (min-width: 768px) {
			width: 50px;
		}
	}

	&:after {
		content: ' ';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		display: inline-block;
		background: linear-gradient(90deg, rgba($gray-050, 0) 0%, rgba($gray-050, 1) 72%);
		z-index: 1;
		width: 25px;

		@media (min-width: 768px) {
			width: 50px;
		}
	}
}

.slider {
	opacity: 0;
}

.slider.slick-initialized {
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

.slick-slider {
	margin: 0;
	min-height: 1px;
	min-width: 1px;
}

.home-intro-boxes {
	@media (min-width: 1000px) {
		grid-row-gap: 70px;
	}
}

.home-intro-box {
	@include tiles3;
	border: 1px solid $gray-300;
	letter-spacing: 0.02em;
	line-height: 150%;
	height: 100%;
	display: flex;
	flex-direction: column;
	&__title {
		font-size: 26px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding: 15px 20px 15px 20px;
		@media (min-width: 800px) {
			font-size: 30px;
			padding: 11px 20px 7px 25px;
		}
	}
	&:nth-child(1) {
		.home-intro-box__title {
			background-color: $shade-06;
		}
	}
	&:nth-child(2) {
		.home-intro-box__title {
			background-color: $shade-07;
		}
	}
	&:nth-child(3) {
		.home-intro-box__title {
			background-color: $shade-08;
		}
	}
	&:nth-child(4) {
		position: relative;
		@media (min-width: 1000px) {
			grid-column: span 3;
		}
		.home-intro-box__title {
			background-color: $shade-09;
			@media (min-width: 1000px) {
				background-color: transparent;
				padding: 22px 0px 22px 0px;
				text-align: center;
			}
		}
		.home-intro-box__text-wrapper {
			@media (min-width: 1000px) {
				padding: 0;
			}
		}
		.is-style-link-cta {
			margin-top: 0px;
			@media (min-width: 710px) {
				margin-top: auto;
			}
			@media (min-width: 1000px) {
				position: absolute;
				right: 5%;
				top: 50%;
				transform: translateY(-100%);
			}
			@media (min-width: 1200px) {
				right: 9%;
			}
		}
	}
	&__goldie {
		@media (max-width: 709px) {
			position: absolute;
			max-height: 80px;
			height: auto;
			bottom: 25px; // match padding.
			right: 12px;
			z-index: 1;
			@media (min-width: 420px) {
				max-height: 90px;
			}
			@media (min-width: 500px) {
				max-height: 110px;
				right: 50px;
			}
		}
		@media (min-width: 710px) {
			max-height: 110px;
			align-self: flex-start;
			padding-top: 16px;
			padding-left: 20px;
		}
		@media (min-width: 1000px) {
			padding: 0; // reset.
			position: absolute;
			right: 19%;
			top: -10px;
			bottom: -10px;
		}
		@media (min-width: 1200px) {
			max-height: 118px;
			right: 22%;
			top: -20px;
			bottom: -20px;
		}
	}
	&__text-wrapper {
		padding: 20px 20px 25px 20px;
		height: 100%;
		@media (min-width: 710px) {
			display: flex;
			flex-direction: column;
			padding: 22px 20px 28px 25px;
		}
	}
	&__text {
		@media (min-width: 710px) {
			font-size: 16px;
			line-height: 150%;
			letter-spacing: 0.02em;
			margin-bottom: 35px;
		}
	}
	.is-style-link-cta {
		font-size: 16px;
		margin-top: 24px;
		@media (min-width: 710px) {
			margin-top: auto;
			align-self: flex-start;
		}
	}
	p + p {
		margin-top: 12px;
	}
}

.home-ambassadors {
	text-align: center;
	margin-bottom: 60px;
	@media (min-width: 800px) {
		margin-bottom: 20px;
		text-align: left;
		display: grid;
		grid-column-gap: 40px;
		grid-template-areas:
			'text ambassadors'
			'cta ambassadors';
		grid-template-columns: 2fr 3fr;
		grid-template-rows: 1fr 1fr;
		&__text-wrapper {
			grid-area: text;
			// Move text down from top.
			padding-top: 40px;
			@media (min-width: 1200px) {
				padding-top: 60px;
			}
		}
		&__text {
			max-width: 85%;
		}
		&__cta {
			grid-area: cta;
			padding-top: 50px;
		}
	}
	@media (min-width: 1000px) {
		margin-bottom: 0;
	}
	&-heptagons {
		margin-top: 20px;
		margin-bottom: 20px;

		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(18, 1fr);
		grid-column-gap: 0;
		grid-row-gap: 0;
		position: relative;
		@media (min-width: 800px) {
			grid-area: ambassadors;
			max-height: 550px;
		}
		&__sm01 {
			position: absolute;
			top: -10px;
			left: 10%;
			width: 20px;
			height: 20px;
			color: #ebffe9;
			@media (min-width: 1000px) {
				width: 40px;
				height: 40px;
				top: 100%;
				left: 72%;
			}
		}
		&__sm02 {
			position: absolute;
			top: 5%;
			left: 50%;
			width: 22px;
			height: 22px;
			color: #b9baec;
			@media (min-width: 1000px) {
				width: 40px;
				height: 40px;
				top: 1%;
				left: 49%;
			}
		}
		&__sm03 {
			position: absolute;
			top: 42%;
			left: 7%;
			width: 22px;
			height: 22px;
			color: #fddaf0;
			@media (min-width: 1000px) {
				width: 40px;
				height: 40px;
				top: 65%;
				left: 3%;
			}
		}
		&__sm04 {
			position: absolute;
			top: 46%;
			left: 39%;
			width: 20px;
			height: 20px;
			color: #feedcc;
			@media (min-width: 1000px) {
				width: 40px;
				height: 40px;
				top: 12%;
				left: 5%;
			}
		}
		&__sm05 {
			position: absolute;
			top: 80%;
			left: 8%;
			width: 22px;
			height: 22px;
			color: #ccf5ff;
			@media (min-width: 1000px) {
				width: 40px;
				height: 40px;
				top: 35%;
				left: 50%;
			}
		}
		&__sm06 {
			position: absolute;
			top: 92%;
			left: 44%;
			width: 22px;
			height: 22px;
			color: #ebfdf8;
			@media (min-width: 1000px) {
				width: 40px;
				height: 40px;
				top: 40%;
				left: 85%;
			}
			@media (min-width: 1200px) {
				top: 45%;
				left: 88%;
			}
		}
		&__lg01 {
			grid-row-start: 1;
			grid-row-end: 6;
			grid-column-start: 8;
			grid-column-end: 12;
			@media (min-width: 1000px) {
				grid-row-start: 1;
				grid-row-end: 5;
				grid-column-start: 9;
				grid-column-end: 13;
			}
		}
		&__lg02 {
			grid-row-start: 6;
			grid-row-end: 12;
			grid-column-start: 7;
			grid-column-end: 13;
			@media (min-width: 800px) {
				grid-row-start: 7;
				grid-row-end: 9;
				grid-column-start: 7;
				grid-column-end: 11;
			}
			@media (min-width: 1000px) {
				grid-row-start: 3;
				grid-row-end: 5;
				grid-column-start: 4;
				grid-column-end: 7;
			}
			@media (min-width: 1200px) {
				grid-row-start: 3;
				grid-row-end: 5;
				grid-column-start: 4;
				grid-column-end: 6;
			}
		}
		&__lg03 {
			grid-row-start: 11;
			grid-row-end: 16;
			grid-column-start: 2;
			grid-column-end: 7;
			@media (min-width: 1000px) {
				grid-row-start: 7;
				grid-row-end: 13;
				grid-column-start: 1;
				grid-column-end: 4;
			}
		}
		&__lg04 {
			grid-row-start: 14;
			grid-row-end: 21;
			grid-column-start: 7;
			grid-column-end: 13;
			@media (min-width: 1000px) {
				grid-row-start: 13;
				grid-row-end: 20;
				grid-column-start: 10;
				grid-column-end: 13;
			}
		}
		// Priyanka.
		&__lg05 {
			grid-row-start: 2;
			grid-row-end: 9;
			grid-column-start: 1;
			grid-column-end: 7;
			@media (min-width: 1000px) {
				grid-row-start: 12;
				grid-row-end: 21;
				grid-column-start: 3;
				grid-column-end: 8;
			}
			@media (min-width: 1200px) {
				grid-row-start: 11;
				grid-row-end: 21;
				grid-column-start: 4;
				grid-column-end: 9;
			}
		}
		&__link {
			display: block;
			width: 100%;
			height: auto;
			filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
			aspect-ratio: 1/1;
			// For slightly older browsers.
			@supports not (aspect-ratio: auto) {
				max-height: 100%;
				max-width: 100%;
				min-width: 100%;
				min-height: 100%;
				height: 100%;
				width: 100%;
			}
		}
		&__image {
			clip-path: url(#heptagon);
			object-fit: cover;
			aspect-ratio: 1/1;
			min-width: 100%;
			min-height: 100%;
			// Safari.
			height: 100%;
			width: 100%;
			// For slightly older browsers.
			@supports not (aspect-ratio: auto) {
				max-height: max-content;
				max-width: max-content;
				min-width: unset;
				min-height: unset;
				height: auto;
				width: 100%;
			}
		}
	}
}

.hide-svg {
	position: absolute;
	width: 0;
	height: 0;
}

.fade-in {
	transition: opacity 0.4s ease-out;
	opacity: 0;
}

.fade-out {
	transition: opacity 0.4s ease-in;
	opacity: 1;
}

.home-terminal {
	text-align: center;
	@media (min-width: 800px) {
		text-align: left;
		display: grid;
		grid-column-gap: 20px;
		grid-template-areas:
			'terminal text'
			'terminal cta';
		grid-template-columns: 3fr 2fr;
		grid-template-rows: 1fr 1fr;
	}
	@media (min-width: 1000px) {
		grid-column-gap: 40px;
	}
	@media (min-width: 1200px) {
		grid-column-gap: 70px;
		grid-template-columns: 1fr 1fr;
	}
	&__text-wrapper {
		@media (min-width: 800px) {
			grid-area: text;
		}
	}
	&__code-block {
		margin-top: 50px;
		margin-bottom: 20px;
		border-radius: 10px;
		border: 1px solid $gray-800;
		filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.25));
		background: radial-gradient(102.2% 102.2% at 2.24% 100%, #010101 0.27%, #1a214a 100%);
		position: relative;
		@media (min-width: 800px) {
			grid-area: terminal;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&__download {
		position: absolute;
		top: 0;
		right: 20px;
		max-width: 75px;
		padding: 6px;
		background: linear-gradient(136.4deg, #d62293 26.67%, #d62263 80%);
		filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.35));
		border-radius: 0px 0px 5px 5px;
		text-align: center;
		@media (min-width: 1000px) {
			right: 30px;
		}
		&:hover {
			transition: background 0.3s ease-in;
			background: linear-gradient(308.06deg, #d62293 16.3%, #d62263 83.94%);
		}
		&:active {
			.home-terminal__download-image,
			.home-terminal__download-text {
				filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.35));
			}
		}

		&-image {
			filter: drop-shadow(0px -0.25px 0.5px rgba(0, 0, 0, 0.25));
			margin: auto;
		}
		&-text {
			margin-top: 5px;
			font-weight: 700;
			font-size: 8px;
			line-height: 140%;
			letter-spacing: 0.1em;
			color: #ffffff;
			text-transform: uppercase;
			filter: drop-shadow(0px -0.25px 0.5px rgba(0, 0, 0, 0.25));
		}
	}
	&__status-bar {
		padding: 14px;
		@media (min-width: 800px) {
			padding: 14px;
		}
		display: flex;
		border-radius: 10px 10px 0px 0px;
		background-color: rgba($white, 0.1);
	}
	&__button {
		width: 15px;
		height: 15px;
		border: 1px solid $gray-800;
		border-radius: 50%;
		margin-right: 12px;

		&:nth-child(1) {
			background-color: $shade-06;
		}
		&:nth-child(2) {
			background-color: $shade-07;
		}
		&:nth-child(3) {
			background-color: $shade-08;
		}
	}
	&__window {
		padding: 25px 10px 10px 10px;
	}
	&__cta {
		padding-top: 50px;
		@media (min-width: 800px) {
			grid-area: cta;
		}
	}
}

.home-events-slider {
	content-visibility: auto;
	contain-intrinsic-size: auto 396px;
	@media (min-width: 412px) {
		contain-intrinsic-size: auto 455px;
	}
	@media (min-width: 500px) {
		contain-intrinsic-size: auto 186px;
	}
	@media (min-width: 768px) {
		contain-intrinsic-size: auto 258px;
	}
	@media (min-width: 1024px) {
		contain-intrinsic-size: auto 348px;
	}
	@media (min-width: 1200px) {
		contain-intrinsic-size: auto 427px;
	}
}
