.home-hero {
	position: relative;
	height: calc(100vh - 80px);
	&__content {
		position: absolute;
		z-index: 4;
		width: 100%;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		color: $white;
		h1 {
			font-size: 78px;
			font-weight: 800;
			line-height: 85px;
			span {
				font-weight: 400;
			}
		}
		h2 {
			max-width: 700px;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			strong {
				font-weight: 800;
			}
		}
	}
	&__overlay,
	&__poster,
	&__video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	&__overlay {
		z-index: 3;
		background-color: $black;
		&.poster-has-loaded {
			// background-color: rgba($black, 0.5);
			background: linear-gradient(66deg, rgba(0, 0, 0, 0.8), transparent);
		}
	}
	&__poster {
		z-index: 2;
		// min-width: 100%;
		visibility: visible;
		opacity: 1;
		transition: all 0.5s ease-out;
		&.video-has-loaded {
			transition: all 0.5s ease-out;
			visibility: hidden;
			opacity: 0;
		}
	}
	&__video {
		z-index: 1;
	}
	&__metric_wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 900px;
		li {
			line-height: 90%;
			font-weight: 700;
			font-size: 36px;
			span {
				display: block;
				font-weight: 400;
				font-size: 16px;
				line-height: 100%;
			}
		}
	}
}
