// Human single.
.human {
	&__image {
		margin-bottom: 40px;
	}
	.post-content .human__image {
		max-width: 100%;
		width: 100%;
	}
}

.human-item {
	@include tiles3;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	&__image {
		max-height: unset;
		width: 100%;
		object-fit: cover;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	&__title {
		font-size: 20px;
		line-height: 140%;
		a {
			color: $black;
		}
		a:hover {
			text-decoration: none;
		}
	}
	&__text-wrapper {
		padding-top: 20px;
		padding-right: 25px;
		margin-bottom: 30px;
		padding-left: 25px;
		.author-category {
			margin-bottom: 20px;
		}
		.author-category:hover {
			text-decoration: none;
		}
	}
	&__date {
		font-size: 12px;
		line-height: 140%;
		color: $gray-700;
		margin-top: auto;
		padding-left: 25px;
		padding-bottom: 25px;
		padding-right: 40px;
	}
}
