.kubeweeklys {
	margin-bottom: 50px;
	@media (min-width: 1200px) {
		margin-bottom: 100px;
	}
	h2 {
		margin-top: 30px;
		margin-bottom: 25px;
		@media (min-width: 1200px) {
			margin-top: 60px;
			margin-bottom: 50px;
		}
	}
	h2:first-of-type {
		margin-top: 0;
	}
}

.kubeweekly-item {
	@include tiles3;
	padding: 18px 24px;
	&__link {
		color: $black;
	}
	&__link:hover {
		text-decoration: none;
	}
	&__date {
		font-size: 12px;
	}
}

.kubeweekly-newsletter {
	min-height: 359px; // to stop hubspot form making box jump.
	form {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.no-list {
		width: 100%;
		list-style: none;
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		li {
			margin: 0;
		}
		.hs-error-msg {
			border: 2px $error solid;
			padding: 10px;
		}
	}

	.legal-consent-container {
		p {
			font-size: var(--wp--preset--font-size--small);
		}
	}

	.hs_error_rollup {
		display: none;
	}
}
