.kubeweeklys {
	margin-bottom: 50px;
	@media (min-width: 1200px) {
		margin-bottom: 100px;
	}
	h2 {
		margin-top: 30px;
		margin-bottom: 25px;
		@media (min-width: 1200px) {
			margin-top: 60px;
			margin-bottom: 50px;
		}
	}
	h2:first-of-type {
		margin-top: 0;
	}
}

.kubeweekly-item {
	border: 1px solid $gray-300;
	background-color: $white;
	padding: 18px 24px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	&__link {
		color: $black;
	}
	&__link:hover {
		text-decoration: none;
	}
	&__date {
		font-size: 12px;
	}
}

// to stop hubspot form making box jump.
.kubeweekly-newsletter {
	min-height: 359px;
	.hs-fieldtype-text {
		margin-bottom: 24px;
	}

	.no-list {
		width: 100%;
		list-style: none;
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		li {
			margin: 0;
		}
		.hs-error-msg {
			border: 2px $error solid;
			padding: 10px;
		}
	}
}
