// Front page only.
.home article .next-event {
	position: relative;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	&__logo {
		width: 90%;
		height: auto;
		max-height: 140px;
		max-width: 400px;
		margin-bottom: 25px;
		@media (min-width: 700px) {
			max-height: 205px;
		}
	}
	&__column-wrapper {
		display: flex;
		flex-direction: column;
		min-height: 450px;
		@media (min-width: 700px) {
			flex-direction: row;
			min-height: unset;
		}
	}
	&__col1 {
		height: 70%;
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		@media (min-width: 700px) {
			height: 100%;
			width: 50%;
		}
	}
	&__col2 {
		height: 65%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		@media (min-width: 700px) {
			position: static;
			height: unset;
			width: 50%;
		}
	}
	&__text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px;
		@media (min-width: 700px) {
			padding: 40px 30px 60px 30px;
		}
		@media (min-width: 1200px) {
			padding: 60px 30px 60px 30px;
		}
	}
	&__text {
		width: 60%;
		font-size: 24px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		color: $black;
		font-weight: 700;
		@media (min-width: 700px) {
			width: 100%;
			font-size: 22px;
			line-height: 22px;
		}
	}
	&__figure {
		position: relative;
		width: 100%;
		height: 100%;
		top: 110px;

		@media (min-width: 700px) {
			top: 0;
			max-height: 448px;
		}
	}
	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		opacity: 0.8;
		@media (min-width: 700px) {
			opacity: 1;
			position: static;
			object-position: 0px center;
		}
	}
	.wp-block-button__link {
		margin-top: 60px;
		@media (min-width: 700px) {
			margin-top: 40px;
		}
		white-space: nowrap;
		width: max-content;
		padding-top: 9px;
		padding-bottom: 9px;
	}
}

// Menu only.
.main-menu .next-event {
	border-radius: 5px;
	position: relative;
	width: 100%;
	height: 120px;
	transform: none;
	&__logo {
		width: 135px;
		height: auto;
		max-height: 80px;
		margin-bottom: 15px;
	}
	&__column-wrapper {
		display: flex;
		height: 100%;
	}
	&__col1 {
		width: 50%;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
	&__text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&__text {
		font-size: 8px;
		line-height: 8px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $black;
		font-weight: 700;
	}
	&__col2 {
		width: 50%;
		overflow: hidden;
		position: relative;
	}
	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.wp-block-button__link {
		display: none;
	}
}
