// pagination (1,2,3,4,5 etc)
.pagination {
	margin-top: 4em;
	margin-bottom: 4em;

	.nav-links {
		display: flex;
		background-color: $white;
		white-space: nowrap;
		padding: 1em 0em;
		justify-content: center;

		> * {
			white-space: nowrap;
			display: inline;
			border: 1px solid $primary-color;
		}

		> *:not(:last-child) {
			margin-right: 5px;
			@media (min-width: 1000px) {
				margin-right: 10px;
			}
		}
	}

	.ellipsis {
		vertical-align: baseline;
	}

	.page-numbers {
		margin: 0;
		padding: 0;
		line-height: 1em;
		font-size: 16px;
		@media (min-width: 1000px) {
			font-size: 24px;
		}
		font-weight: 400;
		padding: 12px;
		min-width: 30px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 2px solid transparent;
		border-radius: 2px;
	}

	a {
		text-decoration: none;
		background-color: transparent;
		color: $primary-color;

		&:hover,
		&:focus {
			color: $white;
			background-color: $black;
			.arrows {
				color: $white;
			}
		}
	}

	.current {
		border-color: $primary-color;
		background-color: $white;
		color: $primary-color;
	}

	.next,
	.prev {
		padding-left: 10px;
		padding-right: 10px;
	}

	.dots {
		border-color: transparent;
		color: $gray-500;
		font-weight: 700;
	}

	.arrows {
		color: $black;
		// &:hover {
		// 	color: $white;
		// }
	}

	@media (max-width: 500px) {
		.page-numbers:not(.current):not(.next):not(.prev),
		.page-numbers.dots {
			display: none;
		}
	}
}
