#map {
	height: 500px;

	.map-button {
		font-family: $font-primary;
		font-weight: 800;
		font-size: 14px;
		line-height: 14px;

		&:hover {
			text-decoration: underline;
		}

		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 13px;
			width: 8px;
			margin-left: 5px;
			margin-right: 7px;
			margin-bottom: 2px;
			background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L1 11.5' stroke='%23D62293' stroke-width='2'/%3E%3C/svg%3E%0A");		}
	}
}

