.post-author {
	margin-bottom: 50px;
	font-style: italic;
	letter-spacing: 0.02em;
	line-height: $line-height;
	display: flex;
	flex-direction: row;
	align-items: center;
	&__image {
		border-radius: 50%;
		object-fit: cover;
		width: 60px;
		height: 60px;
		@media (min-width: 1200px) {
			width: 70px;
			height: 70px;
		}
	}
	&__author {
		display: block;
		font-weight: 700;
		font-size: 16px;
		@media (min-width: 1200px) {
			font-size: 20px;
		}
	}
	&__date {
		display: block;
		font-size: 12px;
		@media (min-width: 1200px) {
			font-size: 16px;
		}
	}
}
