.post-author {
	margin-bottom: 50px;
	&__date {
		font-weight: 700;
		margin: 0;
		font-size: 14px;
		@media (min-width: 1000px) {
			font-size: 18px;
		}
	}
	&__author {
		font-weight: 700;
		font-style: italic;
		margin-top: 0 !important;
		font-size: 14px;
		@media (min-width: 1000px) {
			font-size: 18px;
		}
	}
	&__projects_title {
		font-weight: 700;
		font-style: italic;
		margin-bottom: 5px;
		margin-top: 0 !important;
		font-size: 14px;
		@media (min-width: 1000px) {
			font-size: 18px;
		}
	}
	&__projects {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		align-items: center;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	&__projects_link {
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
	}
	&__projects_image {
		max-height: 50px;
		min-height: 100%;
		object-fit: contain;
		display: block;
	}
}
