.project-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	&__link {
		width: 110px;
		height: 110px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__image {
		width: 100%;
		max-width: 110px;
		max-height: 110px;
	}
	&__category {
		margin-top: 20px;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.projects-single {
	&-box {
		column-gap: 0;
		width: 100%;
		background-color: white;
		filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
		border: 1px solid $gray-300;
		border-radius: 10px;
		&__col1 {
			grid-column: span 12;
			margin-top: 50px;
			margin-bottom: 50px;
			@media (min-width: 600px) {
				margin-top: 0;
				margin-bottom: 0;
				grid-column: span 5;
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
			}
			@media (min-width: 800px) {
				grid-column: span 3;
			}
		}
		&__link {
			width: 100%;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
		}
		&__image {
			max-width: 80%;
			max-height: 300px;
			@media (min-width: 1000px) {
				max-width: 225px;
				max-height: 225px;
			}
		}
		&__col2 {
			grid-column: span 12;
			background-image: url('/wp-content/themes/cncf-twenty-two/images/bg-gradient-gray-down.png');
			background-repeat: repeat-x;
			background-color: $white;
			padding: 50px 20px 50px 20px;
			border-radius: 10px;
			@media (min-width: 600px) {
				padding: 50px 30px 50px 50px;
				grid-column: span 7;
				background: linear-gradient(90deg, rgba(252, 252, 252, 1) 25%, rgba(255, 255, 255, 0) 100%);
			}
			@media (min-width: 800px) {
				grid-column: span 9;
			}
		}
		&__description {
			font-size: 22px;
			@media (min-width: 1000px) {
				font-size: 30px;
			}
			line-height: 140%;
			letter-spacing: 0.02em;
			max-width: 700px;
		}
		&__accepted {
			letter-spacing: 0.02em;
		}
		&__links {
			display: flex;
			flex-direction: column;
			@media (min-width: 1000px) {
				flex-direction: row;
				align-items: center;
				.wp-block-button__link {
					white-space: nowrap;
				}
			}
		}
		&__icons {
			margin-top: 40px;
			@media (min-width: 1000px) {
				margin-top: 0px;
				margin-left: 60px;
			}
			> *:not(:last-child) {
				margin-right: 5px;
				@media (min-width: 1200px) {
					margin-right: 15px;
				}
			}
			svg {
				height: 32px;
				width: auto;
				color: $black;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
}

.projects-chart-container {
	position: relative;
	max-width: 100%;
	min-height: 400px;
	@media (min-width: 600px) {
		min-height: 500px;
	}
	@media (min-width: 1000px) {
		min-height: 600px;
	}
	// position: relative; height:70vh; width:80vw; margin: auto; text-align:center
}
