.radars {
}

.radar-item {
	background: #ffffff;
	font-weight: 700;
	filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.05));
	display: flex;
	flex-direction: column;
	&__image {
		max-height: unset;
		width: 100%;
		object-fit: cover;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		object-position: -30px 9px;
		background-color: #e6e6e6;
	}
	&__title {
		font-size: 20px;
		line-height: 140%;
		margin-bottom: 40px;
		padding-left: 25px;
		padding-top: 25px;
		padding-right: 40px;
	}
	a {
		color: $black;
	}
	&__date {
		font-size: 12px;
		line-height: 140%;
		color: $gray-700;
		margin-top: auto;
		padding-left: 25px;
		padding-bottom: 25px;
		padding-right: 40px;
	}
}

.radar-menu-item {
	.main-menu-item__image {
		object-position: -30px 9px;
		background-color: #e6e6e6;
	}
}
