.search {
	.columns-one {
		grid-row-gap: 0;
		.wp-block-separator:first-child {
			display: none;
		}
	}
	&__highlighted {
		border: 1px solid $black;
		padding: 2em;
		margin-bottom: 60px;
	}
	&__item {
		&-title {
			max-width: 900px;
			margin-bottom: 35px;
			a {
				color: $black;
				font-size: 24px;
				line-height: 150%;
			}
		}
		&-excerpt {
			max-width: 900px;
			line-height: 180%;
		}
		&-meta {
			margin-bottom: 35px;
		}
	}
	&__category {
		margin-bottom: 20px;
		@media (min-width: 800px) {
			margin-bottom: 35px;
		}
		display: flex;
		flex-direction: column;
		@media (min-width: 800px) {
			flex-direction: row;
			.author-category + .author-category {
				margin-left: 40px;
			}
		}
		> a {
			margin-bottom: 20px;
			@media (min-width: 800px) {
				margin-bottom: 0px;
			}
		}
	}
}
