.youtube-playlist {
	&__item {
		background-color: $white;
		filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
		height: 100%;
		max-height: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		.wp-block-lf-youtube-lite lite-youtube {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	&__text-wrapper {
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
		@media (min-width: 800px) {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
		@media (min-width: 1200px) {
			padding-top: 24px;
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 24px;
		}
	}
	&__title {
		font-size: 20px;
		margin-bottom: 15px;
	}
	&__link {
		margin-bottom: 15px;
		color: $black;
	}
	&__link:hover {
		text-decoration: none;
	}
	&__date {
		margin-top: auto;
		color: $gray-700;
		font-size: 10px;
		font-weight: 700;
		@media (min-width: 1200px) {
			font-size: 12px;
		}
	}
	.wp-block-lf-youtube-lite lite-youtube {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}
