// _back-to-top.scss

.back-to-top {
    position: fixed;
    width: 50px;
    right: 20px;
    top: -9999em;
    z-index: 10;
    background-color: rgba($secondary-color, 0.5);
    padding: 8px 10px 8px 10px;
    opacity: 0;
    transition: opacity 1s linear, top 0s 1.5s;

    svg {
        width: 30px;
        fill: $white;
        color: $white;

        &:hover {
            cursor: pointer;
        }
    }

    &.is-active {
        top: calc(100% - 70px);
        opacity: 1;
        transition: opacity 0.5s linear;

    }
}
