.hello-bar {

    font-size: 0.825em;

    @media (min-width: 420px) {
        font-size: 1.1em;
    }

    background: $primary-color;
    color: $white;
    width: 100%;
    padding: 6px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.2px;


    a {
        color: $white;
        text-decoration: none;
        border-bottom: 1px solid $white;
        font-weight: 450;

        &:hover {
            color: $white;
            border-bottom: 1px solid transparent;
            transition: all 0.1s ease;
        }
    }
}
