.hero {
    margin-bottom: 2em;

    &.background-image-wrapper {
        display: flex;
        min-height: 180px;
        justify-content: center;
        align-items: center;
    }

    .container {
        text-align: center;
        color: $white;
    }

    .background-image-figure:after {
        background-color: $purple-800;
        // background: linear-gradient(90deg, #2825f2 0%, #dc096a 100%);
        background-size: cover;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .75;
        mix-blend-mode: normal;
    }

    // 	background: linear-gradient(90deg,#2825f2 0%,#dc096a 100%);
    // opacity: 0.5;

    .background-image-figure {
        // background-color: $purple-800;
        background: linear-gradient(90deg, #2825f2 0%, #dc096a 100%);
        background-color: red;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .no-background {
        margin-top: 2em;
    }


}



// used in post, event, webinars, case study single
.hero-parent-link {
    margin: 0;
    margin-bottom: 0.5em;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;

    a {
        color: $secondary-color;
    }

    .hero.background-image-wrapper & {
        a {
            color: $white;

            &:hover {
                color: $white;
            }
        }
    }
}


// used in post, event, webinars single
.hero-post-title {
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
    letter-spacing: -0.2px;
    color: $secondary-color;

    @media (max-width: 767px) {
        font-size: 1.9em;
    }
}
