.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal__container {
    background-color: $white;
    padding: 30px;

    max-width: 800px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;

    min-width: 100%;

    @media (min-width: 500px) {
        min-width: 300px;
    }
}

.modal__header {
    display: flex;
}

.modal__close {
    margin-left: auto;
    background: transparent;
    border: 0;
    font-size: 2em;
    line-height: 1;
    cursor: pointer;
}

.modal__header .modal__close:before {
    content: "\2715";
}

.modal__content {
    margin-bottom: 2em;
    font-size: 0.875em;
}

.modal__title {
    margin-top: 0;
}

@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

.modal.is-open {
    .people-profile-picture {
        width: 200px;

    }
}

.modal-content-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 600px) {
        flex-direction: row;

        .modal__content {
            margin-left: 2rem;
        }
    }

}
