.newsroom-archive-container {
    display: grid;
    grid-gap: 4em;
    grid-template-rows: 1fr;
    max-width: 1000px;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}


.newsroom-archive-date {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.875em;
    font-weight: 500;
    color: $grey-500;
}

.newsroom-archive-item {
    position: relative;
    display: flex;
    flex-direction: column;

    .newsroom-archive-title a {
        font-weight: 700;
    }

    @media (min-width: 768px) {
        flex-direction: row-reverse;

        &.featured {
            flex-direction: row;
            margin-bottom: 2em;

            .newsroom-archive-image-wrapper {
                flex-basis: 500px;
                max-width: 600px;
                min-width: 300px;
                flex-grow: 1;
                flex-shrink: 1;
                height: auto;
                margin-left: 0px;
                max-height: initial;
            }

            .newsroom-archive-text-wrapper {
                flex-basis: 250px;
                flex-grow: 1;
                flex-shrink: 0;
                height: auto;
                align-self: center;
                margin-left: 50px;
            }

        }
    }
}

.newsroom-archive-image-wrapper {
    max-width: 100%;
    max-height: 400px;
    height: auto;

    @media (min-width: 768px) {
        flex-basis: 250px;
        flex-grow: 0;
        flex-shrink: 0;
        height: auto;
        margin-left: 50px;
        height: 180px;
    }

    @media (min-width: 1200px) {
        margin-left: 100px;
    }

    border: 1px solid $blue-100;
    overflow: hidden;
    transition: all 0.25s ease;
    object-fit: cover;

    @media (min-width: 768px) {
        &:hover {
            .newsroom-image {
                opacity: 0.75;
            }

        }
    }
}

.newsroom-archive-text-wrapper {
    @media (min-width: 768px) {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
    }
}
