.post-pagination {

    .previous,
    .next {
        display: block;
        margin-bottom: 1rem;
    }

    .previous {
        text-align: left;
    }

    .next {
        text-align: right;
    }
}
