.projects-wrapper {
    display: grid;
    grid-row-gap: 1rem; grid-column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    margin-top: 2em;
    margin-bottom: 2rem;

    @media (min-width: 550px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    @media (min-width: 1000px) {
        grid-row-gap: 1.5rem; grid-column-gap: 1.5rem;
    }
}

.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5em;
}

.project-thumbnail {
    max-width: 100px;
    max-height: 100px;

    &:hover {
        opacity: 0.8;
    }
}

.project-title {
    margin: 0;
    margin-top: 0.5em;
}

.project-category {
    margin: 0;
    margin-top: 0.5em;
    color: $grey-700;
    font-weight: 400;
}

.project-icons {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;

    @media (min-width: 768px) {
        width: 70%;
    }

    align-items: center;
    align-items: center;
    justify-content: center;

    >* {
        margin-right: 0.5em;
        margin-bottom: 0.25em;
    }

    >*:only-child {
        margin-right: 0;
    }

    svg {
        height: 20px;
        width: auto;
        fill: $primary-color;
        color: $primary-color;

        &:hover {
            fill: $primary-300;
            color: $primary-300;
        }
    }
}
