.searchandfilter {
    >ul {
        margin: 0; // reset
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .chosen-container {
        width: 100% !important;
        max-width: 100%;
        display: inline-block;
    }

}


.results-count {
    display: inline-block;
    margin-bottom: 1em;
}

.search-filter-reset {
    @extend .button;
    @extend .stocky;
    @extend .outline;
    @extend .secondary;
    @extend .smaller;
    background-color: transparent;
    border-color: $grey-400;
    color: $grey-400;

    &:hover {
        border-color: $primary-color;
    }

}
