.social-share {
    margin-top: 80px;
    margin-bottom: 80px;
    // margin-left: auto;
    // margin-right: auto;
    max-width: 260px;

    .social-share-title {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 0.7em;
        // text-align: center;
    }

    .social-share-wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;

        li {
            text-align: center;
        }

        svg {
            max-width: 100%;
            height: 35px;
            fill: $black;
            color: $black;

            &:hover {
                fill: $primary-color;
                color: $primary-color;
            }
        }
    }
}
