.speakers-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));

    @media (min-width: 600px) {
        grid-gap: 1.5em;
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
}

.speaker {
    background-color: $blue-100;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker-photo {
    img {
        width: 100%;
        height: auto;
        border: 1px solid $grey-200;

        @media (min-width: 768px) {
            max-width: 120px;
        }
    }
}

.speaker-title {
    margin-bottom: auto;
    text-align: center;

    a {
        text-transform: capitalize;
    }
}

.speaker-location {
    color: $white;
}

.speaker-badges {
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: flex;
    height: 30px;

    .column:not(:last-of-type) {
        margin-right: 0.5em;

    }

    svg {
        height: 1.5em;
        width: auto;
        opacity: 0.75;

        &:hover {
            opacity: 1;
        }
    }
}


// makes date icon inline.
.ginput_container_date {
    display: flex;
}

// resizes date icon.
body.um-page-user .gform_wrapper img.ui-datepicker-trigger {
    width: 34px !important;
    height: 32px !important;
}

// makes UM profile bigger/
.um-profile-body {
    max-width: 1000px;
}

// Hide contact form when editing profile
.um-own-profile,
.um-page-user,
.um-page-login {

    .gform_wrapper .gform_footer {
        margin: 0;
        padding: 0;
    }

    .um-profile.um-editing.um-role-um_speaker {
        .um-field-type_shortcode {
            display: none;
        }


        .um-col-alt {
            display: flex;
        }
    }

    .um-button {
        @extend .button;
        margin-right: 1em;
        border-radius: 0 !important;
        font-size: 1em !important;
    }

    .um-alt {
        @extend .button;
        @extend .secondary-color;
        border-radius: 0 !important;
        font-size: 1em !important;
    }

    .um-half {
        width: initial;
    }

}

.speakers-subnav {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

.um-profile-meta {
    text-align: center;

    .um-meta-text {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

.affiliations-box {
    margin-top: 2em;

    label {
        font-size: 1.25em;
        font-weight: 500;
        color: #444444;
    }
}

.affiliations-box-badges {
    display: flex;
    justify-content: center;
    padding: 1em 0;

    .column {
        display: flex;
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }
    }

    svg {
        height: 3.5em;

        @media (min-width: 768px) {
            height: 5em;
        }

        width: auto;
    }
}
