.speakers-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));

    @media (min-width: 600px) {
        grid-gap: 1.5em;
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
}

.speaker {
    background-color: $blue-100;
    padding: 1em;

    @media (min-width: 600px) {
        padding: 1.5em;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaker-photo {
    img {
        width: 100%;
        height: auto;
        border: 1px solid $grey-200;

        @media (min-width: 768px) {
            min-width: 190px;
        }
    }
}

.speaker-title {
    margin-bottom: auto;
    text-align: center;

    a {
        text-transform: capitalize;
    }
}

.speaker-location {
    color: $white;
}

.speaker-badges {
    margin-top: 1em;
    display: flex;
    height: 30px;

    .column:not(:last-of-type) {
        margin-right: 0.5em;

    }

    svg {
        height: 1.5em;
        width: auto;
        opacity: 0.75;

        &:hover {
            opacity: 1;
        }
    }
}
