.spotlights-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 1em;
    margin-bottom: 2em;

    @media (min-width: 1024px) {
        grid-gap: 1.5em;
    }
}

.spotlight-box {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: $tertiary-color;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.spotlight-thumbnail {
    margin-bottom: 0.5em;
    width: 150px;
    height: 150px;
    border: 1px solid $grey-200;

    // remove border add padding if svg.
    &[src$=".svg"] {
        border: 0;
        padding: 0.5em;
    }
}

.spotlight-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.spotlight-date {
    margin-bottom: 0.5em;
    font-weight: 500;
}
