// Layout of Recorded Webinars from Search Filter (NOT Upcoming)
.webinars-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 1em;
    margin-bottom: 2em;

    @media (min-width: 1024px) {
        grid-gap: 1.5em;
    }
}

.webinar-title {
    margin-top: 1em;
    margin-bottom: 0;
    line-height: 1.4;
    margin-bottom: auto;
}

.presented-by {
    margin-top: 1em;
    font-size: 0.825em;
    font-weight: 500;
}

.recorded {
    margin-top: 0.5em;
    font-size: 0.825em;

    .webinar-single & {
        font-weight: 500;
        margin-top: 1em;
    }
}

// Upcoming Webinars Filter and Block
.webinars-upcoming-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: 1fr;

    .is-style-horizontal & {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin-bottom: 1em;

        @media (min-width: 1024px) {
            grid-gap: 1.5em;
        }
    }
}

.webinars-upcoming-box {
    display: flex;
    padding: 1em;
    background-color: $tertiary-color;
    align-content: center;
}

.webinars-upcoming-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

// Recorded - Singular item
.webinar-recorded-box {
    display: flex;
    flex-direction: column;
    background-color: $tertiary-color;
    padding: 1em;

    .webinar-title {
        padding-bottom: 1em;
        margin-bottom: auto;
    }

    figure {
        overflow: hidden;
        margin: 0;
        position: relative;
        margin-bottom: 1em;
        border: 1px solid $grey-200;

        &:hover {
            .video-overlay {
                opacity: 1;
                transition: opacity 0.5s ease-in-out;
            }
        }
    }

    img {
        margin: -10% 0;
        display: block;
        width: 100%;
    }
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.70;
}

.webinar-single {
    text-align: center;
}

.webinar-summary {
    width: 100%;
    border: 1px solid $black;
    padding: 2em;
    background-color: $tertiary-color;
    font-weight: 500;
}

// Footer
.webinar-footer {
    margin-top: 5em;

    .webinar-footer-text-wrap {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        color: $white;
        padding-top: 4em;
        padding-bottom: 4em;
        line-height: 1.4;
    }
}

.webinar-footer+.newsletter {
    margin-top: 0;
}
