// Layout of Webinars from filter (NOT Upcoming)
.webinars-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 1em;
    margin-bottom: 2em;

    @media (min-width: 1024px) {
        grid-gap: 1.5em;
    }
}

.webinar-title {
    margin-top: 1em;
    margin-bottom: 0;
    line-height: 1.4;
}

.presented-by {
    margin-top: 1em;
    font-size: 0.825em;
    font-weight: 500;
}

.recorded {
    margin-top: 0.5em;
    font-size: 0.825em;

    .webinar-single & {
        font-weight: 500;
        margin-top: 1em;
    }
}

.skew-box {
    font-size: 0.750em;
    text-transform: uppercase;
    font-weight: 500;
    color: $white;
    padding: 5px 6px;
    background-color: $purple-400;
    padding-right: 25px;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, calc(100% - 22px) 0);
    // useful if inside flexbox.
    align-self: start;

    &:first-child {
        margin-bottom: 0.5em;
    }

    &.secondary {
        background-color: $blue-200;
    }

    .webinar-single & {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        transform: translateX(12px);
    }
}


// Upcoming Webinars Block
.webinars-upcoming-wrapper {
    display: grid;
    grid-gap: 1em;

    // @media (min-width: 1000px) {
    //     grid-auto-rows: 1fr;
    // }

    .is-style-horizontal & {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin-bottom: 1em;

        @media (min-width: 1024px) {
            grid-gap: 1.5em;
        }
    }
}

.webinars-upcoming-box {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: $blue-100;
    padding: 20px;
    display: flex;
    align-content: center;
    // Relative so whole box is a link.
    position: relative;

    &:hover {
        background-color: darken($blue-100, 10%);

        // fake link overlay due to block.
        .webinar-title>a {
            color: $pink-400;
            transition: all 0.25s ease;
            text-decoration: underline;
        }
    }
}

.webinars-upcoming-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

// Recorded - Singular item
.webinar-recorded-item {
    display: flex;
    flex-direction: column;
    background-color: $blue-100;
    padding: 1em;

    .webinar-title {
        padding-bottom: 1em;
        margin-bottom: auto;
    }

    figure {
        overflow: hidden;
        margin: 0;
        position: relative;
        margin-bottom: 1em;
        border: 1px solid $grey-200;

        &:hover {
            .video-overlay {
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
            }
        }
    }

    img {
        margin: -10% 0;
        display: block;
        width: 100%;
    }
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.70;
}


.webinar-single {
    text-align: center;

}

.webinar-summary {
    width: 100%;
    border: 1px solid $black;
    padding: 2em;
    background-color: $blue-100;
    font-weight: 500;
}
