@media (min-width: 1000px) {
	.home-hero {
		display: flex;
	}

	.home-hero__col1 {
		flex-shrink: 0;
		width: calc(100% - 1% - 3vw - 50%);
		margin-right: 1%;
	}
	.home-hero__col2 {
		width: calc(50% + 6vw);
		padding-left: 6vw;
		clip-path: polygon(6vw 0, 100% 0, 100% 100%, 0% 100%);
	}
}

.home-hero__col2 {
	background-color: $black;
	.background-image-figure {
		opacity: 0.1;
	}
}

.data-display {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
	li {
		font-size: 0.8rem;
		@media (min-width: 414px) {
			font-size: 1.1rem;
			padding-right: 10px;
		}
	}

	a {
		color: $body-text-color;
		&:hover {
			span {
				color: $link-hover;
				text-decoration: underline white;
			}
		}
	}

	span {
		color: $link-color;
		font-weight: 700;
		display: block;
		font-size: 1.25rem;
		text-decoration: none;
		@media (min-width: 414px) {
			font-size: 1.5rem;
		}
	}
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.arrow-cta {
	font-weight: 700;

	&::after {
		content: "";
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15.815' viewBox='0 0 16 15.815'%3E%3Cpath id='arrow-right-regular' d='M7.789,34.711l-.707.707a.429.429,0,0,0,0,.606l5.54,5.54H.429A.429.429,0,0,0,0,41.993v1a.429.429,0,0,0,.429.429H12.623l-5.54,5.54a.429.429,0,0,0,0,.606l.707.707a.429.429,0,0,0,.606,0L15.874,42.8a.429.429,0,0,0,0-.606L8.4,34.711A.428.428,0,0,0,7.789,34.711Z' transform='translate(0 -34.586)' fill='%23f0a'/%3E%3C/svg%3E");
		margin-left: 0.2em; // connects to word.
		padding-left: 1.5em;
		background-size: 0.8em 0.9em;
		background-position: center center;
		background-repeat: no-repeat;
	}

	&.has-white-color {
		&::after {
			filter: brightness(0) saturate(100%) invert(100%);
		}
	}

	@media (hover: hover) {
		&:hover {
			&::after {
				// hover color experimental TODO
				// https://codepen.io/sosuke/pen/Pjoqqp
				filter: brightness(-10%);
			}
		}
	}
}

.user-guide .home-hero__col2 {
	background-color: black;
	@media (max-width: 999px) {
		position: relative;
		right: 50%;
		left: 50%;
		margin-right: -50vw;
		margin-left: -50vw;
		width: 100vw;
		max-width: 100vw;
	}
}

.user-guide-wrapper {
	display: grid;
	grid-row-gap: 1.5rem;
	grid-column-gap: 1.5rem;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.user-guide-box {
	position: relative;
	display: flex;
	flex-direction: column;
	transition: background-color 0.25s ease-out;
	.arrow-cta {
		margin-top: auto;
	}
	&:hover {
		&.has-pink-400-background-color {
			background-color: darken($primary-400, 10%);
		}
		&.has-purple-700-background-color {
			background-color: darken($secondary-700, 10%);
		}
		&.has-tertiary-400-background-color {
			background-color: darken($tertiary-400, 10%);
		}
		.arrow-cta {
			transition: all 0.25s ease-out;
			text-decoration: underline;
		}
	}
}

.home-padding {
	padding: 12px;

	@media (min-width: 375px) {
		padding: 20px;
	}

	@media (min-width: 550px) {
		padding: 25px;
	}
}

.home-announcement {
	background-color: $grey-100;
	border: 1px solid $primary-color;

	p {
		margin-bottom: 1rem;
		@media (min-width: 768px) {
			margin-bottom: 0.25rem;
		}
	}
	svg {
		color: $secondary-color;
	}
}

.event-highlight {
	background-image: linear-gradient(90deg, rgb(10, 113, 248) 0%, rgb(244, 15, 108) 100%);

	color: white;
	position: relative;
	right: 50%;
	left: 50%;
	margin-right: -50vw;
	margin-left: -50vw;
	width: 100vw;
	max-width: 100vw;
}

.event-highlight-wrapper {
	display: grid;
	grid-row-gap: 1.5rem;
	grid-column-gap: 1.5rem;
	@media (max-width: 999px) {
		div:nth-child(2) {
			grid-row: 1;
		}
	}

	@media (min-width: 800px) {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

		div:nth-child(2) {
			margin-right: 20px;
		}
	}

	@media (min-width: 800px) and (max-width: 999px) {
		div:nth-child(3) {
			grid-column: span 2;
		}
	}

	@media (min-width: 1000px) {
		grid-template-columns: 2fr 1.5fr 2fr;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
}

.hosted-projects {
	@media (min-width: 1000px) {
		display: flex;

		> div {
			width: 50%;
			flex-basis: 50%;
		}
	}
}

.project-slider-wrapper {
	@media (max-width: 999px) {
		position: relative;
		right: 50%;
		left: 50%;
		margin-right: -50vw;
		margin-left: -50vw;
		width: 100vw;
		max-width: 100vw;
	}
	position: relative;
	&:before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		display: inline-block;
		background: linear-gradient(90deg, rgba(255, 255, 255, 1) 72%, rgba(255, 255, 255, 0) 100%);
		z-index: 1;
		width: 25px;
		@media (min-width: 768px) {
			width: 50px;
		}
	}
	&:after {
		content: " ";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		display: inline-block;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 72%);
		z-index: 1;
		width: 25px;
		@media (min-width: 768px) {
			width: 50px;
		}
	}
}

.slider {
	opacity: 0;
}

.slider.slick-initialized {
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

.slick-slider {
	margin: 0;
}

.project-slider-wrapper {
	.slick-initialized .slick-track {
		display: flex;

		.slick-slide {
			display: flex;
			height: auto;
			justify-content: center;
		}
	}

	.slick-slide {
		border: 1px solid #a9a9a9;
		margin: 0.5rem;
		padding: 0.5rem 1rem;
		border-radius: 10px;

		display: flex;
		align-content: center;
		align-items: center;
		justify-content: flex-start;

		img {
			width: 65px;
			height: 65px;
		}

		&:hover,
		&:focus,
		&:active {
			border: 1px solid #000;
			animation-name: pop-sm;
			animation-duration: 0.2s;
			animation-timing-function: linear;
			animation-iteration-count: 1;
			img {
				animation-name: pop-lg;
				animation-duration: 0.3s;
				animation-timing-function: linear;
				animation-iteration-count: 1;
			}
		}
	}
}

/* Pop */
@keyframes pop-sm {
	50% {
		transform: scale(1.2);
	}
}

@keyframes pop-lg {
	50% {
		transform: scale(1.4);
	}
}

// needed for flexbox slick crap.
.slick-slider {
	min-height: 1px;
	min-width: 1px;
}

.home-announcement {
	@media (min-width: 768px) {
		display: flex;
	}
}

.announcement-slider-wrapper {
	@media (max-width: 767px) {
		margin-top: 1rem;
	}
	@media (min-width: 768px) {
		margin-left: 2rem;
	}
	&.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	p {
		font-size: 1.25em;
	}

	.slick-prev:before,
	.slick-next:before {
		color: $primary-color;
	}

	.slick-prev {
		top: 0;
		right: 0;
		left: unset;
		transform: rotate(90deg);
	}

	.slick-next {
		top: unset;
		bottom: 0;
		right: 0;
		left: unset;
		transform: rotate(-270deg);
	}

	.margin-bottom-small {
		margin-bottom: 0.25rem;
	}
}

ul.slick-dots {
	position: unset;
	display: block;
	margin: 0;
	margin-top: 2rem;
	// padding-top: 2rem;
	li {
		width: 30px;
		height: 30px;
		button {
			width: 30px;
			height: 30px;
		}

		button:before {
			font-size: 14px;
			color: $primary-color;
			width: 30px;
			height: 30px;
			opacity: 1;
		}
		&.slick-active {
			button:before {
				color: $black;
			}
		}
	}
}

.home {
	.newsroom-post-wrapper,
	.webinars-upcoming-text-wrapper {
		background-color: $white;
	}
}

.home-announcement-icon {
	display: flex;
	align-items: center;
}

.home-announcement-item {
	@media (min-width: 768px) {
		padding-right: 50px;
	}
}

.home-news {
	.newsroom-post-wrapper {
		height: 100%;
	}
}

.better-responsive-columns {
	@media (max-width: 781px) {
		.wp-block-column {
			margin-bottom: 1rem;
		}
	}
}
