/**
 * Editor Styles
 *
 * Import, add or override any styles here for Editor
 *
 * @package WordPress
 * @subpackage lf-theme
 * @since 1.0.0
 */

@import "core/variables";
@import "core/normalize";
@import "core/reset";

// import styles over the top of editor styles defaults.
#editor {
	.editor-styles-wrapper {
		@import "core/typography";
		@import "components/link-icons";
		@import "components/hero";
		@import "components/speakers";
		@import "components/webinars";
		@import "components/events";
		@import "components/people";
		@import "components/projects";
		@import "components/case-studies";
		@import "components/spotlights";
		@import "components/countup";

		@import "blocks/colors";
		@import "blocks/has-color-function";
		@import "blocks/buttons";
		@import "blocks/columns";
		@import "blocks/lists";
		@import "blocks/quote";
		@import "blocks/gallery";
		@import "blocks/spacer";
		@import "blocks/table";
		@import "blocks/paragraph-headers";

		// LF Blocks styling needed in editor.
		@import "blocks/case-study-highlights";
		@import "blocks/case-study-overview";
		@import "blocks/landscape";
		@import "blocks/newsroom";
		@import "blocks/stats";
	}
}

// Editor only styles.
@import "admin/outlines";
@import "admin/alignment";

.post-type-post {
	.editor-styles-wrapper {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&:not([class*="is-style"]),
			&.is-style-default {
				max-width: 900px;
			}
		}

		p {
			&:not([class*="is-style"]):not(.hero-parent-link),
			&.is-style-default {
				max-width: 700px;
			}
		}

		.hbspt-form,
		.wp-block-code {
			max-width: 700px;
		}
	}
}

#editor {
	.editor-styles-wrapper {
		color: $body-text-color;

		p {
			line-height: 1.5;
		}

		// style links same as frontend.
		a {
			color: $primary-color;
			text-decoration: none;
		}

		.is-style-arrow-cta::after {
			position: static;
		}
	}
}

// Editor Post Title.
.editor-post-title__block .editor-post-title__input {
	font-family: $font-primary;
	font-weight: 300;
	line-height: 1.4;
}

// Add padding to make more easily selectable.
.wp-block-group,
.wp-block-columns {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

// stop ridiculous dropcap in paragraph preview.
.block-editor-block-preview__content .has-drop-cap:not(:focus):first-letter {
	float: none;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: inherit;
	text-transform: inherit;
	font-style: inherit;
}

.skew-box {
	font-size: 0.775em;
	font-weight: 400;
	color: $white;
	padding: 5px 6px;
	background-color: $secondary-700;
	padding-right: 25px;
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, calc(100% - 22px) 0);
	// useful if inside flexbox.
	align-self: start;
	margin-bottom: 0.5rem;

	&.secondary {
		background-color: $grey-700;
	}

	&.tertiary {
		color: $secondary-700;
		background-color: $white;
	}

	&.centered {
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
		transform: translateX(12px);
	}
}

// Make SVGs fill containers unless resized (Safe SVG related).
.wp-block-image:not(.is-resized) img[src$=".svg"] {
	width: 100%;
	height: auto;
}

// For hero image positioning in div container.
.background-image-wrapper {
	overflow: hidden;
	position: relative;
}

.background-image-figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

.background-image-text-overlay {
	position: relative;
	z-index: 2;
}

// allows for transparent images to be visible in Sidebar Metabox.
#pmc-lf_event-logo .pmc-image-container {
	background-color: $grey-200;
}

// make placeholder text easier to see in sidebar.
body.wp-admin div.pmc-sidebar ::placeholder {
	color: #c4c4c4;
}

// hides the hide pre-publish checklist option.
.editor-post-publish-panel__footer {
	display: none;
}
