/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

div.pmc-sidebar input::placeholder {
	color: #999;
}

.regular-small-text {
	width: 15em;
}

.thumbnail-margin-bottom {
	margin-bottom: 20px;
}

.image-preview-wrapper img {
	max-height: 100px;
}
