/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-lf-tab-container-block {
	border: 2px dashed #ddd;
	padding: 1rem;
	margin-bottom: 2rem;
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}
