/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


.wp-block-cgb-block-text-on-image-block {

    .media:hover,
    .media:focus {
        cursor: pointer;

        // this psuedo element trick allows us to overlay a border
        // that will not affect the size of the image or the media
        // div
        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 4px solid lightgreen;
            pointer-events: none;
        }
    }

    .media {
        position: relative;

        // we need to make the button invisible
        button {
            border: none;
            padding: 0;
            display: block;
        }
    }
}

.wp-block-cgb-block-text-on-image-block {
    // for simplicity, I'm going to wrap my block with the block name
    // and then I can use common classes like copy or media without fear!

    // Let's display the content in a row
    display: flex;
    //on mobile default to column
    flex-direction: column;
    // And let's center the items vertically
    align-items: center;
    padding: .5em;
    //Set a font for the block
    font-family: 'Avenir', 'Helvetica', sans-serif;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);

    // on tablet or higher, go to a row layout!
    @media screen and (min-width: 376px) {
        flex-direction: row;
    }


    .media {
        flex-shrink: 0;
        width: 100%;
        margin: 0 0 1em 0;

        @media screen and (min-width: 376px) {
            width: 35%;
            margin: 0 1em 0 0;
        }

        & img {
            // remove the annoying space underneath images
            display: block;
            width: 100%;
        }
    }
}
