// Gutenberg style to break out of page container.
.alignfull {
    position: relative;
    right: 50%;
    left: 50%;
    margin-right: -50vw;
    margin-left: -50vw;
    width: 100vw;

}

// block using alignwide include:
// case study overview



.alignwide {

    @media (min-width: 1200px) {
        margin-left: calc((100% - 1200px) / 2);
        width: 1200px;

        &.wp-block-group {
            .wp-block-group__inner-container {
                max-width: 100%;
            }
        }
    }

}

// .alignwide {
//     width: 100%;

//     @media (min-width: 800px) {
//         width: calc(100vw - 200px);
//         position: relative;
//         left: 50%;
//         right: 50%;
//         margin-left: -50vw;
//         margin-right: -50vw;

//         >* {
//             max-width: 1000px;
//             margin-left: auto;
//             margin-right: auto;
//             padding-left: 1em;
//             padding-right: 1em;
//         }
//     }

//     &.wp-block-embed {
//         margin-bottom: 0;
//     }
// }



// align wide
// .alignwide {
//     max-width: 100vw;
//     margin-left: -12px;
//     margin-right: -12px;

//     @media (min-width: 500px) {
//         margin-left: -25px;
//         margin-right: -25px;
//     }

//     @media (min-width: 1150px) {
//         margin-left: -100px;
//         margin-right: -100px;
//         max-width: 1100px;
//     }
// }


// center blocks alignment option.
// .aligncenter {
//     text-align: center;
// }

// experimental to try and align all content inside groups and cover.
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container,
.wp-block-group .wp-block-group__inner-container {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.wp-block-group {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wp-block-group.has-background {
    padding-left: 0px;
    padding-right: 0px;
}

.wp-block-group__inner-container .wp-block-group .wp-block-group__inner-container {
    padding-left: 0px;
    padding-right: 0px;
}
