// Button styling
.wp-block-button__link {
    border-radius: 0 !important;

    // &:hover {
    //     // text-decoration: none;
    // }

    .is-style-full &,
    &.full {
        display: block;
        width: 100%;
    }

    &:not(.has-text-color) {
        color: white;

        &:hover {
            color: white;
            // text-decoration: none;
        }

        &:visited {
            color: white;
        }
    }

    &:not(.has-background) {
        background-color: $default;

        &:hover,
        &:focus {
            background-color: lighten($default, 5%);
        }
    }

    // setup all possible combinations using color.scss variables.
    @each $name,
    $color in $colors {

        &.has-#{$name}-color {
            color: $color;
        }

        &.has-#{$name}-color:hover,
        &.has-#{$name}-color:focus {
            color: $color;
        }

        &.has-#{$name}-background-color:hover,
        &.has-#{$name}-background-color:focus {
            background-color: map_get($color_hover, $name);
        }

        &.has-#{$name}-background-color:not(.has-text-color) {
            color: map_get($text_color, $name);
        }
    }
}

.is-style-extra-large-outline {
    .wp-block-button__link {
        background-color: transparent;
        border: 1px solid $white;
        padding: 50px;
        color: $white;

        &:hover {
            color: $white;
            background-color: rgba($white, 0.2);
        }
    }
}

.is-style-extra-large-primary {
    .wp-block-button__link {
        background-color: $primary-color;
        border: 1px solid $white;
        padding: 1em;

        @media (min-width: 1200px) {
            padding: 2em;
        }

        color: $white;

        &:hover {
            color: $white;
            background-color: rgba($primary-color, 0.8);
        }
    }
}



.wp-block-buttons {
    &.alignright {
        text-align: right;
    }
}


.wp-block-buttons.button-layout {
    display: flex;
    flex-wrap: wrap;

    .is-style-extra-large-primary {
        display: flex;
        padding: 0.5em;
        width: 100%;
        margin: 0;
        line-height: 1.5;

        @media (min-width: 400px) {
            width: 50%;
        }

        @media (min-width: 800px) {
            width: 33%;
        }


    }

}
