.wp-block-lf-case-study-overview {
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.case-study-overview {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;

    @media (min-width: 800px) {
        flex-direction: row;
    }
}

.case-study-intro-wrapper {
    flex-grow: 1;
}

.case-study-overview-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $sm-padding;

    @media (min-width: 800px) {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        width: 230px;
        margin-left: 3em;
        margin-bottom: 0;
    }

    p {
        margin-top: 0em;
        margin-bottom: 1em;
        font-weight: 500;
        text-transform: uppercase;
    }

    >div {
        padding-right: 0.5em;
        padding-bottom: 0.5em;
    }

    .skew-box {
        margin-right: 5px;
        margin-bottom: 10px;
        display: inline-block;
    }
}
