.hello-bar {
    background: #de176c;
    color: #FFF;
    width: 100%;
    padding: 6px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-size: 1.1em;

    a {
        color: $white;
    }
}
