.wp-block-lf-latest-jobs {

    height: 100%;

    // title.
    a {
        font-size: 1em;
        color: $secondary-color;
        font-weight: 500;
        line-height: 1.2;
        display: block;
        margin: 0 auto 0.25em;
        text-decoration: none;

        // &:hover {
        //     color: $purple-800;
        // }
    }

    .jobs-list {
        margin: 0;
        height: 100%;
        display: grid;
        grid-auto-rows: 1fr;

        li {
            padding: 15px 15px 15px 20px;
            margin: 0;
            display: flex;
            align-items: center;
        }
    }

    .job-content {
        margin-left: 1.5em;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .job-location,
    .job-company {
        display: flex;
        align-items: center;
        color: $black;
        font-size: 0.875em;
        margin-bottom: 0.25em;

        svg {
            margin-right: 4px;
            fill: $grey-500;
            height: 14px;
            width: auto;
        }
    }

    .job-image {
        min-width: 80px;
        max-width: 80px;
        margin: 0;
    }

}

.wp-block-lf-latest-jobs {
    &.is-style-horizontal {
        .jobs-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                flex: 1 0 350px;
            }
        }
    }

    &.is-style-vertical {
        height: 100%;

        .jobs-list {
            height: 100%;
            display: grid;
            grid-auto-rows: 1fr;
        }
    }
}
