.wp-block-lf-latest-jobs {

    height: 100%;

    // title.
    a {
        line-height: 1.2;
        display: block;
        margin: 0 auto 0.25em;
    }

    .jobs-list {
        margin: 0;
        height: 100%;
        display: grid;
        grid-auto-rows: 1fr;

        li {
            background-color: $white;
            padding: 1em 0.5em 1em 1em;
            margin: 0;
            display: flex;
            align-items: center;
        }
    }

    .job-title {
        margin-bottom: 0;
    }

    .job-content {
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .job-company,
    .job-location {
        display: flex;
        align-items: center;
        font-size: 0.875em;
        margin-bottom: 0.25em;

        svg {
            margin-right: 4px;
            fill: $grey-500;
            height: 14px;
            width: auto;
        }
    }

    .job-location {
        color: $grey-500;
    }

    .job-image {
        min-width: 80px;
        max-width: 80px;

        @media (min-width: 1000px) {
            min-width: 120px;
            max-width: 120px;

            img {
                width: 100%;
            }
        }

        margin: 0;

        &:hover {
            opacity: 0.8;
        }
    }

}

.wp-block-lf-latest-jobs {
    &.is-style-horizontal {
        .jobs-list {
            display: grid;
            grid-row-gap: 1rem;
            grid-column-gap: 1rem;

            grid-template-columns: 1fr;

            @media (min-width: 700px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (min-width: 1000px) {
                grid-row-gap: 1.5rem;
                grid-column-gap: 1.5rem;
            }
        }
    }

    &.is-style-vertical {
        height: 100%;

        .jobs-list {
            height: 100%;
            display: grid;
            grid-auto-rows: 1fr;
        }
    }
}
