ul.is-style-no-style-list {
    list-style: none;
    margin: 0;
    margin-bottom: 1.5rem; // experimental
    // margin-bottom: 0.5rem;

    li {
        margin-bottom: 0.5rem;

        &:before {
            content: "- "
        }
    }
}
