.wp-block-lf-newsroom {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: $white;
    padding: 10px;

    @media (min-width: 950px) {
        grid-template-columns: 1fr;
        height: 100%;
        grid-auto-rows: 1fr;
        row-gap: 0px;
    }

    &.is-style-horizontal {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin-bottom: 1em;

        @media (min-width: 1024px) {
            grid-gap: 1.5em;
        }

        .newsroom-date {
            margin-top: auto;
        }

        .newsroom-title {
            margin-bottom: 0.5em;
        }
    }
}

.newsroom-post-wrapper {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    @media (min-width: 950px) {
        margin-bottom: 0;
    }
}

.newsroom-image-wrapper {
    max-width: 100%;
    height: 200px;
    max-height: 200px;
    min-height: 200px;

    @media (min-width: 1200px) {
        height: 150px;
        // TODO: Lose this?.
        max-height: 150px;
        min-height: 150px;
    }

    @media (min-width: 1400px) {
        height: 175px;
        max-height: 175px;
        min-height: 175px;
    }

    border: 1px solid $tertiary-color;
    overflow: hidden;
    transition: all 0.25s ease;
    object-fit: cover;

    @media (min-width: 768px) {
        &:hover {
            .newsroom-image {
                opacity: 0.75;
            }

            +.newsroom-title>a {
                color: $primary-color;
                transition: all 0.25s ease;
                text-decoration: underline;
            }
        }
    }
}

.newsroom-title {
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 1.2;
}

.newsroom-date {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.875em;
    font-weight: 500;
    color: $grey-500;
}

.newsroom-image {
    object-fit: cover;
    width: 100%;
    height: 100.1%;
}
