.has-normal-font-size {
    font-size: 1em;
}

// if the text has colour then apply a different link colour
// assuming text colour change is because of background
p.has-text-color a {
    color: $blue-800;

    &:hover {
        color: $purple-800;

    }
}

.is-style-max-width-600 {
    max-width: 600px;
}

.is-style-max-width-700 {
    max-width: 700px;
}

.is-style-max-width-800 {
    max-width: 800px;
}

.is-style-max-width-900 {
    max-width: 900px;
}

.is-style-max-width-100 {
    max-width: 100%;
}

.is-style-center-width-700 {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: center;
}

.is-style-center-width-800 {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
}

.is-style-center-width-900 {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    text-align: center;
}

.entry-content {
    .is-style-no-max-width {
        max-width: 100%;
    }
}

.is-style-no-margins {
    margin-bottom: 0;
    margin-top: 0;
}

.is-style-bottom-margin {
    margin-bottom: 1rem;
}

.is-style-divider-line {
    border-bottom: 1px solid black;

}

.is-style-add-chevron-after {
    display: inline-flex;
    align-items: center;

    &::after {
        content: ' ';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='currentColor' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 3.795l2.995-2.98 11.132 11.185-11.132 11.186-2.995-2.981 8.167-8.205-8.167-8.205zm18.04 8.205l-8.167 8.205 2.995 2.98 11.132-11.185-11.132-11.186-2.995 2.98 8.167 8.206z'/%3E%3C/svg%3E");
        background-size: 1em 1em;
        height: 1em;
        width: 1em;
        background-repeat: no-repeat;
        margin-left: 0.5rem;
        filter: invert(31%) sepia(94%) saturate(6410%) hue-rotate(323deg) brightness(89%) contrast(95%);

        display: inline-flex;
        white-space: nowrap;
        align-self: center;
    }
}
