.wp-block-quote,
.wp-block-quote.is-style-default {

    border-left: 0;
    padding-left: 0;
    margin-left: 0;
    margin-top: $sm-padding;
    margin-bottom: $sm-padding;
    font-weight: 500;
    color: $secondary-color;
    font-size: 1.5em;

    @media (min-width: 768px) {
        font-size: 1.75em;
        margin-top: $lg-padding;
        margin-bottom: $lg-padding;
    }

    p {
        margin-bottom: 0.5em;
    }

    p:not([class*='is-style']):not(.hero-parent-link) {
        .entry-content & {

            max-width: 900px;
        }
    }

    cite,
    .wp-block-quote__citation {
        font-weight: 300;
        font-style: normal;
        display: block;
        line-height: 1.5;
        text-transform: uppercase;
        font-size: 1rem;
        max-width: 900px;
        color: $grey-500;
    }
}
