.sticky-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 800px) {
        flex-direction: row;
        margin-bottom: 10em;
    }
}

.sticky-column {
    @media (min-width:800px) {
        max-width: 300px;
        min-width: 20%;
        margin-right: 2em;
        margin-top: 1.5em;
    }
}

.sticky-element {
    @media (min-width:800px) {
        position: sticky;
        top: 125px;

        .admin-bar & {
            top: calc(125px + 32px);
        }
    }
}

.sticky-nav-hint {
    font-weight: 600;
    margin-bottom: 1em;
    display: block;

    @media (min-width: 800px) {
        padding-left: 0.5em;
    }
}

ol.tab-container-nav {
    padding: 0;

    @media (min-width: 800px) {
        list-style-type: none;
        margin: 0;
        padding-right: 1em;

    }

    li {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        padding-left: 0.5em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        &.is-active {
            border-right: 5px solid $primary-color;
            background-color: $tertiary-color;
        }
    }
}

.sticky-main-content {
    max-width: 800px;
}


.wp-block-cgb-block-tab-container-block {
    @media (max-width: 799px) {
        border-top: 1px solid $grey-100;
    }

    margin-bottom: 3em;
}
