.sticky-container {
    display: flex;
    flex-direction: column;
    margin-top: $sm-padding;

    @media (min-width: 800px) {
        flex-direction: row;
        margin-bottom: 10em;
        margin-top: $lg-padding;
    }
}

.sticky-column {
    @media (min-width:800px) {
        max-width: 375px;
        min-width: 25%;
        margin-right: $sm-padding;
    }
}

.sticky-element {
    @media (min-width:800px) {
        position: sticky;
        top: 125px;

        .admin-bar & {
            top: calc(125px + 32px);
        }
    }
}

.sticky-nav-hint {
    font-weight: 600;
    margin-bottom: 1em;
    display: block;
    border-left: 4px solid transparent;

    @media (min-width: 800px) {
        padding-left: 1em;
    }
}

ul.tab-container-nav {
    padding: 0;

    @media (min-width: 800px) {
        list-style-type: none;
        margin: 0;
        padding-right: 1em;

    }

}

.tab-container-nav-item {
    margin-top: 0.25em;
    margin-bottom: 0.25em;

    @media (min-width: 800px) {
        padding-left: 1em;
    }

    border-left: 4px solid transparent;

    &.is-active {
        border-left: 4px solid $primary-color;
        background-color: $tertiary-color;
    }

    a {
        display: block;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

.sticky-main-content {
    max-width: 800px;
}


.wp-block-cgb-block-tab-container-block {
    @media (max-width: 799px) {
        border-top: 1px solid $grey-100;
        padding-top: 2rem;
    }

    margin-bottom: $lg-padding;
}
