// Upcoming Webinars Block

// Set the breakpoint for when skew should turn off.
$uw-breakpoint: 550px;

.uw-wrapper {
    display: grid;
    grid-gap: 20px;

    @media (min-width: 1000px) {
        grid-gap: 40px;
        grid-auto-rows: 1fr;
    }

    .is-style-horizontal & {
        grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
    }
}

.uw-box {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: $blue-100;
    padding: 20px;
    display: flex;
    align-content: center;
    // Relative so whole box is a link.
    position: relative;

    &:hover {
        background-color: darken($blue-100, 10%);
    }
}

.uw-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.uw-date-category-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $uw-breakpoint) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.skew-box {
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 500;
    color: $white;
    padding: 4px 6px 4px 6px;

    &:first-child {
        margin-bottom: 10px;

        @media (min-width: $uw-breakpoint) {
            margin-bottom: 0;
        }
    }
}

.uw-date {
    background-color: $purple-400;

    @media (min-width: $uw-breakpoint) {
        // adds skewed end.
        padding-right: 20px;
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, calc(100% - 20px) 0);
    }
}

.uw-category {
    background-color: $blue-300;

    @media (min-width: $uw-breakpoint) {
        // adds skewed start.
        padding-left: 20px;
        clip-path: polygon(0 0, 20px 100%, 100% 100%, 100% 100%, 100% 0);
    }

}

.uw-time {
    margin-top: auto;
    font-style: italic;
}
