.wp-block-lf-learning-journey-navigation {
	ul {
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		gap: 26px;
		@media (min-width: 500px) {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 13px;
		}
		li {
			width: fit-content;
			white-space: nowrap;
			display: inline-flex;
			align-items: center;
			flex-shrink: 0;
			border-radius: 64px;
			margin-left: 0;
			border: 1px solid #000000; // default.
			background-color: #c4c4c4; // default.
			a {
				padding: 12px 20px;
				color: #000;
				font-size: 14px;
				font-weight: 700;
				line-height: 100%;
				&:hover {
					text-decoration: none;
				}
				// Number
				span {
					font-weight: 800;
					letter-spacing: 0.7px;
					margin-right: 10px;
				}
			}
		}
	}
}

.wp-block-lf-learning-journey-navigation li {
	&:nth-of-type(1) {
		border: 1px solid var(--lj-color-1);
		background-color: var(--lj-color-1-tint);
		span {
			color: var(--lj-color-1);
		}
	}
	&:nth-of-type(2) {
		border: 1px solid var(--lj-color-2);
		background-color: var(--lj-color-2-tint);
		span {
			color: var(--lj-color-2);
		}
	}
	&:nth-of-type(3) {
		border: 1px solid var(--lj-color-3);
		background-color: var(--lj-color-3-tint);
		span {
			color: var(--lj-color-3);
		}
	}
	&:nth-of-type(4) {
		border: 1px solid var(--lj-color-4);
		background-color: var(--lj-color-4-tint);
		span {
			color: var(--lj-color-4);
		}
	}
	&:nth-of-type(5) {
		border: 1px solid var(--lj-color-5);
		background-color: var(--lj-color-5-tint);
		span {
			color: var(--lj-color-5);
		}
	}
	&:nth-of-type(6) {
		border: 1px solid var(--lj-color-6);
		background-color: var(--lj-color-6-tint);
		span {
			color: var(--lj-color-6);
		}
	}
	&:nth-of-type(7) {
		border: 1px solid var(--lj-color-7);
		background-color: var(--lj-color-7-tint);
		span {
			color: var(--lj-color-7);
		}
	}
}
