.archive-container {
    display: grid;
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
    grid-template-rows: 1fr;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;

    a {
        color: $primary-color;
    }
}

.archive-item {
    position: relative;
    display: flex;
    flex-direction: column;

    // Search.
    &.highlighted {
        border: 1px solid black;
        padding: 2em;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;

        &.in-news-item {
            align-items: flex-start;
        }

        &.featured {
            flex-direction: row;

            .archive-image-wrapper {
                flex-basis: 500px;
                max-width: 600px;
                min-width: 300px;
                flex-grow: 1;
                flex-shrink: 1;
            }

            .archive-text-wrapper {
                flex-basis: 300px;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }

    &.sticky {
        .archive-image-wrapper:after {

            content: "FEATURED";
            position: absolute;

            z-index: 10;
            color: $white;
            background-color: $primary-400;
            font-weight: 600;
            font-size: 14px;
            padding: 0.5em;
            top: 0;

            // align top right small screens.
            @media (max-width: 767px) {
                right: 0;
                // skew
                padding-left: 25px;
                clip-path: polygon(0px 0px, 22px 100%, 100% 100%, 100% 0px, 0px 0px);
            }

            // align top left on larger screens.
            @media (min-width: 768px) {
                left: 0;
                // skew
                padding-right: 25px;
                clip-path: polygon(0px 100%, calc(100% - 22px) 100%, 100% 0px, 0px 0px);
            }
        }
    }
}

.archive-title {
    margin-bottom: 0.5rem;
    line-height: 1.3;

    a {
        font-weight: 700;
    }
}

.archive-image-wrapper {
    border: 1px solid $tertiary-color;
    transition: all 0.25s ease;
    position: relative;

    @media (max-width: 767px) {
        margin-bottom: 1rem;
    }

    @media (min-width: 768px) {
        flex-basis: 275px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 2.5rem;
        height: auto;

        &:hover {
            .newsroom-image {
                opacity: 0.75;
            }
        }
    }

    @media (min-width: 1000px) {
        flex-basis: 325px;
    }

    a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // padding for image wrapper.
    &::before {
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        padding-top: 630px / 1200px * 100%;
    }

    &::after {
        // clear float.
        content: "";
        display: table;
        clear: both;
    }

    // stops 1px padding.
    img {
        display: block;
    }

    .archive-image {
        object-fit: cover;
        width: 100%;
        height: 100.1%;
    }

    // aligns the SVG default image.
    img[src$=".svg"] {
        &.archive-default-svg {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            width: 80%;
            height: 90%;
            padding: 1rem 0;
        }
    }
}

.archive-text-wrapper {
    @media (min-width: 768px) {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

// In the News only.
.in-news-item {

    .archive-image-wrapper {

        @media (max-width: 767px) {
            height: 150px;
        }

        img {
            width: 80%;
            height: 90%;
            object-fit: contain;

            @media (min-width: 768px) {
                height: 180px;
                padding: 1rem 0;
            }
        }

    }
}
