// _back-to-top.scss

.back-to-top {
    position: fixed;
    width: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background-color: rgba($secondary-color, 0.5);
    padding: 8px 10px 8px 10px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 2s, opacity 1s linear;

    &.is-active {
        opacity: 1;
        visibility: visible;
        transition: opacity 1s linear;
    }

    svg {
        width: 30px;
        fill: $white;
        color: $white;

        &:hover {
            cursor: pointer;
        }
    }
}
