.single-lf_case_study .hero h1 {
    font-size: 2.4em;

    @media (max-width: 767px) {
        font-size: 1.8em;
    }
}

.case-studies-wrapper {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(220px, auto);

    @media (min-width: 1000px) {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-row-gap: 1.5rem;
        grid-column-gap: 1.5rem;
        height: 100%;
    }
}

.case-study-box {
    @media (max-width: 767px) {
        min-height: 220px;
    }

    min-height: 280px;

    &:nth-child(5n + 1) .case-study-overlay {
        background-color: $cs-overlay;
    }

    &:nth-child(5n + 2) .case-study-overlay {
        background-color: lighten($cs-overlay, 5%);
    }

    &:nth-child(5n + 3) .case-study-overlay {
        background-color: lighten($cs-overlay, 10%);
    }

    &:nth-child(5n + 4) .case-study-overlay {
        background-color: darken($cs-overlay, 4%);
    }

    &:nth-child(5n + 5) .case-study-overlay {
        background-color: darken($cs-overlay, 8%);
    }

    img {
        filter: grayscale(100%);
    }
}

.case-study-overlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    opacity: 0.80;
    mix-blend-mode: normal;
}

.case-study-content-wrapper {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    font-weight: 600;
    padding: 1em;

    .case-study-title a {
        color: $white;

        &:visited {
            color: $grey-100;
        }
    }
}

.case-study-title-wrapper {
    display: flex;
    height: 100%;
}

.case-study-title {
    align-self: center;
}

.case-study-date {
    font-size: 0.9em;
    font-weight: 300;
}
