// date and author.

.date-author-row {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    line-height: 1.8;
}

.single .date-author-row {
    display: flex;
    margin-bottom: 2rem;
}

.date-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;

    &::before {
        content: ' ';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='22' viewBox='0 1 24 22'%3E%3Cpath fill='%2387969c' d='M20 19h-4v-4h4v4zM14 9h-4v4h4V9zm6 0h-4v4h4V9zM8 15H4v4h4v-4zM24 1v22H0V1h24zm-2 6H2v14h20V7zm-8 8h-4v4h4v-4zM8 9H4v4h4V9z'/%3E%3C/svg%3E");
        background-size: 0.875em;
        height: 0.8em;
        width: 0.875em;
        background-repeat: no-repeat;
        margin-right: 5px;
    }
}

.author-icon {
    display: flex;
    align-items: center;

    &::before {
        content: ' ';
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='%2387969c' clip-rule='evenodd'%3E%3Cpath d='M24 0v24h-24v-24h24zm-6.118 16.064c-2.293-.529-4.427-.993-3.394-2.945 3.146-5.942.834-9.119-2.488-9.119-3.388 0-5.643 3.299-2.488 9.119 1.064 1.963-1.15 2.427-3.394 2.945-2.048.473-2.124 1.49-2.118 3.269l.004.667h15.993l.003-.646c.007-1.792-.062-2.815-2.118-3.29z'/%3E%3C/svg%3E");
        background-size: 0.875em;
        height: 0.875em;
        width: 0.875em;
        background-repeat: no-repeat;
        margin-right: 5px;
    }
}
