// end users community.

.enduser-latest-wrapper {
	display: grid;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
	margin-top: 2em;
	margin-bottom: 2rem;
	align-items: center;

	@media (min-width: 550px) {
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
		grid-template-rows: minmax(100px, 1fr);
	}

	@media (min-width: 1000px) {
		grid-row-gap: 1.5rem;
		grid-column-gap: 2rem;
	}

	img {
		max-height: 75px;
		max-width: 90%;
	}
}

.enduser-people-wrapper {
	display: grid;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
	margin-top: 1rem;
	margin-bottom: 2rem;

	@media (min-width: 1000px) {
		grid-row-gap: 1.5rem;
		grid-column-gap: 1.5rem;
		grid-template-columns: repeat(4, 1fr);
	}

	&.show-descriptions {
		.people-excerpt {
			display: block;
		}
	}

	&.hide-descriptions {
		.people-excerpt {
			display: none;
		}
	}
}

.end-user-page {
	.newsroom-post-wrapper {
		height: 100%;
		background-color: $white;
	}

	.newsroom-image-wrapper {
		border: 1px solid $tertiary-color;
	}
}

.end-users-playlist {
	display: grid;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	margin-bottom: 1rem;

	@media (min-width: 1000px) {
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 1.5rem;
		grid-column-gap: 2rem;
	}

	.live-icon {
		font-weight: 400;
		font-size: 0.875em;
		color: $grey-500;
		&::before {
			content: " ";
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%2387969c' d='M16 16c0 1.104-.896 2-2 2h-12c-1.104 0-2-.896-2-2v-8c0-1.104.896-2 2-2h12c1.104 0 2 .896 2 2v8zm8-10l-6 4.223v3.554l6 4.223v-12z'/%3E%3C/svg%3E%0A");
		}
	}
}

.enduser-casestudies-wrapper {
	display: grid;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	// margin-top: 2em;
	// margin-bottom: 2rem;
	// align-items: center;

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
		// 	grid-template-rows: minmax(100px, 1fr);
	}

	@media (min-width: 1000px) {
		grid-row-gap: 2rem;
		grid-column-gap: 2rem;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		.eucs-box {
			&:nth-child(2),
			&:nth-child(3) {
				grid-column: span 2;
			}
		}
	}

	.eucs-box {
		position: relative;
		color: $white;
		.eucs-box-overlay {
			width: 100%;
			top: 0;
			bottom: 0;
			object-fit: cover;
			position: absolute;
			z-index: 2;
			opacity: 0.8;
			mix-blend-mode: normal;
		}
		&:nth-child(1) {
			.eucs-box-overlay {
				background-color: orange;
			}
		}
		&:nth-child(2) {
			.eucs-box-overlay {
				background-color: darkgreen;
			}
		}
		&:nth-child(3) {
			.eucs-box-overlay {
				background-color: orangered;
			}
		}
		&:nth-child(4) {
			.eucs-box-overlay {
				background-color: black;
			}
		}
	}
}

.eucs-box-text-wrapper {
	padding: 1rem;
}

$eup-padding: 20px 1rem;

.enduser-pricing-wrapper {
	margin-top: 2em;
	margin-bottom: 2rem;

	display: grid;
	grid-row-gap: 2rem;
	grid-column-gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));

	@media (min-width: 550px) {
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
	}

	@media (min-width: 1000px) {
		grid-template-columns: repeat(4, 1fr);
	}

	// end of grid

	.eup-column {
		// overflow: hidden;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	h3,
	h4,
	h5,
	p {
		margin-bottom: 0;
		max-width: 100% !important;
	}
	.thead {
		text-align: center;
		padding: $eup-padding;
		color: $white;
		background-color: $secondary-900;
		&.alt {
			background-color: $tertiary-700;
		}
	}
	.tfoot {
		text-align: center;
		padding: $eup-padding;
		color: $white;
		background-color: #2d2d2f;
		.main-price {
			margin-bottom: 0.5rem;
		}
		button {
			color: $white;
			text-decoration: underline;
		}
	}
	.tbody {
		padding: $eup-padding;
		background-color: #f5f5f5;
		color: #2d2d2f;
		font-weight: 700;
		font-size: 0.875em;
		height: 100%;

		ul {
			list-style: none;
			margin-left: 0;
			margin-bottom: 0;
			li {
				margin-bottom: 1rem;
			}
		}
	}
	.las,
	.lab {
		font-size: 1.25rem;
		color: $primary-400;
		margin-right: 5px;
		vertical-align: middle;
	}
	.lab {
		font-weight: 400;
	}
}
