// home override?
// .home .wp-block-lf-upcoming-events {}

.events-wrapper {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(220px, auto);

    .home & {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    @media (min-width: 1000px) {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-row-gap: 1.5rem;
        grid-column-gap: 1.5rem;
        height: 100%;

        .home & {
            grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        }
    }
}

.event-overlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    opacity: 0.75;
}

.event-content-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    font-weight: 600;
    padding: 1em;
}

.event-logo {
    // restricts image logo size.
    height: 100px;
    max-height: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 1rem;

    .home & {
        height: 75px;
    }

    // apply to the a not the img.
    a {
        display: flex;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        color: $white;

        &:visited {
            color: $grey-100;
        }
    }

    .single-lf_event & {
        height: 200px;
        max-height: 200px;
        max-width: 100%;
        margin-bottom: 2rem;
    }

}

.event-title {
    margin: 0;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1000px) {
        max-width: 90%;
    }

    .single-lf_event & {
        font-size: 2em;
        margin-bottom: 1rem;
    }
}

.event-date {
    margin-bottom: 0.5em;
}

.event-city {
    margin-bottom: 1rem;
}

// Event Singular
.event-single {
    .skew-box {
        margin-bottom: 1rem;
    }
}

.event-location {
    color: $secondary-700;
    max-width: 900px;
    margin-top: 1rem;
}
