.footer {
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: $secondary-900;
    color: $white;
    margin-top: 4em;

    @media (min-width: 768px) {
        margin-top: 6em;
    }

    .home & {
        margin-top: 0;
    }

    a {
        color: $secondary-300;
        text-decoration: none;
        font-weight: 500;
    }

    .social-links {
        margin-top: 2rem;
        display: grid;
        grid-row-gap: 1rem; grid-column-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));

        svg {
            max-width: 100%;
            height: 35px;
            fill: $secondary-900;
            color: $secondary-900;

            .inner-color {
                fill: $secondary-300;
                color: $secondary-300;
                stroke: $secondary-300;
            }

            // instagram icon.
            .stroke-only {
                stroke: $secondary-300;
            }

            &:hover {
                fill: $secondary-500;
                color: $secondary-500;
            }
        }

        .button-reset {
            margin-left: initial;
            margin-right: initial;
        }
    }
}

.copyright-text {
    font-size: 0.725em;
    color: $secondary-300;
    margin-top: 4rem;

    a:hover::after {
        filter: none !important;
    }
}
