/* needed for old browsers */
dialog {
    display: block;
}

/* removes scroll when modal is opened */
.no-scroll {
    overflow: hidden;
}

.modal-hide {
    display: none;
}

/* overlay covers everything */
.lf-modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $secondary-900;
    opacity: .85;
    z-index: 666;
    cursor: pointer;
}

.lf-modal {
    position: fixed;
    border: 2px solid #000;
    background: #fff;
    z-index: 667;
    padding: 2em;
    overflow: auto;
    min-height: 300px;
    max-height: 100%;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;

    @media (min-width: 768px) {

        top: 50%;
        left: 50%;
        width: 75%;
        max-width: 800px;
        height: 65vh;
        min-height: 300px;
        max-height: 800px;
        transform: translate(-50%, -50%);
        font-size: 0.8em;
    }

}

@media (max-width: 767px) {
    .lf-modal-close__wrapper {
        position: sticky;
        top: -2rem;
        width: 100%;
        z-index: 99;
        background-color: $white;
        display: flex;
        justify-content: flex-end;
    }
}

.lf-modal-close {
    @media (min-width: 768px) {
        position: absolute;
        top: 22px;
        right: 26px;
    }


    background: $white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;

    &::before {
        content: '';
        display: block;
        position: relative;
        background: url('../images/close.svg');
        background-size: 20px 25px;
        background-repeat: no-repeat;
        background-position: center center;
        width: 36px;
        height: 30px;
        z-index: 100;
        top: 0;
        left: 0;
        outline: none;
        cursor: pointer;
        opacity: 0.9;
    }

    &:hover {
        &::before {
            opacity: 1.0;
        }
    }
}

.lf-modal-close__text {
    font-size: 13px;
}

.lf-modal-close:focus,
.lf-modal-close:hover,
.lf-modal-close:active {
    outline-color: $link-hover;
    color: $black;
}

.lf-modal-overlay[data-background-click="disabled"] {
    cursor: auto;
}

.lf-modal__content {
    a {
        color: $primary-color;
        font-weight: 500;
        transition: all 0.25s ease-out;

        &:visited {
            text-decoration: none;
        }

        &:active {
            text-decoration: none;
        }

        &:focus {
            text-decoration: none;
        }
    }

    .people-profile-picture {
        @media (max-width: 599px) {
            width: 300px;
            height: 300px;
            max-width: 100%;
        }

        height: 200px;
        width: 200px;
    }

    p:last-child {
        margin-bottom: 2rem;
    }

}

.modal-content-wrapper {
    display: flex;
    flex-direction: column;

    @media (max-width: 599px) {

        .modal__content {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    @media (min-width: 600px) {
        flex-direction: row;

        .modal__content {
            margin-left: 2rem;
            margin-right: 2rem;
            padding-bottom: 1rem;

            p:last-child {
                margin-bottom: 1rem;
            }
        }
    }
}

#modal-wechat-content {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;

    img {
        display: block;
        max-width: 400px;
        max-height: 400px;
    }
}
