.newsletter {
    a {
        color: $white;
        font-weight: 600;

        &:hover {
            text-decoration: none;
        }
    }

    p,
    h3 {
        max-width: 800px;
    }

    .form-message {
        font-weight: 600;

        &.is-active {
            border: 2px solid $white;
        }

        &.success {
            border: 2px solid $success;
        }

        &.error {
            border: 2px solid $error;
        }
    }

}

.newsletter-form {
    margin-top: 2em;
    margin-bottom: 1.5em;

    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 500px) {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-row-gap: 1rem; grid-column-gap: 1rem;
    }

    @media (min-width: 700px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-row-gap: 1rem; grid-column-gap: 1rem;
    }

    @media (min-width: 1000px) {
        grid-template-columns: 2fr 2fr 3fr 1fr;
        grid-row-gap: 1.5rem; grid-column-gap: 1.5rem;
    }

    @media (max-width: 699px) {
        >*:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

.newsletter-form {

    input[type="text"],
    input[type="email"] {
        height: 40px;
        padding: 0.5em 0 calc(0.5em + 1px) 0;
        width: 100%;
        border: none;
        background: transparent;
        color: $white;
        border-bottom: 1px solid $secondary-300;
        transition: all 0.25s ease;

        &::placeholder {
            color: $secondary-300;
            letter-spacing: 0px;
        }

        &:focus {
            outline: 0;
            padding-left: 0.5em;
            padding-bottom: calc(0.5em);
            border-bottom: 2px solid $white;
        }
    }

    // Control autocomplete styles.
    input,
    textarea,
    select {

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: $white;
            // Stop the yellow autofill by 9999s.
            transition: background-color 9999s ease-out 0s;
        }
    }
}

.privacy-agreement {
    font-size: 0.725em;
}
