// controls general text and links.
.newsletter {
	a {
		color: $white;
		font-weight: 600;

		&:hover {
			text-decoration: none;
		}
	}

	p,
	h3 {
		max-width: 800px;
	}

	.privacy-agreement {
		font-size: 0.725em;
	}
}

// form margins.
.newsletter .hbspt-form {
	margin-top: 2em;
	margin-bottom: 1.5em;
}

// form layout.
.newsletter .hbspt-form .hs-form {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;

	@media (min-width: 500px) {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-row-gap: 1rem;
		grid-column-gap: 1rem;
	}

	@media (min-width: 700px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-row-gap: 1rem;
		grid-column-gap: 1rem;
	}

	@media (min-width: 950px) {
		grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
		grid-row-gap: 1.5rem;
		grid-column-gap: 1.5rem;
	}

	.hs-form-field {
		width: 100%;
	}
}

// controls the forms elements.
.newsletter .hbspt-form {
	// removes captcha image from flow.
	.hs-recaptcha {
		display: none;
	}

	// Displays if required field not filled.
	.hs-error-msg {
		font-style: italic;
		font-size: 0.725em;
		margin-bottom: 0.5rem;
		display: block;
		margin-right: 8px;
		width: 95%;
	}

	input[type="text"],
	input[type="email"] {
		height: 40px;
		padding: 0.5em 0 calc(0.5em + 1px) 0;
		width: 100%;
		border: none;
		background: transparent;
		color: $white;
		border-bottom: 1px solid $secondary-300;
		transition: all 0.25s ease;

		&::placeholder {
			color: $secondary-300;
			letter-spacing: 0px;
		}

		&:focus {
			outline: 0;
			padding-left: 0.5em;
			padding-bottom: calc(0.5em);
			border-bottom: 2px solid $white;
		}
	}

	// Control autocomplete styles.
	input,
	textarea,
	select {
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus {
			-webkit-text-fill-color: $white;
			// Stop the yellow autofill by 9999s.
			transition: background-color 9999s ease-out 0s;
		}
	}

	select {
		border: 0px solid transparent;
		box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0);
		background: transparent;
		color: $secondary-300;
		font-weight: 400;
		border-bottom: 1px solid $secondary-300;
		transition: all 0.25s ease;
		padding: 0.5em 0 calc(0.5em + 1px) 0;
		line-height: 1.15;
		font-size: 100%;
		height: 40px;

		&:focus {
			padding-left: 0.5em;
			border-bottom: 2px solid $white;
			color: $white;
		}
	}

	.hs_error_rollup {
		display: none;
	}

	.submitted-message {
		padding: 0.8em;
		max-width: 900px;
		margin: 1rem auto;
		text-align: center;
		font-weight: 600;
		border: 2px solid $success;
	}

	.submitted-message p {
		max-width: none;
	}
}
