.projects-wrapper {
	display: grid;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
	margin-top: 2em;
	margin-bottom: 2rem;

	@media (min-width: 550px) {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	@media (min-width: 1000px) {
		grid-row-gap: 1.5rem;
		grid-column-gap: 1.5rem;
	}
}

.project-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 1.5em;
}

.project-thumbnail-container {
	width: 125px;
	height: 125px;
	display: flex;
}

.project-thumbnail {
	width: 100%;
	max-width: 125px;
	max-height: 125px;

	&:hover {
		opacity: 0.8;
	}
}

.project-title {
	margin: 0;
	margin-top: 0.5em;
}

.project-category {
	margin: 0;
	margin-top: 0.5em;
	color: $grey-700;
	font-weight: 400;
}

.project-icons {
	display: flex;
	flex-wrap: wrap;

	> * {
		margin-right: 0.25em;
		margin-left: 0.25em;
		margin-bottom: 0.25em;
	}

	> *:only-child {
		margin-right: 0;
	}

	svg {
		height: 20px;
		width: auto;
		fill: $secondary-900;
		color: $secondary-900;

		&:hover {
			fill: $primary-color;
			color: $primary-color;
		}
	}
}

.project-single-hero {
	display: flex;
	flex-direction: column;
	@media (min-width: 768px) {
		flex-direction: row;
		> div:first-child {
			width: calc(225px + 4rem);
			flex-shrink: 0;
		}
	}
}

.project-single-hero-details {
	padding: 2rem;
	background-color: $tertiary-color;
	flex-grow: 1;
}

.single-lf_project .newsroom-post-wrapper {
	background-color: $tertiary-color;
	height: 100%;
}

.project-single-hero-logo {
	display: flex;
	align-content: center;
	align-items: center;

	.project-thumbnail-container {
		width: 225px;
		height: 225px;

		a {
			align-self: center;
		}

		.project-thumbnail {
			max-width: 225px;
			max-height: 225px;
		}
	}
}
