.searchandfilter[data-sf-form-id='66766'] {
	height: unset;
	margin-bottom: 1rem;
	> ul {
		max-width: 700px;
		display: flex;
		flex-wrap: wrap;
	}
	.sf-field-search {
		flex-basis: 100%;
		label {
			flex-basis: 100%;
		}
	}
}

.reports-wrapper {
	display: grid;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	margin-top: 1rem;
	margin-bottom: 2rem;

	@media (min-width: 1000px) {
		grid-row-gap: 1.5rem;
		grid-column-gap: 1.5rem;
	}
}

.report-box {
	display: flex;
	flex-direction: column;
	background-color: $tertiary-color;
	padding: 1rem;
	gap: 1rem;
}

.report-title {
	margin-bottom: auto;
}
