.hr-light {
    background-color: $tertiary-color;
    height: 1px;
    border: none;
    margin-bottom: $sm-padding;
}

// used on single post.
.date-author-responsive {
    display: flex;
    flex-direction: column;

    .posted-date {
        margin-bottom: 1.5rem;
    }

    @media (min-width: 1000px) {
        flex-direction: row;

        .posted-date {
            margin-bottom: 0rem;
        }

        .author-name {
            margin-left: 1em;
        }
    }
}

// used on archive.
.date-author-row {
    display: flex;
    flex-direction: row;

    .author-name {
        margin-left: 1em;

    }
}


.author-icon {
    display: flex;
    line-height: 1;

    .archive & {
        align-items: center;
        line-height: initial;
    }


    @media (min-width: 1000px) {
        align-items: center;
    }

    &::before {
        content: ' ';
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='%2387969c' clip-rule='evenodd'%3E%3Cpath d='M24 0v24h-24v-24h24zm-6.118 16.064c-2.293-.529-4.427-.993-3.394-2.945 3.146-5.942.834-9.119-2.488-9.119-3.388 0-5.643 3.299-2.488 9.119 1.064 1.963-1.15 2.427-3.394 2.945-2.048.473-2.124 1.49-2.118 3.269l.004.667h15.993l.003-.646c.007-1.792-.062-2.815-2.118-3.29z'/%3E%3C/svg%3E");
        background-size: 0.875em;
        height: 0.875em;
        width: 0.875em;
        background-repeat: no-repeat;
        margin-right: 5px;

    }
}
