.speakers-wrapper {
    display: grid;
    grid-row-gap: 1rem; grid-column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));

    @media (min-width: 600px) {
        grid-row-gap: 1.5rem; grid-column-gap: 1.5rem;
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
}

.speaker {
    background-color: $tertiary-color;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.speaker-photo {
    img {
        width: 100%;
        height: auto;
        border: 1px solid $grey-200;
    }
}

.speaker-title {
    margin-bottom: auto;

    a {
        text-transform: capitalize;
    }
}

.speaker-location {
    color: $white;
}

.speaker-badges {
    margin-top: 1rem;
    display: flex;
    height: 30px;

    .column:not(:last-of-type) {
        margin-right: 0.5em;

    }

    svg {
        height: 1.5em;
        width: auto;
        opacity: 0.75;

        &:hover {
            opacity: 1;
        }
    }
}

// makes UM profile bigger/
.um-profile-body {
    max-width: 1000px;
}

// Hide contact form when editing profile
.um-own-profile,
.um-page-user,
.um-page-login {

    .gform_wrapper .gform_footer {
        margin: 0;
        padding: 0;
    }

    // Hides Contact Form when editing.
    .um-profile.um-editing.um-role-um_speaker {
        .um-field-type_shortcode {
            display: none;
        }


        .um-col-alt {
            display: flex;
        }
    }

    .um-button,
    .um-alt {
        border: 0; // reset
        padding: 0px; // reset
        width: auto;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 0.7rem 1.1rem;
        white-space: nowrap;
        text-transform: uppercase;
        background-color: $primary-color;
        color: $white;
        transition: all 0.25s ease-out;
        margin-right: 1em;
        border-radius: 0 !important;
        font-size: 1em !important;
        min-width: 150px;

        a {
            color: $white;
        }

        &:active {
            position: relative;
            top: 1px;
        }

        &:hover {
            background-color: lighten($primary-color, 5%);
            color: $white;
        }

    }

    .um-header {
        padding: 0;
        border-bottom: 0;
    }

    .um-alt {
        background-color: $secondary-color;
        margin-left: 2em;

        &:hover {
            background-color: lighten($secondary-color, 5%);
        }
    }

    .um-half {
        width: initial;
    }

    div.uimob960 .um-profile-photo a.um-profile-photo-img {
        top: initial !important;
    }
}

.speakers-subnav {
    width: 100%;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.um-profile-meta {
    text-align: center;

    .um-meta-text {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin: 0;
        line-height: 1.5;
        font-size: initial;
        margin-top: 1rem;
    }
}

.affiliations-box {
    margin-top: 2em;

    label {
        font-size: 1.125em;
        font-weight: 500;
        color: #444444;
    }
}

.affiliations-box-badges {
    display: flex;
    padding: 1em 0;

    .column {
        display: flex;
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }
    }

    svg {
        height: 3.5em;

        @media (min-width: 768px) {
            height: 4em;
        }

        width: auto;
    }
}

// Speakers Edit Profile Cog Size & Color.
.um .um-profile-edit {
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 1;

    i {
        font-size: 40px;
        color: $primary-color;

        &:hover {
            color: $primary-300;
        }
    }
}



.um {
    .um-header.no-cover {
        display: flex;
        flex-direction: column;

        @media (min-width: 600px) {
            flex-direction: row;

            .um-profile-meta {
                margin-left: 3rem;
            }
        }

        .um-profile-photo {

            margin: 0 !important;
            text-align: left !important;
        }
    }


}

.um.um-profile {
    color: #666;
    font-size: 1em;

    .um-header.no-cover {
        .um-profile-meta {
            text-align: left !important;
        }

        .um-name {
            font-size: 2.5em;
            line-height: 1.2;
        }

        .um-name a {
            color: $black;
            font-weight: 600 !important;
        }
    }

    .um-form {
        .um-field-label {
            border-bottom: none;
            color: $black;

            label {
                font-size: initial !important;
                line-height: initial !important;
            }
        }

        .um-field.um-field-sb_bio {
            margin-bottom: $sm-padding;

            .um-field-label {
                font-size: 1.125em
            }
        }

        .um-field {
            padding: 1rem 0 0 0;
            line-height: 1.5;
        }
    }


}
