.spotlights-wrapper {
    display: grid;
    grid-row-gap: 1rem; grid-column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    @media (min-width: 1000px) {
        grid-row-gap: 1.5rem; grid-column-gap: 1.5rem;
    }
}

.spotlight-box {
    display: flex;
    flex-direction: column;
    background-color: $tertiary-color;
    align-items: flex-start;
}

.search-filter-results .spotlight-box {
    padding: 1em;
}

.spotlight-thumbnail {
    margin-bottom: 0.5em;
    width: 150px;
    height: 150px;
    border: 1px solid $grey-200;

    // remove border add padding if svg.
    &[src$=".svg"] {
        border: 0;
        padding: 0.5em;
    }
}

.spotlight-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.spotlight-date {
    margin-top: auto;
}

.wp-block-lf-spotlights .spotlight-box {
    background-color: $white;

}

.spotlight-photo {
    width: 100%;

    img {
        width: 100%;
    }
}
