// CNCF Annual Survey 2022 Report
@import 'report_fonts';

// font-stack.
$font-as22: 'Clarity City', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, Roboto, Ubuntu,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-as22-serif: 'Source Serif Pro', serif;

$as22-black: #000;
$as22-white: #ffffff;

$as22-navy-700: #1e1d40;
$as22-pink-700: #c94777;
$as22-purple-700: #463ac5;
$as22-green-700: #6dd4c0;

html {
	visibility: visible !important;
	scroll-padding-top: 80px;
}

.as22 {
	font-family: $font-as22;
	color: #1e1d40;
	line-height: 150%;
	padding-bottom: 100px;

	@import 'report_core';
}
