// Argo PJR 2022

@import 'report_fonts';

$argo-22-orange-400: #ef7b4d;

.argo-pjr-22 {
	font-family: 'Clarity City', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, Roboto,
		Ubuntu, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	color: #000000;
	line-height: 180%;

	@import 'report_core';

	.social-share {
		color: #000000;
		&__title {
			color: #000000;
		}
		&__wrapper {
			svg {
				color: #000000;
			}
		}
	}

	@media (min-width: 1000px) {
		.restrict-image-width {
			max-width: 950px;
		}

		.image-center {
			margin: auto;
			display: block;
		}
	}

	.orange-text {
		color: $argo-22-orange-400;
	}

	.section-title-wrapper {
		border-bottom: 9px solid $argo-22-orange-400;
	}

	.sub-header {
		font-size: 20px;
		font-weight: 700;
		color: #000000;
		margin-bottom: 40px;
		text-transform: capitalize;
		@media (min-width: 1000px) {
			margin-bottom: 60px;
		}
		span {
			font-size: 16px;
			font-weight: 400;
			text-transform: none;
		}
	}

	.sub-header-upper {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 700;
		color: #000000;
		letter-spacing: 0.02em;
		margin-bottom: 40px;
		@media (min-width: 1000px) {
			margin-bottom: 60px;
		}
		span {
			text-transform: none;
			font-size: 16px;
			font-weight: 400;
		}
	}

	.sup {
		font-weight: 700;
		font-size: 18px;
		line-height: 1;
		vertical-align: text-bottom;
	}

	.large-number {
		display: block;
		font-weight: 700;
		font-size: 72px;
		line-height: 72px;
		color: $argo-22-orange-400;
		&.has-arrow-after {
			&:after {
				background-image: url("data:image/svg+xml,%3Csvg width='40' height='53' viewBox='0 0 40 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.023 4.55884L36 20.6749M20.023 4.55884V48.5588M20.023 4.55884L9.81003 14.8143L4 20.6749' stroke='%23B5D2F3' stroke-width='8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				content: '';
				margin-left: 0.1em;
				padding-left: 70px;
				background-size: 0.6em 0.75em;
				background-position: 50% 30%;
				background-repeat: no-repeat;
			}
		}
	}

	.large-number-text {
		font-size: 16px;
		@media (min-width: 412px) {
			font-size: 20px;
		}
		display: block;
		font-weight: 700;
		line-height: 125%;
		text-transform: uppercase;
		color: #000000;
		margin-top: 15px;
	}

	.hr-for-mobile {
		display: block;
		grid-column: span 12;
	}

	.icon-box-1 {
		display: flex;
		align-items: center;
		width: 100%;
		padding-bottom: 45px;
		border-bottom: 1px solid #d0d0d0;
		height: max-content;
		.icon {
			width: 55px;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
		}
		.text {
			margin-left: 20px;
			font-size: 16px;
			span {
				font-size: 22px;
				font-weight: 700;
				color: $argo-22-orange-400;
			}
			@media (min-width: 375px) {
				font-size: 20px;
				span {
					font-size: 32px;
				}
			}
			@media (min-width: 1000px) {
				margin-left: 45px;
			}
		}
	}

	// Use on charts to remove the white bg.
	.remove-bg {
		mix-blend-mode: multiply;
	}

	.small {
		font-size: 12px;
		letter-spacing: -0.02em;
	}

	/**
	* Page Build
	**/
	.hero {
		.title-wrapper {
			padding-bottom: 0;
		}
		.social-share {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			&__title {
				margin-bottom: 15px;
				color: #747474;
			}
		}
		&__logo {
			@media (max-width: 412px) {
				max-width: 75%;
			}
		}
		&__title {
			font-weight: 700;
			line-height: 125%;
			font-size: 37px;
			@media (min-width: 372px) {
				font-size: 45px;
			}
			@media (min-width: 1000px) {
				font-size: 50px;
			}
			@media (min-width: 1200px) {
				font-size: 60px;
			}
		}

		&__grid {
			&-col1 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 9;
				}
				@media (min-width: 1000px) {
					grid-column: span 8;
				}
			}
			&-col2 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 9;
				}
				@media (min-width: 1000px) {
					grid-column: 9 / -1;
				}
			}
		}
		.published,
		.project-website {
			font-weight: 700;
			font-size: 14px;
			@media (min-width: 412px) {
				font-size: 16px;
			}
			line-height: 16px;
			color: #000000;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			svg {
				margin-right: 15px;
				@media (min-width: 412px) {
					margin-right: 25px;
				}
			}
		}
		.published {
			text-transform: uppercase;
		}
		.project-website {
			a {
				color: #000000 !important;
			}
		}
	}
	.section-01 {
		@extend .section-mb;
		&__grid {
			&-col1 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 9;
				}
				@media (min-width: 1000px) {
					grid-column: span 6;
				}
			}
			&-col2 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 12;
				}
				@media (min-width: 1000px) {
					grid-column: 9 / -1;
				}
				.sub-header {
					text-transform: none;
					max-width: 80%;
					margin-bottom: 40px;
					line-height: 28px;
					margin-top: 5px;
				}
			}
		}
		&__title {
			font-size: 30px;
			margin-bottom: 30px;
			@media (min-width: 1000px) {
				font-size: 50px;
				margin-bottom: 40px;
			}
		}
		&__icon-col {
			margin-top: 20px;
			display: grid;
			gap: 45px;
			grid-template-rows: auto;
			grid-template-columns: 1fr;
			@media (min-width: 600px) {
				grid-template-columns: 1fr 1fr;
			}
			@media (min-width: 1000px) {
				grid-template-columns: 1fr;
			}
			.icon-box-1:last-child {
				border-bottom: none;
			}
		}
	}
	.section-02 {
		@extend .section-mb;
		&__grid {
			&-col1 {
				grid-column: span 12;
				@media (min-width: 800px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: 1 / 4;
				}
			}
			&-col2 {
				grid-column: span 12;
				@media (min-width: 800px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: 6 / 12;
				}
				.countries-grid {
					img {
						width: 45px;
						height: auto;
					}
					column-gap: 0;
					&__col1 {
						grid-column: span 4;
					}
					&__col2 {
						grid-column: span 4;
					}
					&__col3 {
						grid-column: span 4;
					}
					@media (min-width: 1000px) {
						&__col1 {
							grid-column: span 4;
						}
						&__col2 {
							grid-column: 5 / 8;
						}
						&__col3 {
							grid-column: 8 / -1;
						}
					}
				}
			}
		}
		.hr-for-mobile {
			@media (min-width: 800px) {
				display: none;
			}
		}
	}

	.section-03,
	.section-04,
	.section-05 {
		@extend .section-mb;
	}

	.section-06 {
		background-color: #f6f6f6;
	}

	.section-07 {
		margin-top: 80px;
		@media (min-width: 1000px) {
			margin-top: 120px;
		}
		@extend .section-mb;
	}

	.section-08 {
		@extend .section-mb;
		&__grid {
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
		}
		.link-normalise {
			font-weight: 400;
			font-size: 20px;
			line-height: 25px;
			text-transform: none;
		}
		.hr-for-mobile {
			@media (min-width: 600px) {
				display: none;
			}
		}
	}

	.section-09 {
		@extend .section-mb;
		&__grid {
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
		}
		.hr-for-mobile {
			@media (min-width: 600px) {
				display: none;
			}
		}
	}

	//
	// End.
}
