// CTO Summit NA 2023 Transparency Report

@import 'report_fonts';

// font-stack.
$font-cto-summit-na-22: 'Clarity City', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
	Roboto, Ubuntu, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-cto-summit-na-22-serif: 'Source Serif Pro', serif;

$cto-summit-na-22-black: #000000;
$cto-summit-na-22-white: #ffffff;
$cto-summit-na-22-blue: #1E1D40;
$cto-summit-na-22-blue-100: #0F0B47;
$cto-summit-na-22-purple: #463AC5;
$cto-summit-na-22-mint: #6AD8C4;
$cto-summit-na-22-pink: #D62293;

.cto-summit-na-22 {
	font-family: $font-cto-summit-na-22;
	color: $cto-summit-na-22-black;
	line-height: 180%;
	padding-bottom: 70px;

	@import 'report_core';

	.background-image-wrapper {
		&.section-break {
			height: 300px;
			margin-bottom: 0;

			@media (min-width: 1000px) {
				height: 600px;
			}
		}
	}

	.background-image-figure {
		&.darken-on-mobile {
			@media (max-width: 999px) {
				&:after {
					background-color: $cto-summit-na-22-black;
					background-size: cover;
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
					opacity: 0.25;
					mix-blend-mode: multiply;
				}
			}
		}
	}

	.small-header {
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.paragraph-quote {
		border-left: 8px solid $cto-summit-na-22-mint;
		padding-left: 20px;
		margin-top: 30px;
		margin-bottom: 30px;

		@media (min-width: 1000px) {
			padding-left: 35px;
			margin-top: 70px;
			margin-bottom: 70px;
		}
	}

	ol,
	ul {
		li {
			margin-bottom: 6px;
		}
	}

	ol {
		list-style-position: inside;
	}

	@media (min-width: 600px) {
		ul {
			margin-left: 10px;
		}
	}

	.list {
		li {
			margin-bottom: 20px;
		}
		p+p {
    		margin-top: 0;
		}
	}


	.text-blue {
		color: $cto-summit-na-22-blue-100;

		.section-header,
		.small-header,
		.sub-header {
			color: $cto-summit-na-22-blue-100;
		}
	}

	.text-purple {
		color: $cto-summit-na-22-purple;
	}

	.number-align {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-bottom: 40px;

		@media (min-width: 1000px) {
			margin-bottom: 30px;
		}

		.bold-number {
			font-weight: 700;
			font-size: 32px;
			line-height: 1;
			color: $cto-summit-na-22-pink;
			width: 20px;
			margin-right: 25px;
			margin-top: 5px;
		}
	}

	.section-title-wrapper {
		border-bottom-color: $cto-summit-na-22-mint;

		@media (min-width: 1000px) {
			padding-bottom: 50px;
		}
	}

	.shadow-hr {
		@media (min-width: 1200px) {
			margin-bottom: 83px;
			margin-top: 95px;
		}
	}

	.sub-header-large {
		font-size: 30px;
		line-height: 1.3;
		font-weight: 700;

		span {
			text-transform: uppercase;
			display: block;
			color: $cto-summit-na-22-purple;
			font-size: 20px;
			line-height: 1.3;
			margin-bottom: 12px;
		}
	}

	.quote-container {
		&:before {
			background-image: url("data:image/svg+xml,%3Csvg width='82' height='67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1 60.36C24.7 51.26 35.48 38.8 35.48 24.24C35.48 14.16 30.16 7.29999 21.48 7.29999C12.66 7.29999 3.98 15.7 3.98 25.36C3.98 33.34 9.58 38.66 16.72 38.66C13.64 43.28 8.88 48.46 3.28 52.24L12.1 60.36ZM54.1 60.36C66.7 51.26 77.48 38.8 77.48 24.24C77.48 14.16 72.16 7.29999 63.48 7.29999C54.66 7.29999 45.98 15.7 45.98 25.36C45.98 33.34 51.58 38.66 58.72 38.66C55.64 43.28 50.88 48.46 45.28 52.24L54.1 60.36Z' fill='#463AC5' /%3E%3C/svg%3E");
			content: '';
			background-size: 82px 67px;
			height: 67px;
			width: 82px;
		}
	}

	.lead {
		font-size: 20px;
		line-height: 1.3;

		@media (min-width: 1000px) {
			font-size: 24px;
		}
	}

	/**
	HERO
	**/
	.hero {
		color: $cto-summit-na-22-white;
		&__wrapper {
			@media (min-width: 800px) {
				width: 685px;
			}
		}
		&__container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		@media (max-width: 600px) {
			.background-image-figure img {
				object-position: 40% center;
			}
		}
		&__logo {
			margin-top: 50px;
			margin-bottom: 20px;
			max-width: 54%;
			@media (min-width: 1200px) {
				margin-top: 73px;
				margin-bottom: 40px;
			}
		}
		&__title {
			line-height: 1.3;
			letter-spacing: 0.15em;
			margin-bottom: 30px;
			font-weight: 800;
			font-size: 25px;
			color: $cto-summit-na-22-white;
			text-transform: uppercase;
			@media (min-width: 372px) {
				font-size: 28px;
			}
			@media (min-width: 412px) {
				font-size: 32px;
			}
			@media (min-width: 550px) {
				font-size: 40px;
			}
			@media (min-width: 1000px) {
				font-size: 50px;
			}
			@media (min-width: 1200px) {
				font-size: 60px;
				margin-bottom: 13px;
			}
		}

		&__subtitle {
			line-height: 1.3;
			letter-spacing: 0.15em;
			margin-bottom: 30px;
			font-weight: 300;
			font-size: 22px;
			color: $cto-summit-na-22-white;
			text-transform: uppercase;
			@media (min-width: 412px) {
				font-size: 24px;
			}
			@media (min-width: 550px) {
				font-size: 28px;
			}
			@media (min-width: 1200px) {
				font-size: 34px;
				margin-bottom: 40px;
			}
		}
		&__hr {
			width: 100%;
			height: 1px;
			background-color: $cto-summit-na-22-white;
			margin-bottom: 35px;
			@media (min-width: 412px) {
				margin-bottom: 40px;
			}
			@media (min-width: 1000px) {
				margin-bottom: 50px;
			}
		}
		&__button-share-align {
			display: flex;
			flex-direction: column-reverse;
			@media (min-width: 1000px) {
				flex-direction: row;
				justify-content: space-between;
			}
			> div {
				margin-bottom: 30px;
				@media (min-width: 412px) {
					margin-bottom: 35px;
				}
				@media (min-width: 1000px) {
					margin-bottom: 85px;
				}
			}
			.hero__button {
				.wp-block-button__link {
					max-width: max-content;
					min-width: max-content;
				}
			}
		}
	}

	/**
	* GRIDS
	*/
	.section-01 {
		margin-top: 85px;
		margin-bottom: 85px;

		@media (min-width: 1200px) {
			margin-bottom: 60px;
		}
		&__title {
			grid-column: span 12;
			margin-bottom: 30px;
			@media (min-width: 1000px) {
				grid-column: span 6;
				font-size: 50px;
				margin-bottom: 48px;
			}
		}
		&__lead {
			font-size: 24px;
			line-height: 1.5;
			color: $cto-summit-na-22-blue;
			margin-bottom: 60px;

			@media (min-width: 1000px) {
				font-size: 30px;
				margin-bottom: 78px;
			}
		}
		&__grid {

			&-col {
				line-height: 160%;
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 10;
				}
			}

			&-col1 {
				line-height: 160%;
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 9;
				}
				@media (min-width: 1000px) {
					grid-column: span 7;
				}
				@media (min-width: 1200px) {
					padding-right: 40px;
				}
			}
			&-col2 {
				display: grid;
				grid-column: span 12;
				grid-template-columns: 1fr;
				grid-template-rows: auto;
				gap: 0;
				@media (min-width: 600px) {
					grid-column: span 12;
				}
				@media (min-width: 1000px) {
					// From column 9 to the end.
					grid-column: 9 / -1;
					align-content: flex-start;
				}
				@media (min-width: 1200px) and (min-height: 950px) {
					&-inner {
						position: sticky;
						top: calc(80px + 20px);
					}
				}
				.sub-header {
					margin-bottom: 10px;
				}
				&-commitee-wrapper {
					display: grid;
					grid-template-columns: 1fr;
					@media (min-width: 600px) {
						grid-template-columns: 1fr 1fr;
						gap: 0px 60px;
					}
					@media (min-width: 1000px) {
						grid-template-columns: 1fr;
					}
				}
				.commitee {
					display: flex;
					align-items: center;
					font-family: $font-cto-summit-na-22-serif;
					font-style: italic;
					font-weight: 700;
					font-size: 20px;
					margin-top: 40px;
					padding-bottom: 50px;
					border-bottom: 1px solid #d0d0d0;
					&__image {
						width: 100px;
						border-radius: 50%;
						margin-right: 20px;
						@media (min-width: 800px) {
							margin-right: 50px;
						}
					}
					&__logo {
						max-width: 180px;
						max-height: 38px;
						object-fit: contain;
						object-position: left;
					}
					&__text {
						display: flex;
						flex-direction: column;
						p {
							font-size: 16px;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}

	.section-02 ,
	.section-03 ,
	.section-04 ,
	.section-05 ,
	.section-09 {
		padding-top: 80px;
		margin-bottom: 80px;
		@media (min-width: 1200px) {
			padding-top: 108px;
			margin-bottom: 160px;

			&.is-style-down-gradient {
				padding-top: 130px;
			}
		}
	}

	.section-06,
	.section-08 {
		margin-bottom: 80px;
		@media (min-width: 1200px) {
			padding-top: 110px;
			margin-bottom: 166px;
		}
	}

	.section-07 {
		margin-top: 80px;
		margin-bottom: 80px;
		@media (min-width: 1200px) {
			margin-top: 120px;
			margin-bottom: 120px;
		}
	}

	.section-09 {

		.columns-two--images {
			grid-template-columns: 1fr;

			@media (min-width: 800px) {
				grid-template-columns: 1fr 0.7fr;
			}

			figure {
				position: relative;
				width: 100%;
				height: 100%;

				img {
					object-fit: cover;
					height: 100%;
					width: 100%;
				}
			}
		}
	}

	.section-10 {
		// Include allowance for See All.
		margin-bottom: calc(70px + 80px);
		@media (min-width: 1200px) {
			margin-bottom: 120px;
		}
	}

	// Thank you.
	.section-11 {
		.social-share {
			color: $cto-summit-na-22-black;
			&__title {
				color: $cto-summit-na-22-black;
			}
			svg {
				color: $cto-summit-na-22-black;
			}
		}
		.copyright {
			row-gap: 50px;
			@media (min-width: 1000px) {
				column-gap: 80px;
			}
			&__col1 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 9;
				}
			}
			&__col2 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 4;
				}
				@media (min-width: 1000px) {
					grid-column: 10 / -1;
				}
			}
		}
		.disclaimer {
			font-size: 12px;
		}
	}
}
