// KCCNC EU 2023 Transparency Report
@import 'report_fonts';

// font-stack.
$font-kccnc-na-23: 'Clarity City', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, Roboto,
	Ubuntu, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-kccnc-na-23-serif: 'Source Serif Pro', serif;

// colors.
$kccnc-na-23-dark-turquoise: #477076;
$kccnc-na-23-red-pink: #C93566;
$kccnc-na-23-pink: #CC4194;
$kccnc-na-23-dark-blue-purple: #35255A;
$kccnc-na-23-purple: #901E80;
$kccnc-na-23-dark-purple: #721669;
$kccnc-na-23-dark-beige: #8D7C73;
$kccnc-na-23-purple-pink: #9C2558;
$kccnc-na-23-dark-mustard: #AB9B32;


$kccnc-eu-23-black: #000000;
$kccnc-eu-23-white: #ffffff;
$kccnc-eu-23-purple-400: #7340ae;
$kccnc-eu-23-purple-700: #1e0060;
$kccnc-eu-23-pink-200: #EA62A5;
$kccnc-eu-23-pink-400: #d62293;

$kccnc-eu-23-gray-100: #fdfdfd;
$kccnc-eu-23-gray-200: #fdfdfd;
$kccnc-eu-23-gray-400: #d0d0d0;
$kccnc-eu-23-gray-700: #747474;

html {
	visibility: visible !important;
	scroll-padding-top: 80px;
}

.kccnc-na-23 {
	font-family: $font-kccnc-na-23;
	color: $kccnc-na-23-dark-blue-purple;
	line-height: 180%;
	overflow-x: hidden;

	@import 'report_core';

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $kccnc-na-23-dark-blue-purple;
	}

	.social-share {
		color: $kccnc-na-23-dark-blue-purple;
		&__title {
			color: $kccnc-na-23-dark-blue-purple;
		}
		&__wrapper {
			svg {
				color: $kccnc-na-23-dark-blue-purple;
			}
		}
	}

	.icon-box-1 {
		display: flex;
		align-items: flex-start;
		width: 100%;
		padding-bottom: 45px;
		height: max-content;
		border-bottom: 1px solid $kccnc-eu-23-gray-400;
		.icon {
			width: 55px;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
		}
		.text {
			margin-left: 20px;
			font-size: 16px;
			span {
				font-size: 22px;
				font-weight: 700;
				color: $kccnc-na-23-pink;
			}
			@media (min-width: 375px) {
				font-size: 20px;
				span {
					font-size: 32px;
				}
			}
			@media (min-width: 412px) {
				margin-left: 35px;
			}
			@media (min-width: 1000px) {
				margin-left: 45px;
			}
		}
	}

	.icon-box-2 {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: 100%;
		margin-bottom: 40px;
		@media (min-width: 1200px) {
			margin-bottom: 70px;
		}
		.icon {
			width: 45px;
			img {
				margin-bottom: 1px;
			}
		}
		.text {
			font-size: 16px;
			margin-left: 25px;
			@media (min-width: 1200px) {
				margin-left: 35px;
			}
			.country {
				font-weight: 700;
				color: $kccnc-na-23-dark-blue-purple;
			}
			.number {
				color: $kccnc-na-23-pink;
				font-weight: 800;
				font-size: 60px;
				line-height: 1;
			}
		}
	}

	.icon-box-3 {
		.icon {
			height: 64px;
			img {
				max-height: 100%;
			}
		}
		.text {
			margin-top: 15px;
		}
		.number {
			color: #000;
			line-height: 1;
			font-weight: 700;
			font-size: 50px;
			@media (min-width: 1000px) {
				font-size: 72px;
			}
		}
		.description {
			font-weight: 700;
			line-height: 125%;
			text-transform: uppercase;
			margin-top: 10px;
			display: block;
			font-size: 18px;
			@media (min-width: 1200px) {
				font-size: 20px;
			}
		}
		.addendum {
			display: block;
			font-size: 16px;
			line-height: 125%;
			margin-top: 10px;
		}
	}

	.is-style-grey-background {
		background-color: RGBA(116, 116, 116, 0.05);
		padding-top: 80px;
		@media (min-width: 1000px) {
			padding-top: 120px;
		}	
	}

	// Set all quote marks as purple as default.
	.quote-with-name-container {
		&__marks {
			&:before {
				filter: brightness(0) saturate(100%) invert(31%) sepia(18%) saturate(3624%) hue-rotate(265deg) 
					brightness(80%) contrast(95%);
			}
		}
	}

	// .icon-box-4 {
	// 	display: flex;
	// 	align-items: center;
	// 	.icon {
	// 		width: 76px;
	// 		height: 76px;
	// 		@media (min-width: 500px) {
	// 			width: 100px;
	// 			height: 100px;
	// 		}
	// 		flex-grow: 0;
	// 		flex-shrink: 0;
	// 		img {
	// 			width: 100%;
	// 			height: auto;
	// 		}
	// 	}
	// 	.text {
	// 		margin-left: 40px;
	// 		flex-shrink: 1;
	// 	}
	// }

	.icon-box-5 {
		display: flex;
		gap: 40px;
		align-items: center;
		margin-bottom: 20px;
		&__icon {
			flex-basis: 100px;
			flex-shrink: 0;
			flex-grow: 0;
		}
		&__text {
			font-size: 16px;
			line-height: 150%;
		}
	}

	.shadow-outline-box {
		background: #ffffff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		border-radius: 14px;
		padding: 30px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		@media (min-width: 1000px) {
			flex-direction: row;
			align-items: center;
			gap: 100px;
			padding: 40px;
		}
		@media (min-width: 1200px) {
			gap: 180px;
		}
		&__by {
			font-style: italic;
			font-weight: 400;
			font-size: 14px;
			line-height: 160%;
			color: #747474;
		}
		&__video {
			@media (min-width: 1000px) {
				flex-basis: 370px;
				flex-shrink: 0;
			}
		}
	}

	.has-lines {
		text-align: center;
		display: flex;
		justify-content: center;
		&:before,
		&:after {
			content: '';
			flex: 1 1;
			border-bottom: 1px solid $kccnc-eu-23-gray-400;
			margin: auto;
			@media (max-width: 800px) {
				flex-basis: 10%; // to show on mobile.
			}
		}
		&:before {
			margin-right: 20px; // from word.
			@media (min-width: 1000px) {
				margin-right: 40px; // from word.
			}
			margin-left: 10px; // from page edge.
		}
		&:after {
			margin-left: 20px; // from word.
			@media (min-width: 1000px) {
				margin-left: 40px; // from word.
			}
			margin-right: 10px; // from page edge.
		}
	}

	// BELOW NEEDS TO BE CHECKED

	.kccnc-table-container {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}

	.kccnc-table {
		font-size: 12px;
		@media (min-width: 1000px) {
			font-size: 20px;
		}
		border: 0;
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		thead {
			text-align: left;
			font-weight: 700;
			text-transform: uppercase;
			th {
				border-bottom: 1px solid $kccnc-eu-23-gray-400;
				padding-top: 15px;
				padding-bottom: 15px;
				@media (min-width: 1000px) {
					padding-top: 20px;
					padding-bottom: 20px;
				}
			}
		}
		tbody {
			tr {
				border-bottom: 1px solid $kccnc-eu-23-gray-200;
			}
			td {
				padding-top: 15px;
				padding-bottom: 15px;
				@media (min-width: 1000px) {
					padding-top: 20px;
					padding-bottom: 20px;
				}
			}
		}
		// First column add padding to right.
		thead th:first-child,
		tbody td:first-child {
			min-width: 160px;
			padding-right: 10px;
			@media (min-width: 412px) {
				padding-right: 30px;
			}
		}
		// Add padding to rest of the columns.
		thead th:not(:first-child),
		tbody td:not(:first-child) {
			padding-left: 10px;
			padding-right: 10px;
			@media (min-width: 800px) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}

	/**
	HERO
	**/
	.hero {
		background: linear-gradient(180deg, #EBD6E3 0%, #FDDFD7 100%);
		&__wrap {
			position: relative;
		}
		&__text-overlay {
			position: relative;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 5;
		}
		&__container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		&__wrapper {
			@media (min-width: 800px) {
				width: 675px;
			}
		}
		&__logo {
			margin-top: 50px;
			margin-bottom: 20px;
			max-width: 54%;
			@media (min-width: 1200px) {
				margin-top: 85px;
				margin-bottom: 40px;
			}
		}
		&__title {
			line-height: 1.3;
			letter-spacing: 0.15em;
			margin-bottom: 30px;
			font-weight: 800;
			font-size: 25px;
			color: $kccnc-na-23-dark-blue-purple;
			@media (min-width: 372px) {
				font-size: 28px;
			}
			@media (min-width: 412px) {
				font-size: 32px;
			}
			@media (min-width: 550px) {
				font-size: 40px;
			}
			@media (min-width: 1000px) {
				font-size: 50px;
			}
			@media (min-width: 1200px) {
				font-size: 60px;
				margin-bottom: 45px;
			}
		}
		&__hr {
			width: 100%;
			height: 1px;
			background-color: $kccnc-eu-23-black;
			margin-bottom: 35px;
			@media (min-width: 412px) {
				margin-bottom: 40px;
			}
			@media (min-width: 1000px) {
				margin-bottom: 55px;
			}
		}
		&__button-share-align {
			margin-bottom: 40px;
			z-index: 2;
			> div {
				margin-bottom: 30px;
				@media (min-width: 412px) {
					margin-bottom: 35px;
				}
				@media (min-width: 1000px) {
					margin-bottom: 0;
				}
			}
			@media (min-width: 1000px) {
				margin-bottom: 60px;
				display: flex;
				justify-content: space-between;
			}
			.hero__button {
				.wp-block-button__link {
					max-width: max-content;
					min-width: max-content;
				}
			}
		}
		&__jump {
			font-family: $font-kccnc-na-23-serif;
			font-style: italic;
			display: block;
			margin-top: auto;
			margin-bottom: calc(20px + 20px);
			@media (min-width: 414px) {
				margin-bottom: calc(40px + 20px);
			}
			@media (min-width: 550px) {
				margin-bottom: calc(20px + 20px);
			}
			@media (min-width: 1000px) {
				margin-bottom: calc(50px + 20px);
			}
			@media (min-width: 1000px) {
				margin-bottom: calc(80px + 20px);
			}
		}
		.skyline img {
			object-fit: contain;
			object-position: bottom right;
			@media (min-width: 600px) {
				object-fit: cover;
				object-position: 85% 100%;
			}
			@media (min-width: 1000px) {
				object-fit: contain;
				object-position: 100% 100%;
			}
			@media (min-width: 1450px) {
				object-position: 90% 100%;
			}
			@media (min-width: 2000px) {
				object-position: 80% 100%;
			}
		}
	}

	/**
	NAV
	**/
	.nav-el {
		top: -20px;
		@media (min-width: 414px) {
			top: -40px;
		}
		@media (min-width: 550px) {
			top: -20px;
		}
		@media (min-width: 1000px) {
			top: -50px;
		}
		@media (min-width: 1000px) {
			top: -80px;
		}
		position: relative;
		z-index: 10;
		width: 100%;
		display: grid;
		row-gap: 15px;
		column-gap: 15px;
		grid-template-columns: 1fr 1fr;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		line-height: 115%;
		font-size: 10px;
		@media (min-width: 350px) {
			font-size: 11px;
		}
		@media (min-width: 374px) {
			font-size: 13px;
		}
		@media (min-width: 800px) {
			column-gap: 30px;
			grid-template-columns: 1fr 1fr 1fr;
			font-size: 14px;
		}
		@media (min-width: 1200px) {
			font-size: 16px;
		}
		&__box {
			display: flex;
			align-items: center;
			background-color: $kccnc-eu-23-gray-200;
			border: 1px solid $kccnc-eu-23-white;
			border-radius: 5px;
			filter: drop-shadow(0px 2px 3px rgba($kccnc-eu-23-black, 0.05));
			position: relative;
			transition: all 0.3s;
			padding: 8px 8px;
			@media (min-width: 412px) {
				padding: 10px 9px;
			}
			@media (min-width: 1000px) {
				padding: 10px 22px;
			}
			&:hover {
				background-color: $kccnc-eu-23-white;
				transition: all 0.3s;
			}
			img {
				margin-right: 10px;
				width: 23px;
				height: 23px;
				@media (min-width: 375px) {
					margin-right: 15px;
					width: 25px;
					height: 25px;
				}
				@media (min-width: 1000px) {
					width: 28px;
					height: 28px;
					margin-left: 25px;
				}
			}
		}
	}

	.legend {
		&__wrapper {
			display: flex;
			align-items: center;
			line-height: 1;
			font-size: 12px;
		}
		&__key {
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			margin-right: 10px;
		}
		&__dark-turquoise {
			background-color: $kccnc-na-23-dark-turquoise;
		}
		&__red-pink {
			background-color: $kccnc-na-23-red-pink;
		}
		&__pink-200 {
			background-color: $kccnc-eu-23-pink-200;
		}
		&__purple-700 {
			background-color: $kccnc-eu-23-purple-700;
		}
		&__blue-200 {
			background-color: #0098CC;
		}
		&__blue-700 {
			background-color: #052b92;
		}
	}

	.section-title-wrapper {
		border-bottom: 9px solid $kccnc-na-23-purple;
	}

	.masonry-grid .masonry-item {
		width: 100%;
		margin-bottom: 30px;
		box-shadow: 0px 0px 11.1732px rgba(0, 0, 0, 0.1);
		@media (min-width: 500px) {
			width: calc(50% - 50px);
		}
		@media (min-width: 800px) {
			margin-bottom: 50px;
			width: calc(33.3% - 45px);
		}
	}

	/**
	* GRIDS
	*/
	.section-01 {
		margin-top: 40px;
		@media (min-width: 1200px) {
			margin-top: 20px;
		}
		&__title {
			grid-column: span 12;
			margin-bottom: 40px;
			@media (min-width: 1000px) {
				grid-column: span 6;
				font-size: 50px;
				margin-bottom: 70px;
			}
		}
		&__grid {
			&-col1 {
				line-height: 160%;
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 9;
				}
				@media (min-width: 1000px) {
					grid-column: span 7;
				}
				@media (min-width: 1200px) {
					padding-right: 40px;
				}
				.author {
					display: flex;
					align-items: center;
					margin-top: 30px;
					font-family: $font-kccnc-na-23-serif;
					font-style: italic;
					strong {
						font-size: 20px;
					}
					img {
						width: 75px;
						border-radius: 50%;
						margin-right: 20px;
						@media (min-width: 800px) {
							margin-right: 30px;
						}
					}
					@media (min-width: 1000px) {
						margin-top: 50px;
					}
					@media (max-width: 999px) {
						margin-bottom: 40px;
					}
				}
			}
			&-col2 {
				grid-column: span 12;
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: auto;
				gap: 45px;
				@media (min-width: 600px) {
					grid-column: span 9;
				}
				@media (min-width: 1000px) {
					// From column 8 to the end.
					grid-column: 8 / -1;
					align-content: flex-start;
					margin-top: 10px;
					.icon-box-1:last-child {
						border-bottom: none;
					}
				}
				@media (min-width: 1200px) {
					// From column 9 to the end.
					// Leaves column 8 as empty.
					grid-column: 9 / -1;
				}
			}
		}
	}

	.section-tweet {
		margin-top: 100px;
		margin-bottom: 0px;
		border-radius: 7.442px;
		padding: 10px;
		background: #FFF;
		box-shadow: 0px 14.883px 29.767px 0px rgba(0, 0, 0, 0.10);
	}

	.section-02 {
		margin-top: 80px;
		// Include allowance for See All/See More.
		margin-bottom: calc(70px + 80px);
		@media (min-width: 1200px) {
			margin-top: 140px;
			margin-bottom: 120px;
		}
		&__slider {
			margin-top: 50px;
			@media (min-width: 800px) {
				.slick-list {
					padding-right: 25%;
				}
			}
			.slick-track {
				display: flex !important;
			}
			.slick-slide {
				max-height: 500px;
				height: inherit !important;
				@media (min-width: 800px) {
					margin-right: 20px;
				}
				> div {
					height: 100%;
					> div {
						height: 100%;
					}
				}
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
		}
		&__controls {
			display: flex;
			justify-content: flex-end;
			margin-top: 20px;
		}
		&__prev {
			margin-right: 25px;
		}
	}

	.section-03 {
		&__demo-desktop {
			margin-left: auto;
		}
		&__map {
			margin: auto;
			display: block;
			@media (min-width: 1200px) {
				max-width: 1000px;
			}
		}
		&__no-answer {
			margin-top: 40px;
			text-align: center;
			font-size: 12px;
		}
		&__attendees {
			gap: 40px;
			margin-top: 20px;
			display: flex;
			justify-content: center;
		}
		&__top-countries {
			margin-top: 60px;
			@media (min-width: 1200px) {
				margin-top: 80px;
			}
			&-col1 {
				grid-column: span 12;
				@media (min-width: 375px) {
					padding-left: 10%;
					padding-right: 10%;
				}
				@media (min-width: 800px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			&-col2 {
				grid-column: span 12;
				@media (min-width: 375px) {
					padding-left: 10%;
					padding-right: 10%;
				}
				@media (min-width: 800px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			&-col3 {
				grid-column: span 12;
				@media (min-width: 375px) {
					padding-left: 10%;
					padding-right: 10%;
				}
				@media (min-width: 800px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
		}
		&__top-jobs {
			margin-top: 60px;
			@media (min-width: 1200px) {
				margin-top: 80px;
			}
			&-col1 {
				grid-column: span 12;
				@media (min-width: 375px) {
					padding-left: 10%;
					padding-right: 10%;
				}
				@media (min-width: 800px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			&-col2 {
				grid-column: span 12;
				@media (min-width: 375px) {
					padding-left: 10%;
					padding-right: 10%;
				}
				@media (min-width: 800px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			&-col3 {
				grid-column: span 12;
				@media (min-width: 375px) {
					padding-left: 10%;
					padding-right: 10%;
				}
				@media (min-width: 800px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			.large {
				display: block;
				color: $kccnc-na-23-purple;
				font-weight: 800;
				font-size: 80px;
				text-align: center;
				line-height: 1;
			}
		}
		.table-header {
			text-transform: uppercase;
			font-size: 16px;
			width: 100%;
			padding-bottom: 20px;
			border-bottom: 1px solid $kccnc-eu-23-gray-400;
			font-weight: 700;
			text-align: center;
			margin-bottom: 25px;
		}
		&__button {
			width: 100%;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			align-items: center;
			margin-top: 50px;
			font-weight: 700;
			text-transform: uppercase;
			color: $kccnc-eu-23-black;
			&:active {
				position: relative;
				top: 1px;
			}
			&:hover {
				color: $kccnc-eu-23-pink-400;
			}
			@media (min-width: 1000px) {
				margin-top: 80px;
			}
			svg {
				margin-top: 10px;
				@media (min-width: 1000px) {
					margin-top: 20px;
				}
			}
			&-close {
				margin-top: 30px;
				svg {
					margin-top: 0;
					margin-bottom: 10px;
					@media (min-width: 1000px) {
						margin-top: 0;
						margin-bottom: 20px;
					}
				}
			}
		}
		&__hidden-section {
			display: none;
			overflow: hidden;
			&-content {
				margin: 0;
				margin-top: 50px;
				padding-top: 50px;
				padding-bottom: 20px;
			}
		}
		&__jobs {
			&-col1 {
				grid-column: span 12;
				@media (min-width: 800px) {
					grid-column: span 6;
				}
			}
			&-col2 {
				grid-column: span 12;
				@media (min-width: 800px) {
					grid-column: span 6;
				}
			}
			.kccnc-table {
				// Table specific spacing.
				td:first-child {
					width: 70%;
					font-weight: 600;
				}
				td:nth-child(2) {
					width: 30%;
					font-weight: 700;
					color: $kccnc-na-23-purple;
				}
				tr.indent {
					border-left: 3px solid $kccnc-na-23-dark-beige;
					td:first-child {
						padding-left: 20px;
						font-weight: 400;
					}
					td:nth-child(2) {
						color: $kccnc-na-23-dark-beige;
						font-weight: 600;
					}
				}
			}
		}
	}

	.section-04 {
		background-color: $kccnc-eu-23-black;
		padding-top: 80px;
		padding-bottom: 80px;
		@media (min-width: 1000px) {
			padding-top: 120px;
			padding-bottom: 120px;
		}
		.quote-with-name-container {
			color: $kccnc-eu-23-white;
			&__marks {
				&:before {
					// filter
					filter: brightness(0) saturate(100%) invert(79%) sepia(28%) saturate(4176%) hue-rotate(291deg)
						brightness(101%) contrast(104%);
					// F36A11
				}
			}
		}
	}

	.section-05 {
		padding-top: 0px;
		@media (min-width: 1000px) {
			padding-bottom: 20px;
		}
		&__yoy {
			margin-top: 20px;
			@media (min-width: 1000px) {
				margin-top: 40px;
			}
			gap: 40px;
			display: flex;
			margin-bottom: 20px;
		}
		&__chart {
			&-col1 {
				grid-column: span 12;
				@media (min-width: 800px) {
					grid-column: span 7;
					align-self: flex-end;
				}
				@media (min-width: 1200px) {
					grid-column: span 8;
				}
			}
			&-col2 {
				grid-column: span 12;
				@media (min-width: 800px) {
					grid-column: span 5;
					margin-bottom: 11%;
				}
				@media (min-width: 1200px) {
					grid-column: 9 / -1;
					margin-bottom: 64px;
				}
			}
			&-key {
				background-color: #22005e;
				color: #fff;
				display: flex;
				flex-direction: column;
				height: 100%;
				border-radius: 5px;
				padding: 25px 20px;
				@media (min-width: 1200px) {
					padding: 50px 40px;
				}
				&-image {
					width: 100%;
				}
				&-hr {
					margin-top: 25px;
					margin-bottom: 25px;
					background-color: white;
				}
				&-text {
					font-weight: 600;
					line-height: 150%;
					margin-bottom: 30px;
					font-size: 15px;
					@media (min-width: 372px) {
						font-size: 16px;
					}
					@media (min-width: 1000px) {
						font-size: 18.5px;
					}
				}
			}
			.wp-block-button__link {
				@media (max-width: 372px) {
					font-size: 14px;
				}
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.growth-table {
			color: $kccnc-na-23-dark-blue-purple;
			td {
				min-width: 90px;
				&:first-child {
					width: 40%;
					min-width: 180px;
					@media (min-width: 1000px) {
						width: 25%;
					}
				}
			}
			thead th {
				padding-right: 10px;
				span {
					color: #747474;
				}
			}
			tr span {
				font-weight: 400;
				font-size: 12px;
				@media (min-width: 600px) {
					font-size: 14px;
				}
				line-height: 1.1;
				text-transform: capitalize;
				display: block;
				color: #052b92;
				@media (min-width: 1000px) {
					font-size: 16px;
				}
			}
			tbody tr:first-child td:first-child {
				text-transform: uppercase;
				font-weight: 700;
			}
			tbody tr {
				td:not(:first-child) {
					font-weight: 700;
					color: $kccnc-na-23-pink;
				}
			}
		}
	}

	#dei {
		.lf-grid {
		column-gap: 10%;
		}
		.kccnc-table-container {
			grid-column: span 12;
			@media (min-width: 800px) {
				grid-column: span 6;
			}
		}
		.col2 {
			grid-column: span 6;
		}
		td:not(:first-child) {
			font-weight: 700;
			color: $kccnc-na-23-red-pink;
		}	
		.sponsors-logos {
			justify-content: left;
		}
		.dei__col-1 {
			grid-column: span 12;
			@media (min-width: 800px) {
				grid-column: span 4;
			}
		}
		.dei__col-2 {
			grid-column: span 12;
			@media (min-width: 800px) {
				grid-column: span 4;
			}
			.badge {
				max-width: 320px;
			}
		}
	}

	.section-06 {
		td:not(:first-child) {
			font-weight: 700;
			color: $kccnc-eu-23-purple-400;
		}
		.kccnc-table-container {
			margin-bottom: 50px;
			@media (min-width: 1000px) {
				margin-bottom: 60px;
			}
		}
	}

	.section-07 {
		.kccnc-table {
			td:not(:first-child) {
				font-weight: 700;
				color: #7340ae;
			}
		}
		&__content-breakdown {
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			.icon-box-3 .number {
				color: #0098CC;
			}
		}
	}

	// Speaker Diversity
	.section-08 {
		.kccnc-table {
			tbody td:not(:first-child) {
				font-weight: 700;
				color: $kccnc-na-23-purple-pink;
			}
		}
		.kccnc-table-container .kccnc-table {
			grid-column: span 12;
			@media (min-width: 800px) {
				grid-column: span 8;
			}
		}
		.unconference {
			font-size: 16px;
			column-gap: 80px;
			li {
				margin-bottom: 10px;
			}
			&-col1 {
				grid-column: span 12;
				@media (min-width: 700px) {
					grid-column: span 5;
				}
			}
			&-col2 {
				grid-column: span 12;
				@media (min-width: 700px) {
					grid-column: span 5;
				}
			}
		}
		.kids {
			&-col1 {
				grid-column: span 12;
				@media (min-width: 700px) {
					grid-column: span 6;
				}
			}
			&-col2 {
				grid-column: span 12;
				@media (min-width: 700px) {
					grid-column: span 6;
				}
			}
			.opening-paragraph {
				margin-bottom: 10px;
			}
		}
	}

	.section-21 {
		.initiatives {
			margin-top: 40px;
			@media (min-width: 600px) {
				align-items: center;
			}
			@media (min-width: 1200px) {
				margin-top: 55px;
				align-items: end;
			}
			img {
				display: block;
				margin-bottom: 30px;
				@media (min-width: 1200px) {
					margin-bottom: 55px;
				}
			}
			&__col1 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					padding-right: 90px;
				}
			}
			&__col2 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
			}
		}
	}

	.section-09 {
		&__demographics {
			&-col1 {
				grid-column: span 12;
				text-align: center;
				@media (min-width: 1000px) {
					grid-column: span 6;
				}
			}
			&-col2 {
				grid-column: span 12;
				text-align: center;
				@media (min-width: 1000px) {
					grid-column: span 6;
				}
			}
			&-note {
				grid-column: span 12;
				font-weight: 700;
				line-height: 1;
				font-size: 12px;
				@media (min-width: 800px) {
					font-size: 15px;
				}
				text-align: center;
				text-transform: uppercase;
				margin-top: 30px;
			}
		}
		.sub-grid {
			&__col1,
			&__col2,
			&__col3 {
				grid-column: span 4;
				&.two-cols {
					grid-column: span 6;
				}
				font-weight: 700;
				font-size: 12px;
				@media (min-width: 800px) {
					font-size: 16px;
				}
				line-height: 140%;
				letter-spacing: 0.02em;
				text-transform: uppercase;
				color: #0e0e59;
				display: flex;
				flex-direction: column;
				p {
					margin-bottom: 30px;
					line-height: 140%;
				}
				img {
					display: block;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 25px;
					margin-top: auto;
					@media (min-width: 1000px) {
						margin-bottom: 50px;
						max-height: 70px;
					}
				}
				.large {
					font-weight: 800;
					line-height: 150%;
					color: $kccnc-na-23-pink;
					font-size: 30px;
					@media (min-width: 1000px) {
						font-size: 60px;
					}
					&.purple {
						color: $kccnc-na-23-purple;
					}
				}
				.note {
					font-weight: 400;
					text-transform: initial;
					line-height: 1;
					font-size: 12px;
					@media (min-width: 800px) {
						font-size: 15px;
					}
					margin-top: 20px;
				}
			}
		}
		&__banner {
			border-radius: 10px;
		}
	}

	.section-10 {
		background-color: $kccnc-eu-23-black;
		color: $kccnc-eu-23-white;
		&__title {
			line-height: 150%;
			color: $kccnc-eu-23-white;
			font-weight: 700;
			font-size: 24px;
			@media (min-width: 1000px) {
				font-size: 34px;
			}
		}
		&__container {
			max-width: 80%;
			@media (min-width: 500px) {
				max-width: 60%;
			}
			@media (min-width: 800px) {
				max-width: 670px;
			}
		}
		.background-image-figure img {
			object-position: 65%;
			filter: brightness(50%);
			@media (min-width: 1000px) {
				filter: brightness(80%);
				object-position: center top;
			}
		}
		.quote-with-name-container {
			max-width: 80%;
			@media (min-width: 500px) {
				max-width: 60%;
			}
			@media (min-width: 800px) {
				max-width: 670px;
			}
		}
	}

	.section-11 {
		td:not(:first-child) {
			font-weight: 700;
			color: $kccnc-na-23-red-pink;
		}
		.kccnc-table-container {
			margin-bottom: 50px;
			@media (min-width: 1000px) {
				margin-bottom: 60px;
			}
		}
		.opening-paragraph {
			margin-bottom: 30px;
		}
		.chairs {
			font-family: $font-kccnc-na-23-serif;
			font-style: italic;
			margin-top: 30px;
			@media (min-width: 1000px) {
				margin-top: 60px;
			}
			p {
				margin-top: 20px;
				@media (min-width: 1000px) {
					margin-top: 40px;
				}
			}
			&__col1 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 800px) {
					grid-column: span 4;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			&__col2 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 800px) {
					grid-column: span 4;
				}
				@media (min-width: 1000px) {
					grid-column: 5 / 8;
				}
			}
			&__col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 800px) {
					grid-column: span 4;
				}
				@media (min-width: 1000px) {
					grid-column: 9 / 12;
				}
			}
			&__image {
				border-radius: 50%;
				width: 200px;
			}
			&__name {
				font-size: 24px;
				font-weight: 700;
				display: block;
			}
			&__title {
				font-weight: 400;
				display: block;
				margin-top: 10px;
			}
		}
		.slsa {
			a {
				display: flex;
				flex-direction: column;
			}
			&__box {
				padding: 20px;
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
				display: flex;
				flex-direction: column;
				align-items: center;
				background: $kccnc-eu-23-white;
				filter: drop-shadow(0px 1.56476px 3.9119px rgba(0, 0, 0, 0.05));
				border: 1px solid rgba($kccnc-eu-23-gray-200, 0.1);
				border-radius: 15px;
				a:hover {
					text-decoration: none !important;
				}
			}
			&__title {
				font-weight: 700;
				font-size: 16px;
				line-height: 140%;
				text-align: center;
				color: #1e0060;
				margin-bottom: 20px;
			}
			&__image-wrapper {
				display: flex;
				align-items: center;
				justify-content: center;
				align-content: center;
				min-height: 90px;
			}
			&__image {
				max-width: 130px;
				max-height: 90px;
				@media (min-width: 800px) {
					max-width: 140px;
					max-height: 90px;
				}
			}
		}
		.captioning {
			font-size: 24px;
			column-gap: 80px;
			p {
				line-height: 125%;
			}
			h3 {
				margin-top: 20px;
			}
			&-col1 {
				grid-column: span 12;
				@media (min-width: 700px) {
					grid-column: span 5;
				}
			}
			&-col2 {
				grid-column: span 12;
				@media (min-width: 700px) {
					grid-column: span 5;
				}
			}
			.dark-purple {
				color: $kccnc-na-23-dark-purple;
			}
		}
		.breakdown {
			@media (min-width: 1000px) {
				&__col1 {
					order: 1;
				}
				&__col2 {
					order: 3;
					padding-right: 60px;
				}
				&__col3 {
					order: 2;
					align-self: flex-end;
				}
				&__col4 {
					order: 4;
				}
			}
			&__col1,
			&__col2,
			&__col3,
			&__col4 {
				grid-column: span 12;
				@media (min-width: 1000px) {
					grid-column: span 6;
				}
			}
			&__icons {
				display: grid;
				grid-template-columns: 1fr 1fr;
				row-gap: 80px;
				column-gap: 40px;
				@media (min-width: 600px) {
					grid-template-columns: 1fr 1fr;
				}
				@media (min-width: 1200px) {
					column-gap: 60px;
					grid-template-columns: 1.5fr 1fr;
				}
			}
			.number {
				color: $kccnc-na-23-red-pink;
			}
		}
	}

	.section-12 {
		.intro {
			column-gap: 70px;
			&-col1 {
				.opening-paragraph {
					margin-bottom: 30px;
				}
				grid-column: span 12;
				@media (min-width: 800px) {
					grid-column: span 6;
					ul li {
						margin-bottom: 20px;
					}
				}
			}
			&-col2 {
				grid-column: span 12;
				@media (min-width: 800px) {
					grid-column: span 6;
				}
			}
		}
	}

	.section-13 {
		.covid {
			row-gap: 0;
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 800px) {
					grid-column: span 6;
				}
				@media (min-width: 1200px) {
					grid-column: span 4;
				}
			}
		}
		.opening-paragraph {
			margin-bottom: 0;
		}
		.tests {
			&__col1,
			&__col2 {
				grid-column: span 12;
			}
			&__col1 {
				@media (min-width: 600px) {
					grid-column: span 4;
				}
			}
			&__col2 {
				@media (min-width: 600px) {
					grid-column: 5 / 9;
				}
			}
			&__large {
				font-weight: 700;
				font-size: 72px;
				line-height: 50px;
				color: #763fab;
				display: block;
			}
			&__text {
				font-weight: 700;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 120%;
				margin-top: 20px;
				display: block;
			}
		}
		.incidents {
			&__col1 {
				grid-column: span 12;
			}
			&__col1 {
				@media (min-width: 600px) {
					grid-column: span 4;
				}
			}
			&__large {
				font-weight: 700;
				font-size: 72px;
				line-height: 50px;
				color: #0098CC;
				display: block;
			}
			&__text {
				font-weight: 700;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 120%;
				margin-top: 20px;
				display: block;
			}
		}
	}

	.section-14 {
		&__coverage {
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			.icon-box-3 .number {
				color: $kccnc-na-23-dark-blue-purple;
			}
		}
		&__reach {
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			.icon-box-3 .number {
				color: $kccnc-na-23-dark-mustard;
			}
		}
		&__analyst {
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			.icon-box-3 {
				.svg-image {
					height: 100px;
					max-height: 100px;
					width: auto;
				}
				.number {
					color: $kccnc-na-23-dark-turquoise;
				}
			}
		}
		&__publications {
			row-gap: 0;
			ul {
				margin-bottom: 0;
			}
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 4;
				}
			}
		}
		&__button {
			width: 100%;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			align-items: center;
			margin-top: 50px;
			font-weight: 700;
			text-transform: uppercase;
			color: $kccnc-eu-23-black;
			&:active {
				position: relative;
				top: 1px;
			}
			&:hover {
				color: $kccnc-eu-23-pink-400;
			}
			@media (min-width: 1000px) {
				margin-top: 20px;
			}
			svg {
				margin-top: 10px;
				@media (min-width: 1000px) {
					margin-top: 20px;
				}
			}
			&-close {
				margin-top: 30px;
				svg {
					margin-top: 0;
					margin-bottom: 10px;
					@media (min-width: 1000px) {
						margin-top: 0;
						margin-bottom: 20px;
					}
				}
			}
		}
		&__links {
			p + p {
				margin-top: 5px;
			}
		}
		&__hidden-section {
			display: none;
			overflow: hidden;
			&-content {
				margin: 0;
				margin-top: 50px;
				padding-top: 50px;
				padding-bottom: 50px;
				p + p {
					margin-top: 5px;
				}
			}
		}
		.kccnc-table {
			tbody td:first-child {
				font-weight: 700;
				color: $kccnc-na-23-purple-pink;
			}
			td {
				vertical-align: top;
			}
		}
		.kccnc-table-container .kccnc-table {
			grid-column: span 12;
		}
	}

	.section-14b {
		&__coverage {
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			.icon-box-3 .number {
				color: $kccnc-na-23-dark-blue-purple;
			}
		}
		&__reach {
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			.icon-box-3 .number {
				color: $kccnc-na-23-dark-mustard;
			}
		}
		&__analyst {
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 6;
				}
				@media (min-width: 1000px) {
					grid-column: span 4;
				}
			}
			.icon-box-3 {
				.svg-image {
					height: 100px;
					max-height: 100px;
					width: auto;
				}
				.number {
					color: $kccnc-na-23-dark-turquoise;
				}
			}
		}
		&__publications {
			row-gap: 0;
			ul {
				margin-bottom: 0;
			}
			&-col1,
			&-col2,
			&-col3 {
				grid-column: span 12;
				@media (min-width: 600px) {
					grid-column: span 4;
				}
			}
		}
		&__button {
			width: 100%;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			align-items: center;
			margin-top: 50px;
			font-weight: 700;
			text-transform: uppercase;
			color: $kccnc-eu-23-black;
			&:active {
				position: relative;
				top: 1px;
			}
			&:hover {
				color: $kccnc-eu-23-pink-400;
			}
			@media (min-width: 1000px) {
				margin-top: 20px;
			}
			svg {
				margin-top: 10px;
				@media (min-width: 1000px) {
					margin-top: 20px;
				}
			}
			&-close {
				margin-top: 30px;
				svg {
					margin-top: 0;
					margin-bottom: 10px;
					@media (min-width: 1000px) {
						margin-top: 0;
						margin-bottom: 20px;
					}
				}
			}
		}
		&__links {
			p + p {
				margin-top: 5px;
			}
		}
		&__hidden-section {
			display: none;
			overflow: hidden;
			&-content {
				margin: 0;
				margin-top: 50px;
				padding-top: 50px;
				padding-bottom: 50px;
				p + p {
					margin-top: 5px;
				}
			}
		}
		.kccnc-table {
			tbody td:first-child {
				font-weight: 700;
				color: $kccnc-na-23-purple-pink;
			}
			td {
				vertical-align: top;
			}
		}
		.kccnc-table-container .kccnc-table {
			grid-column: span 12;
		}
	}

	.section-15 {
		.booth {
			td:nth-child(2) {
				font-weight: 700;
				color: $kccnc-eu-23-purple-400;
			}
		}
		.yoy-table {
			td:not(:first-child) {
				font-weight: 700;
				color: $kccnc-eu-23-purple-400;
			}
			td:first-child {
				width: 40%;
				min-width: 150px;
				@media (min-width: 1000px) {
					width: 25%;
				}
			}
			thead th {
				padding-right: 10px;
			}
			tr span {
				font-weight: 400;
				font-size: 12px;
				@media (min-width: 600px) {
					font-size: 14px;
				}
				line-height: 1.1;
				text-transform: capitalize;
				display: block;
				color: $kccnc-eu-23-gray-700;
				@media (min-width: 1000px) {
					font-size: 16px;
				}
			}
		}
		.wp-block-button__link {
			width: max-content;
			margin: auto;
			display: block;
		}
		.video {
			&__title {
				text-align: center;
				margin: auto;
				text-transform: uppercase;
			}
			&__video {
				margin: auto;
				display: block;
				max-width: 995px;
			}
			.wp-block-lf-youtube-lite {
				margin: auto;
				display: block;
				max-width: 995px;
			}
		}
	}

	// Thank you.
	.section-16 {
		.thanks {
			&__col1 {
				grid-column: span 12;
			}
			&__col2 {
				grid-column: span 6;
			}
			@media (min-width: 800px) {
				&__col1 {
					order: 1;
					grid-column: span 8;
				}
				&__col2 {
					order: 2;
					grid-column: 9 / -1;
				}
			}
			&__opening {
				font-family: $font-kccnc-na-23-serif;
				font-style: italic;
				font-weight: 400;
				line-height: 160%;
				color: $kccnc-eu-23-gray-700;
				font-size: 30px;
				@media (min-width: 1200px) {
					font-size: 38px;
					max-width: 780px;
				}
			}
			&__comments {
				font-weight: 600;
				font-size: 22px;
				line-height: 160%;
			}
		}
	}

	.logo-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
		gap: 15px;
		@media (min-width: 500px) {
			gap: 30px;
			grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		}
		&__box {
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: center;
			background: $kccnc-eu-23-white;
			filter: drop-shadow(0px 1.56476px 3.9119px rgba(0, 0, 0, 0.05));
			border: 1px solid rgba($kccnc-eu-23-gray-200, 0.1);
			border-radius: 15px;
			height: 80px;
			@media (min-width: 800px) {
				height: 120px;
			}
		}
		&__image {
			max-width: 95px;
			max-height: 60px;
			@media (min-width: 800px) {
				max-height: 80px;
				max-width: 140px;
			}
		}
	}

	// Copied from LFE.
	// We use largest and larger size.
	.sponsors-logos {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		> .sponsors-logo-item {
			width: calc(100% - 1.25rem);
			margin-right: 0.625rem;
			margin-left: 0.625rem;
		}

		.sponsors-logo-item {
			position: relative;
			text-align: center;

			&:not(:last-of-type) {
				.logo {
					margin-bottom: 20px;
				}
			}
		}

		.sponsors-logo-item a img {
			transform-origin: 50% 50%;
			transition: transform 0.2s;
			transition: transform 0.2s;
			&:hover {
				transform: scale(1.1);
			}
		}

		&.largest .logo {
			height: 9rem;
			width: 12rem;
			margin: 0; // reset.
		}
		&.larger .logo {
			height: 8rem;
			width: 8rem;
			margin: 0; // reset.
		}

		@media (min-width: 412px) {
			&.largest > .sponsors-logo-item {
				width: calc(50% - 1.875rem);
				margin-right: 0.9375rem;
				margin-left: 0.9375rem;
			}

			&.larger > .sponsors-logo-item {
				width: calc(50% - 2rem);
				margin-right: 0.9375rem;
				margin-left: 0.9375rem;
			}
		}

		@media (min-width: 1000px) {
			&.largest > .sponsors-logo-item {
				width: calc(33.33333% - 1.875rem);
				margin-right: 0.9375rem;
				margin-left: 0.9375rem;
			}

			&.larger > .sponsors-logo-item {
				width: calc(25% - 2rem);
				margin-right: 0.9375rem;
				margin-left: 0.9375rem;
			}
		}

		@media (min-width: 1200px) {
			&.larger > .sponsors-logo-item {
				width: calc(20% - 2rem);
				margin-right: 0.9375rem;
				margin-left: 0.9375rem;
			}
		}
	}
	//
	// end.

	.threecols {
		&-col1,
		&-col2,
		&-col3 {
			grid-column: span 12;
			@media (min-width: 600px) {
				grid-column: span 6;
			}
			@media (min-width: 1000px) {
				grid-column: span 4;
			}
		}
	}
}
