/**
 * Landscape embed style sheet
 *
 * Hides the "View the full interactive landscape" notice on landscape embeds.
 * Can be included on the end of the embed url as:
 * css=https://www.cncf.io/wp-content/themes/lf-theme/build/landscape.min.css
 * unminified https://www.cncf.io/wp-content/themes/lf-theme/build/landscape.css
 *
 * @package WordPress
 * @subpackage cncf-theme
 * @since 1.0.0
 */

h1 {
	display: none;
}

.MuiListSubheader-sticky {
	display: none;
}

.borderless-mode .mosaic .logo {
	height: 80px;
}
