// Fixing alignment for blocks in editor.
.wp-block {
	max-width: 100%;
}

// unset margins, so they don't center.
.block-editor-block-list__layout .wp-block:not(.wp-block-button) {
	margin-left: unset;
	margin-right: unset;
}

// aligns content in groups a little better
.wp-block-group,
.wp-block-group.has-background {
	padding: 1.25em 2em;
}
