/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 *
 */

.hero .background-image-text-overlay {
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
