//  Note: P + H3 switch places on frontend vs backend.

#editor .editor-styles-wrapper {
	.case-study-highlights {
		margin-top: 30px;
		margin-bottom: 30px;
		.case-study-highlights-wrapper {
			display: grid;
			grid-column-gap: 3%;
			grid-row-gap: 30px;
			grid-template-columns: 1fr;

			@media (min-width: 1000px) {
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			}
			background: #ffffff;
			border: 1px solid #e6e6e6;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
			border-radius: 10px;

			.column {
				padding-top: 20px;
				padding-bottom: 20px;
				text-align: center;
			}

			h3 {
				margin: 0;
				font-weight: 700;
				margin-bottom: 0.5rem;
				text-transform: uppercase;
				color: #4a23cc;
				font-size: 1rem;
				letter-spacing: 0.02em;

				strong {
					font-weight: 700;
				}
			}

			p {
				margin: 0;
				font-weight: 400;
				color: #000000;
				font-size: 1rem;
			}
		}
	}
}

.case-study-highlights .block-editor-rich-text__editable [data-rich-text-placeholder] {
	color: rgba(#4a23cc, 0.25);
}
