.main-container {
  background-color: $white;
  position: relative;
  z-index: 1;

  a[href] {
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 100%;
    text-indent: 0;
  }
}

.main-grid {
  @include xy-grid();
  // padding-top: 1rem;

  @include breakpoint(medium) {
    // padding-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      // @include xy-cell(8);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      // @include xy-cell(4);
      padding-top: 1rem;
    }

  }
}

.about-page-header {
  border-bottom: $hr-border;
  padding-top: $global-margin * 2;
  padding-bottom: $global-margin;
  margin-bottom: $global-margin * 2;

  & > * {
    margin-bottom: 0;
  }

  & + * {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

.excerpt-ellipses {
  opacity: 0.5;
}

.event-subpage-header {
  @include clearfix();
  margin: 0 -0.625rem $global-margin;
  padding: $global-margin;
  padding-top: 14vw;
  padding-bottom: 7vw;
  position: relative;
  background-size: cover;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
		width: 100%;
		z-index: 3;
    mix-blend-mode: multiply;
    opacity: 0.8;
  }

  h1 {
    position: relative;
    float: left;
    margin: 0 0 0 $global-margin*-1;
    padding: rem-calc(15) $global-margin*1.5 rem-calc(18) $global-margin;
    font-weight: $global-weight-bold;
    line-height: 1.2;
    max-width: calc(100% - #{$global-margin});
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    @include breakpoint(medium down) {
      font-size: calc(1rem + 1vw);
    }

    @include breakpoint(large) {
      max-width: 14em;
      padding: rem-calc(15) rem-calc(50) rem-calc(18);
    }

    span {
      display: inline-block;
    }
  }
}

.section-header {
  text-transform: uppercase !important;
  letter-spacing: 0.2em !important;
  word-spacing: 0.2em !important;
  margin-bottom: 1.5em !important;
  padding: 1rem !important;
}


.event-meta {
  color: $charcoal;
  font-weight: 600;

  .icon--inline {
    color: $lf-red;
  }
}


// Responsive embeds
.wp-block-embed.is-type-video .wp-block-embed__wrapper {
  @include responsive-embed(3 by 4);
}

.wp-block-embed.is-type-video.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
  @include responsive-embed(16 by 9);
}


// Sidebar widgets
.sidebar-widgets {
	.widget + .widget {
		margin-top: rem-calc(40);
		padding-top: rem-calc(30);
		border-top: $hr-border;
	}
}

// Styles for IE only
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	// countdown clock
	.ub_countdown_circular_container {
		display: none;
	}
}

// Images in background (re-usable!)
// apply to container
.background-image-wrapper {
	overflow: hidden;
	position: relative;
}

figure {
	// properly reset for all browsers
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

// apply to figure
.figure-container img {
	width: 100%;
	// height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: 1;
	// added below to stop flexbox messing with the height on load.
	display: block;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
}

// apply to content inside
.content-wrapper {
	position: relative;
	z-index: 10;
}
