.gform_wrapper {
  padding: 0 0 $global-margin;

  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    color: $input-color !important;
  }

  .gform_title {
    // font-size: rem-calc(20);
    @extend h4;
  }

  .gform_heading {
    // font-weight: $global-weight-bold;
    margin-bottom: $global-margin;
    opacity: 0.8;
  }

  .gfield {
    margin-bottom: $paragraph-margin-bottom*2;
  }

  ul.gform_fields,
  ul.gfield_checkbox,
  ul.gfield_radio {
    list-style: none;
    margin-left: 0;
  }

  ul.gfield_checkbox,
  ul.gfield_radio {
    li {
      @include clearfix();
      padding-left: rem-calc(40);
      margin: $global-margin/2 0;
    }

    input[type="checkbox"],
    input[type="radio"] {
      margin-top: 0.3em;
      margin-left: rem-calc(-40);
      margin-bottom: 0;

      &,
      & + label {
        vertical-align: top;
      }
    }
  }

  .ginput_complex {
    margin-bottom: $global-margin;

    @include breakpoint(medium) {

      @include xy-grid($direction:horizontal, $wrap:true);
      @include xy-gutters($negative:true);

      .ginput_full {
        @include xy-cell(12);
      }

      .ginput_left,
      .ginput_right,
      .name_first,
      .name_last {
        @include xy-cell(6);
      }

      input,
      select {
        margin-bottom: 0;

        & + label {
          opacity: 0.8;
          margin-bottom: $global-margin;
          font-size: rem-calc(12);
          font-style: italic;
        }
      }
    }
  }

  .hidden_label .gfield_label {
    // hide except for screen readers
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .gfield_description {
    opacity: 0.8;
    margin-bottom: $global-margin;
    font-size: rem-calc(12);
    font-style: italic;
  }

  .gform_button[type='submit'] {
    @include button-expand();
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .validation_error,
  .gfield_error {
    @include callout(get-color(alert));
    font-size: rem-calc(14);

    &,
    .gfield_required,
    .gfield_label {
      color: get-color(alert) !important;
    }
  }

  input[aria-invalid="true"] {
    @include form-input-error();
  }

  .validation_message {
    @include form-error;
    color: get-color(alert) !important;
    display: block;
  }
}

.gform_confirmation_wrapper {

  .gform_confirmation_message {
    @include callout(get-color(success));
    color: $green-dark !important;
    text-align: center;
    font-size: rem-calc(18);

    @include breakpoint(large) {
      padding: 3rem;
    }
  }
}

.ginput_recaptcha {
  margin-bottom: $global-margin;
}
