.home-hero {
  position: relative;
  margin-bottom: $global-margin;
  padding-top: 33vw;
  top: -1px; // prevent faint line between nav and hero

  @include breakpoint(large) {
    padding-top: 0;
  }

  .bg-animation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    height: 33vw;
    z-index: 1;

    @include breakpoint(large) {
      bottom: 0;
      left: 50%;
      height: auto;
    }
  }

  .bg-images {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    height: 33vw;
    z-index: 3;
    mix-blend-mode: screen;

    @include breakpoint(large) {
      bottom: 0;
      left: 50%;
      height: auto;
    }

    .bg-image {
      background-color: #fff;
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .grid-container {
    position: relative;
    z-index: 4;
    padding-top: $global-margin;
    padding-bottom: $global-margin;

    @include breakpoint(large) {
      padding-top: $global-margin*2;
      padding-bottom: $global-margin*2;
      background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 80%);

      h1, h2, h3, h4, h5, h6 {
        max-width: 43rem;
        text-shadow: 0 0 20px #fff;
      }
    }

    @include breakpoint(xxlarge) {
      padding-top: 4vw;
      padding-bottom: 4vw;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

.home-hero {
  &::before,
  .bg-animation::before,
  .bg-animation::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    height: 33vw;
    z-index: 2;
    mix-blend-mode: multiply;

    @include breakpoint(large) {
      bottom: 0;
      height: auto;
    }
  }

  &::before {
    background-color: rgba(90,180,100,0.7);
    background: linear-gradient(90deg, rgba(20,90,30,0.7) 0%, rgba(140,200,160,0.7) 100%);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 2vw)
    );
    animation: edge1 15s alternate infinite;
    @include breakpoint(large) {
      left: 50%;
    }
  }

  .bg-animation::before {
    left: 0;
    background-color: rgba(160,80,100,0.7);
    background: linear-gradient(90deg, rgba(170,90,110,0.7) 0%, rgba(90,10,30,0.7) 100%);
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 2vw),
      0 100%
    );
    animation: edge2 10s alternate infinite;
  }

  .bg-animation::after {
    left: 0;
    background-color: rgba(90,100,180,0.7);
    background: linear-gradient(90deg, rgba(20,30,100,0.7) 0%, rgba(120,130,190,0.7) 100%);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 3vw)
    );
    animation: edge3 12s alternate infinite;
  }
}

@keyframes edge1 {
  0% {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 2vw)
    );
  }
  100% {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 4vw),
      0 100%
    );
  }
}

@keyframes edge2 {
  0% {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 2vw),
      0 100%
    );
  }
  100% {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 1vw),
      0 calc(100% - 4vw)
    );
  }
}

@keyframes edge3 {
  0% {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 3vw)
    );
  }
  100% {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 3vw),
      0 calc(100% - 1vw)
    );
  }
}
