.speakers-section {
  color: white;
  background-color: rgba(10,59,97,100);
  padding-right: 0 !important;
  padding-left: 0 !important;

  .speakers-section-title {
    // box-shadow: inset 0 0 0 calc(100vw + 100vh) rgba(0,0,0,0.2);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 1rem;
    text-align: center;
  }

  .speaker-list {
    list-style: none;
    margin: 0;
    justify-content: center;
  }

  .speaker {
    position: relative;
    padding: 1rem;
    overflow: hidden;

    &:hover {
      box-shadow: inset 0 0 0 calc(100vw + 100vh) rgba(0,0,0,0.1);
    }

    a {
      color: inherit;
    }

    .headshot {
      cursor: pointer;
      width: 100%;
      border-radius: 0 0 6vw 6vw;
      box-shadow: 0 0 0 0.25rem rgba(0,0,0,0.1);
      margin: -1rem 0 0.75rem;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center;
      mix-blend-mode: luminosity; // normal|multiply|screen|overlay|darken|lighten|color-dodge|color-burn|difference|exclusion|hue|saturation|color|luminosity

      @include breakpoint(medium) {
        border-radius: 0 0 4vw 4vw;
      }

      @include breakpoint(large) {
        margin: 0 0 0 -1rem;
        border-radius: 0 2vw 2vw 0;
      }
    }

    &:hover {
      .headshot {
        mix-blend-mode: normal; // normal|multiply|screen|overlay|darken|lighten|color-dodge|color-burn|difference|exclusion|hue|saturation|color|luminosity
      }
    }

    .text {

      @include breakpoint(large) {
        padding-top: 1rem;
      }

      .name,
      .title {
        display: block;
        line-height: 1.2;
        margin-bottom: 0.25em;
      }

      .name {
        font-weight: bold;
        font-size: rem-calc(18);

        @include breakpoint(large) {
          font-size: rem-calc(20);
        }
      }

      .title {
        @include button-dropdown(0.4em, currentColor, 1rem);
        opacity: 0.7;
        display: flex;

        @include breakpoint(xlarge) {
          font-size: rem-calc(18);
        }

        &::after {
          opacity: 0.7;
        }
      }

      .bio {
        margin-top: 0.75rem;
        font-size: rem-calc(14);
      }

      .social-media-links {
        list-style: none;
        margin: 0.75rem 0 0;

        li {
          display: inline-block;
          margin-right: 0.5rem;

          a {
            opacity: 0.5;

            &:hover {
              opacity: 1;
            }
          }

          svg {
            fill: #fff;
            width: rem-calc(30);
            height: rem-calc(30);

            @include breakpoint(large) {
              width: rem-calc(24);
              height: rem-calc(24);
            }

            @include breakpoint(xxlarge) {
              width: rem-calc(18);
              height: rem-calc(18);
            }
          }
        }
      }
    }

    // Toggling stuff
    .bio {
      display: none;
    }

    &.open {
      .bio {
        display: block;
      }

      .title::after {
        transform: scaleY(-1);
      }
    }
  }
}
