/** === Sponsors logos === */
.wp-block-cgb-sponsors-block {
	max-width: 100%;
	overflow: visible;
}

.sponsors-logos--header {
	text-transform: uppercase;
	letter-spacing: 0.2em !important;
	border-bottom: 1px solid currentColor;
	text-align: center;
	margin: $global-margin $global-margin rem-calc(40);
	padding: rem-calc(40) 0 rem-calc(10);
	}

.sponsors-logos {
	@include xy-grid;
	@include flex-align(center, null);
	@include xy-grid-layout(1, '.sponsors-logo-item', true);
	margin: 0 0 $global-margin;

	// Size logos with modular scale - https://www.modularscale.com/?300&&1.2009
	// A 1.2009 ratio (rounded) gets 7 tiers from 300 to 100.
	&.jumbo    .logo { width: rem-calc(432); height: rem-calc(432 / 1.95); }
	&.largest  .logo { width: rem-calc(300); height: rem-calc(300 / 1.95); }
	&.larger   .logo { width: rem-calc(250); height: rem-calc(250 / 1.95); }
	&.large    .logo { width: rem-calc(208); height: rem-calc(208 / 1.95); }
	&.medium   .logo { width: rem-calc(173); height: rem-calc(173 / 1.95); }
	&.small    .logo { width: rem-calc(144); height: rem-calc(144 / 1.95); }
	&.smaller  .logo { width: rem-calc(120); height: rem-calc(120 / 1.95); }
	&.smallest .logo { width: rem-calc(100); height: rem-calc(100 / 1.95); }

	&.jumbo {
		@include breakpoint(medium) {
			@include xy-grid-layout(2, '.sponsors-logo-item', true);
		}
	}

	&.largest {
		@include breakpoint(medium) {
			@include xy-grid-layout(2, '.sponsors-logo-item', true);
		}
		@include breakpoint(large) {
			@include xy-grid-layout(3, '.sponsors-logo-item', true);
		}
	}

	&.larger {
		@include breakpoint(medium) {
			@include xy-grid-layout(2, '.sponsors-logo-item', true);
		}
		@include breakpoint(large) {
			@include xy-grid-layout(3, '.sponsors-logo-item', true);
		}
		@include breakpoint(xxlarge) {
			&:not(.orphan-by-4) {
				@include xy-grid-layout(4, '.sponsors-logo-item', true);
			}
		}
	}

	&.large {
		@include breakpoint(medium) {
			@include xy-grid-layout(2, '.sponsors-logo-item', true);
		}
		@include breakpoint(large) {
			@include xy-grid-layout(3, '.sponsors-logo-item', true);
			&:not(.orphan-by-4) {
				@include xy-grid-layout(4, '.sponsors-logo-item', true);
			}
		}
		@include breakpoint(xxlarge) {
			@include xy-grid-layout(4, '.sponsors-logo-item', true);
			&:not(.orphan-by-5) {
				@include xy-grid-layout(5, '.sponsors-logo-item', true);
			}
		}
	}

	&.medium {
		@include xy-grid-layout(2, '.sponsors-logo-item', true);
		@include breakpoint(medium) {
			@include xy-grid-layout(3, '.sponsors-logo-item', true);
		}
		@include breakpoint(large) {
			&:not(.orphan-by-4) {
				@include xy-grid-layout(4, '.sponsors-logo-item', true);
			}
		}
		@include breakpoint(xxlarge) {
			@include xy-grid-layout(4, '.sponsors-logo-item', true);
			&:not(.orphan-by-5) {
				@include xy-grid-layout(5, '.sponsors-logo-item', true);
			}
		}
	}

	&.small {
		@include xy-grid-layout(3, '.sponsors-logo-item', true);
		@include breakpoint(medium) {
			&:not(.orphan-by-4) {
				@include xy-grid-layout(4, '.sponsors-logo-item', true);
			}
		}
		@include breakpoint(large) {
			@include xy-grid-layout(4, '.sponsors-logo-item', true);
			&:not(.orphan-by-5) {
				@include xy-grid-layout(5, '.sponsors-logo-item', true);
			}
		}
		@include breakpoint(xxlarge) {
			@include xy-grid-layout(5, '.sponsors-logo-item', true);
			&:not(.orphan-by-6) {
				@include xy-grid-layout(6, '.sponsors-logo-item', true);
			}
		}
	}

	&.smaller {
		@include xy-grid-layout(4, '.sponsors-logo-item', true);
		@include breakpoint(medium) {
			&:not(.orphan-by-5) {
				@include xy-grid-layout(5, '.sponsors-logo-item', true);
			}
		}
		@include breakpoint(large) {
			@include xy-grid-layout(5, '.sponsors-logo-item', true);
			&:not(.orphan-by-6) {
				@include xy-grid-layout(6, '.sponsors-logo-item', true);
			}
		}
		@include breakpoint(xxlarge) {
			@include xy-grid-layout(6, '.sponsors-logo-item', true);
			&:not(.orphan-by-7) {
				@include xy-grid-layout(7, '.sponsors-logo-item', true);
			}
		}
	}

	&.smallest {
		@include xy-grid-layout(5, '.sponsors-logo-item', true);
		@include breakpoint(medium) {
			&:not(.orphan-by-6) {
				@include xy-grid-layout(6, '.sponsors-logo-item', true);
			}
		}
		@include breakpoint(large) {
			@include xy-grid-layout(6, '.sponsors-logo-item', true);
			&:not(.orphan-by-7) {
				@include xy-grid-layout(7, '.sponsors-logo-item', true);
			}
		}
		@include breakpoint(xxlarge) {
			@include xy-grid-layout(7, '.sponsors-logo-item', true);
			&:not(.orphan-by-8) {
				@include xy-grid-layout(8, '.sponsors-logo-item', true);
			}
		}
	}

	.sponsors-logo-item {
    position: relative;
		text-align: center;

		a img {
			transform-origin: 50% 50%;
			transition: transform 0.2s;

			&:hover {
				transform: scale(1.1);
			}
		}

    .logo {
      margin: 0 0 3vw;

      &.admin-preview {
        margin-bottom: 0 !important;
      }
    }

    .remove-item {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }
	}
}

[data-type="cgb/sponsors-block"] {
  max-width: 100%;
}
