//
// Tables
// --------------------------------------------------
table {

  &, tbody, tr {
    background-color: transparent;
  }

  td {
    font-size: calc(#{rem-calc(10)} + 0.5vw);
    box-shadow: inset 0 0 0 9999px $white;
    border: 0.75rem solid transparent;
    padding: 2vw 4vw;

    &, * {
      background-color: transparent !important;
    }

    a {
      text-decoration: underline;
    }

    em {
      font-family: $font-family-monospace;
      font-style: normal;
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}
