.spotlights-wrapper {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(3, 1fr);
	background-color: $white;
	padding: 10px;
}

.spotlight-box {
	h5 {
		margin-bottom: 0.5rem !important;
	}
}
